  
          <div id="africa" class="tab-section" style="margin:0 auto; width:1002px; position:relative ">
       <div class="left-map"> <img src="@Url.Content("~/images/africa-map.png")" /> </div>
              <div class="right-map"><h2></h2>
                  <div class="right-panel">
                      <div class="stump_bg1"> 
	
	
                          <div class="drop-bg" style="margin:0px 0px 0px -21px;">
                              <form action="#" method="post" accept-charset="utf-8" class="example_form">
                                  <select name="countries" id="from-africa" style="width:54px; float:left; margin:0px 7px 0px 0px;" >
                                        @foreach(var item in Model.ListOfFromCountries)
          {
           <option value='@item.Id' data-image="images/blank.gif" data-imagecss="@item.ImageClass" data-title="@item.Name"></option>
          }
                                     @* <option value='1' data-image="images/blank.gif" data-imagecss="usa_big" data-title="U.S.A"></option>
                                      <option value='2' data-image="images/blank.gif" data-imagecss="canada_big" data-title="Canada"></option>
                                      <option value='3' data-image="images/blank.gif" data-imagecss="uk_big" data-title="United Kingdom"></option>*@
                                      @* <option value='nz' data-image="images/blank.gif" data-imagecss="nz_big" data-title="New Zealand"></option>
          <option value='au' data-image="images/blank.gif" data-imagecss="aus_big" data-title="Australia"></option>*@
                                  </select>
                              </form>
					    
 
                              <div id="ms-Africa" class="ms-ctn  ms-ctn-bootstrap-focus" style="width:220px; float: left; height: 34px; margin-bottom:15px; margin-top:-2px;">
                                  <div id="ms-trigger-2" class="ms-trigger"><div class="ms-trigger-ico"></div></div><div class="ms-helper " style="display: none;"></div><div id="ms-sel-ctn1" class="ms-sel-ctn">
                                                                                                                                                                             <input id="ms-input-2" type="text" class="" value="Enter the country you wish to call" style="width: 188px;"><input type="hidden" value="[]"></div></div>
	   
                              <script>
                var countryid = $("#country-byip").val();
                function setSelectedIndex(s, valsearch) {
                    // Loop through all the items in drop down list
                    for (var i = 0; i < s.options.length; i++) {
                        if (s.options[i].value == valsearch) {
                            // Item is found. Set its property and exit
                            s.options[i].selected = true;
                            break;
                        }
                    }
                    return;
                }
                setSelectedIndex(document.getElementById("from-africa"), countryid);
                
            </script>
                          </div>
                          <ul class="bottom-div-1">
                              <li><span>Excellent</span></li>
                              <li><span>East to Use</span></li>
                              <li><span>Secure</span></li>
                              <li style="margin-top: 3px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              line-height: 18px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              width: 143px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          }"><span>100% Quality Guarantee</span></li>
                          </ul>
                          <div></div>
                      </div>
					    
 
 			
                  </div>
	   
                  <div class="clear"></div>
	 
              </div>
              
              @foreach (var res in Model.MapRateList)
              {

                  if (res.CountrytoId == 305)
                  {

                       <span class="algeria_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Algeria</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>
                  }
                  if (res.CountrytoId == 219)
                  {
                       <span class="morocco_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Morocco</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>
                  }
                  if (res.CountrytoId == 304)
                  {
                       <span class="tunisia_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Tunisia</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }
                  if (res.CountrytoId == 192)
                  {

                       <span class="libya_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Libya</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>
                  }

                  if (res.CountrytoId == 87)
                  {

                       <span class="egypt_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Egypt</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }
                  if (res.CountrytoId == 207)
                  {
                       <span class="mauritania_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Mauritania</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }
                  if (res.CountrytoId == 204)
                  {
                       <span class="mali_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Mali</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }
                  if (res.CountrytoId == 231)
                  {
                       <span class="niger_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Niger</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }
                  if (res.CountrytoId == 62)
                  {
                       <span class="chad_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Chad</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }
                  if (res.CountrytoId == 289)
                  {
                       <span class="sudan_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Sudan</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }
                    if (res.CountrytoId == 289)
                  {
                      <span class="south_sudan_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>South Sudan</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>
              }
                  if (res.CountrytoId == 89)
                  {
                       <span class="eritrea_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Eritrea</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }
                  if (res.CountrytoId == 91)
                  {
                       <span class="ethiopia_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Ethiopia</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>
                  }
                  if (res.CountrytoId == 274)
                  {
                       <span class="somalia_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Somalia</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>
                  }

                  if (res.CountrytoId == 315)
                  {
     <span class="uganda_flag">
         <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
             <b></b>
             <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                 <h3>Uganda</h3>
                 <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                 <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
             </span>            </a>            </span>
                  }

                  if (res.CountrytoId == 103)
                  {
                       <span class="gambia_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Gambia</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>
                  }
                  if (res.CountrytoId == 266)
                  {
                       <span class="senegal_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Senegal</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }


                  if (res.CountrytoId == 191)
                  {
                       <span class="liberia_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Liberia</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }

                  if (res.CountrytoId == 305)
                  {
                       <span class="cotedivoire_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Cote d'Ivoire</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }
                  if (res.CountrytoId == 122)
                  {
                       <span class="guinea_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Guinea</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }
                  if (res.CountrytoId == 269)
                  {
                       <span class="sierraleone_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Sierra Leone</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>
                  }


                  if (res.CountrytoId == 110)
                  {
                       <span class="ghana_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Ghana</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }
                  if (res.CountrytoId == 301)
                  {
     <span class="togo_flag">
         <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
             <b></b>
             <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                 <h3>Togo</h3>
                 <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                 <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
             </span>            </a>            </span>

                  }

                  if (res.CountrytoId == 37)
                  {
                       <span class="benin_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Benin</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }


                  if (res.CountrytoId == 232)
                  {
                       <span class="nigeria_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Nigeria</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>
                  }


                  if (res.CountrytoId == 56)
                  {
                       <span class="cameroon_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Cameroon</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>
                  }


                  if (res.CountrytoId == 552)
                  {
                       <span class="equatorialguinea_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Equatorial Guinea</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }



                  if (res.CountrytoId == 102)
                  {
                       <span class="gabon_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Gabon</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>
                  }




                  if (res.CountrytoId == 327)
                  {
                       <span class="congo_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Congo</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>
                  }



                  if (res.CountrytoId == 305)
                  {
                       <span class="democraticrepublic_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Democratic Republic of Congo </h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }


                  if (res.CountrytoId == 60)
                  {
                       <span class="centralafrican_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Central African Republic </h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }



                  if (res.CountrytoId == 180)
                  {
                       <span class="kenya_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Kenya</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }



                  if (res.CountrytoId == 679)
                  {
                       <span class="tanzania_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Tanzania</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }



                  if (res.CountrytoId == 6)
                  {
                       <span class="angola_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Angola</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>
                  }


                  if (res.CountrytoId == 328)
                  {
                       <span class="zambia_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Zambia</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }



                  if (res.CountrytoId == 199)
                  {
                       <span class="malawi_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Malawi</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }



                  if (res.CountrytoId == 448)
                  {

                       <span class="zimbabwe_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Zimbabwe</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>


                  }


                  if (res.CountrytoId == 42)
                  {

                       <span class="botswana_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Botswana</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }

                  if (res.CountrytoId == 222)
                  {
                       <span class="namibia_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Namibia</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>
                  }

                  if (res.CountrytoId == 275)
                  {
                       <span class="southafrica_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>South Africa</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>
                  }


                  if (res.CountrytoId == 378)
                  {
                       <span class="mauritius_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Mauritius</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }

                  if (res.CountrytoId == 220)
                  {
                       <span class="mozambique_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Mozambique</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }


                  if (res.CountrytoId == 291)
                  {
                       <span class="swaziland_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Swaziland</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>

                  }

                  if (res.CountrytoId == 68)
                  {

                       <span class="comoros_flag">
                           <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.MapCountry, countryto = res.CountrytoId })" class="tooltip_map">
                               <b></b>
                               <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                   <h3>Comoros</h3>
                                   <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                   <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>
                               </span>            </a>            </span>
                  }
              }
                  	</div>
