@*  <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>

<script src="@Url.Content("~/Scripts/magicSuggest-1.3.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/MapPage.js")" type="text/javascript"></script>  		  *@	 
		
		    <div id="asia" class="tab-section" style="margin:0 auto; width:1002px; position:relative;">  
       <div class="left-map"> <img src="@Url.Content("~/images/asia-map.png")" /> </div>
	   <div class="right-map">
	   <div class="right-panel">
	          <div class="stump_bg1"> 
	
	
	<div class="drop-bg" style="margin:0px 0px 0px -21px;">
	           <form action="#" method="post" accept-charset="utf-8" class="example_form">
           <select name="countries" id="from-asia" style="width:54px; float:left; margin:0px 7px 0px 0px;" >
                 @foreach(var item in Model.ListOfFromCountries)
          {
           <option value='@item.Id' data-image="images/blank.gif" data-imagecss="@item.ImageClass" data-title="@item.Name"></option>
          }
      @*    <option value='1' data-image="images/blank.gif" data-imagecss="usa_big" data-title="U.S.A"></option>
          <option value='2' data-image="images/blank.gif" data-imagecss="canada_big" data-title="Canada"></option>
          <option value='3' data-image="images/blank.gif" data-imagecss="uk_big" data-title="United Kingdom"></option>*@
          @*<option value='4' data-image="images/blank.gif" data-imagecss="nz_big" data-title="New Zealand"></option>
          <option value='5' data-image="images/blank.gif" data-imagecss="aus_big" data-title="Australia"></option>*@
        </select>
          </form>
					    
 
	    <div id="ms-asia" class="ms-ctn  ms-ctn-bootstrap-focus" style="width:220px; float: left; height: 34px; margin-bottom:15px; margin-top:-2px;">
	        <div id="ms-trigger-1" class="ms-trigger"><div class="ms-trigger-ico"></div></div><div class="ms-helper " style="display: none;"></div><div id="ms-sel-ctn" class="ms-sel-ctn">
	                                                                                                                                            
                  
           <input id="ms-input-1" type="text" class="" value="Enter the country you wish to call" style="width: 188px;"><input type="hidden" value="[]"></div></div>
	<script>
                var countryid = $("#country-byip").val();
                function setSelectedIndex(s, valsearch) {
                    // Loop through all the items in drop down list
                    for (var i = 0; i < s.options.length; i++) {
                        if (s.options[i].value == valsearch) {
                            // Item is found. Set its property and exit
                            s.options[i].selected = true;
                            break;
                        }
                    }
                    return;
                }
                setSelectedIndex(document.getElementById("from-asia"), countryid);
                
            </script>
    </div>
	<ul class="bottom-div-1">
	<li><span>Excellent</span></li>
	<li><span>East to Use</span></li>
	<li><span>Secure</span></li>
	<li style="margin-top: 3px;
line-height: 18px;
width: 143px;
}"><span>100% Quality Guarantee</span></li>
	</ul>
	<div></div>
	</div>
				
 			
	   </div>
	   
	   <div class="clear"></div>
	   
	   </div>
		     
                 @foreach (var res in Model.MapRateList)
                 {
                     if (res.CountrytoId == 130)
                      {
                          <span class="india_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
            
                                      <h3>India</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" />@res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" />@res.MobileRate</label>
                                  </span>            </a>            </span>
                      }
                     if (res.CountrytoId == 64)
                      {
                          <span class="china_flag flagasia_hover">
                             <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>China</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" />@res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" />@res.MobileRate</label>
                                  </span>            </a>            </span>
                      }
                     if (res.CountrytoId == 224)
                      {
                          <span class="nepal_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Nepal</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" />@res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" />@res.MobileRate</label>            
                                  </span>            </a>            </span>
                      }
                     if (res.CountrytoId == 39)
                      {
                          <span class="bhutan_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Bhutan</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" />@res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" />@res.MobileRate</label>            
                                  </span>            </a>            </span>
                      }
                     if (res.CountrytoId == 27)
                      {
                          <span class="bangladesh_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Bangladesh</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" />@res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" />@res.MobileRate</label>            
                                  </span>            </a>            </span>
                      }
                     if (res.CountrytoId == 281)
                      {
                          <span class="srilanka_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>SriLanka</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" />@res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" />@res.MobileRate</label>            
                                  </span>            </a>            </span>
                      }
                     if (res.CountrytoId == 203)
                      {
                          <span class="maldives_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Maldives</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" />@res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" />@res.MobileRate</label>            
                                  </span>            </a>            </span>
                      }
                     if (res.CountrytoId == 26)
                      {
                          <span class="bahrain_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Bahrain</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" />@res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" />@res.MobileRate</label>            
                                  </span>            </a>            </span>
                      }
                     if (res.CountrytoId == 166)
                      {
                          <span class="indonesia_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Indonesia</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" />@res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" />@res.MobileRate</label>            
                                  </span>            </a>            </span>
                      }
                     if (res.CountrytoId == 238)
                      {
                          <span class="pakistan_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Pakistan</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" />@res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" />@res.MobileRate</label>           
                                  </span>            </a>            </span>
                      }

                     if (res.CountrytoId == 1)
                      {
                          <span class="afganistan_flag">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Afganistan</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" />@res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" />@res.MobileRate</label>            
                                  </span>            </a>            </span>
                      }
                     if (res.CountrytoId == 179)
                      {
                          <span class="kazahstan_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Kazahstan</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" />@res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" />@res.MobileRate</label>            
                                  </span>            </a>            </span>
                      }
                     if (res.CountrytoId == 318)
                      {
                          <span class="uzbekistan_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Uzbekistan</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" />@res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" />@res.MobileRate</label>            
                                  </span>            </a>            </span>
                      }
                     if (res.CountrytoId == 258)
                      {
                          <span class="russia_flag">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span class="flagasia_active"><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Russia</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" />@res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" />@res.MobileRate</label>            
                                  </span>            </a>            </span>
                      }
                     if (res.CountrytoId == 217)
                      {
                          <span class="mongolia_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Mongolia</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" />@res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" />@res.MobileRate</label>            
                                  </span>            </a>            </span>
                      }
                     if (res.CountrytoId == 428)
                      {
                          <span class="north_korea flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>North Korea</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
                                  </span>            </a>            </span>
                      }
                     if (res.CountrytoId == 277)
                      {
                          <span class="south_korea flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>South Korea</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
                                  </span>            </a>            </span>
                      }

                     if (res.CountrytoId == 296)
                      {
                          <span class="taiwan_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Taiwan</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" />@res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
                                  </span>            </a>            </span>

                      }
if (res.CountrytoId == 55)
 {
     <span class="cambodia_flag flagasia_hover">
         <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
             <b></b>
             <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                 <h3>Cambodia</h3>
                 <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                 <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
             </span>            </a>            </span>
 }
if (res.CountrytoId == 167)
 {
     <span class="iran_flag flagasia_hover">
         <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
             <b></b>
             <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                 <h3>Iran</h3>
                 <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                 <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
             </span>            </a>            </span>
 }
                     if (res.CountrytoId == 178)
                      {
                          <span class="israel_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Israel</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>           
                                  </span>            </a>            </span>
                      }

                     if (res.CountrytoId == 178)
                      {
                          <span class="jordon_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Jordan</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
                                  </span>            </a>            </span>
                      }
                     if (res.CountrytoId == 185)
                      {
                          <span class="kuwait_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Kuwait</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
                                  </span>            </a>            </span>
                      }
if (res.CountrytoId == 187)
 {
     <span class="laos_flag flagasia_hover">
         <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
             <b></b>
             <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                 <h3>Laos</h3>
                 <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                 <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
             </span>            </a>            </span>
 }
if (res.CountrytoId == 200)
 {
     <span class="malaysia_flag">
         <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
             <b></b>
             <span class="flagasia_active"><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                 <h3>Malaysia</h3>
                 <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                 <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
             </span>            </a>            </span>
 }
if (res.CountrytoId == 221)
 {
     <span class="myanmar_flag flagasia_hover">
         <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
             <b></b>
             <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                 <h3>Myanmar</h3>
                 <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                 <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
             </span>            </a>            </span>
 }
if (res.CountrytoId == 299)
 {
     <span class="thailand_flag flagasia_hover">
         <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
             <b></b>
             <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                 <h3>Thailand</h3>
                 <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                 <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
             </span>            </a>            </span>
 }
if (res.CountrytoId == 169)
 {
     <span class="iraq_flag flagasia_hover">
         <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
             <b></b>
             <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                 <h3>Iraq</h3>
                 <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                 <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
             </span>            </a>            </span>
 }
if (res.CountrytoId == 295)
 {
     <span class="syria_flag flagasia_hover">
         <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
             <b></b>
             <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                 <h3>Syria</h3>
                 <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                 <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
             </span>            </a>            </span>
 }
if (res.CountrytoId == 189)
 {
     <span class="lebanon_flage flagasia_hover">
         <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
             <b></b>
             <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                 <h3>Lebanon</h3>
                 <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                 <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
             </span>            </a>            </span>
 }
if (res.CountrytoId == 237)
 {
     <span class="oman_flag flagasia_hover">
         <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
             <b></b>
             <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                 <h3>Oman</h3>
                 <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                 <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
             </span>            </a>            </span>
 }
if (res.CountrytoId == 248)
 {
     <span class="philippines_flag flagaia_hover">
         <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
             <b></b>
             <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                 <h3>Philippines</h3>
                 <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                 <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
             </span>            </a>            </span>
 }
if (res.CountrytoId == 248)
 {
     <span class="qatar_flag flagasia_hover">
         <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
             <b></b>
             <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                 <h3>Qatar</h3>
                 <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                 <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
             </span>            </a>            </span>
 }

if (res.CountrytoId == 265)
 {
     <span class="saudiarabia_flag flagasia_hover">
         <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
             <b></b>
             <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                 <h3>Saudi Arabia</h3>
                 <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                 <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
             </span>            </a>            </span>

 }

if (res.CountrytoId == 270)
 {
     <span class="singapore_flag flagasia_hover">
         <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
             <b></b>
             <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                 <h3>Singapore</h3>
                 <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                 <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
             </span>            </a>            </span>

 }
                     if (res.CountrytoId == 297)
                      {
                          <span class="tajikistan_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Tajikistan</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
                                  </span>            </a>            </span>
                      }

                     if (res.CountrytoId == 305)
                      {
                          <span class="turkey_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span class="flagasia_active"><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Turkey</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
                                  </span>            </a>            </span>
                      }
                     if (res.CountrytoId == 309)
                      {
                          <span class="uae_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>UAE</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
                                  </span>            </a>            </span>
                      }

                     if (res.CountrytoId == 323)
                      {

                          <span class="vietnam_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Vietnam</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
                                  </span>            </a>            </span>

                      }
                     if (res.CountrytoId == 325)
                      {
                          <span class="yemen_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Yemen</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
                                  </span>            </a>            </span>

                      }
                     if (res.CountrytoId == 177)
                      {

                          <span class="japan_flag flagasia_hover">
                              <a href="@Url.Action("SearchRate","Rate" ,  new {countryfrom=Model.MapCountry,countryto=res.CountrytoId})" class="tooltip_map">
                                  <b></b>
                                  <span><img class="callout_map" src="@Url.Content("~/images/callout_images_new.png")" alt="Tooltip callout">
                                      <h3>Japan</h3>
                                      <label><img src="@Url.Content("~/images/landline.jpg")" alt="" /> @res.LandLineRate</label>
                                      <label><img src="@Url.Content("~/images/mobile.jpg")" alt="" /> @res.MobileRate</label>            
                                  </span>            </a>            </span>
                      }
                 }
	</div>
		
   				
	  		
      
