@model Raza.Model.EditCreditCardModel
<form class="credit-form top-m" id="credit-cardupdate">
    <h3>Update Credit Card</h3>
    <div id="st-msg" style="padding-left: 200px;font-size:14px;font-weight: bold;color:red"></div>
    <div class="spacer">
    </div>
    <input type="hidden" name="CreditCardId" id="hid-creditcardId" value="@Model.CreditCardId"/>
    <fieldset>
        <label>
            Name on Card</label>
        <input type="text" value="@Model.CreditCardName" class="input" id="NameOnCard"  />

        <label>
            Credit Card</label>
        <input type="text" value="@Model.CreditCardNumber" disabled="disabled" size="16" maxlength="16" name="Card_Number" id="Card_Number" onkeypress="return  numberOnly();"  />
    </fieldset>
    <fieldset>
        <label>
            Expiration Date</label>
        @Html.DropDownListFor(a => a.ExpiryMonth, new SelectList(Model.ExpMonthList, "Value", "Text"), new { @class = "popup_selectbox1", @id = "ExpMonth" })

        @*        <select class="popup_selectbox2" id="cmbExpYear" name="cmbExpYear">
         <option value="">Select Year</option>            
        </select>*@
        @Html.DropDownListFor(a => a.ExpiryYear, new SelectList(Model.ExpYearList, "Value", "Text"), new { @class = "popup_selectbox2", @id = "ExpYear" })
        <label style="margin-left: 35px;">
            CVV</label>
        <input type="text" value="" size="4" maxlength="4" id="CVV2" name="CVV2" onkeypress="return  numberOnly();" />
    </fieldset>

    <input type="submit" class="update-btn input_center" id="AddCard-click" value="" />
    <input type="button" class="close-btn input_center_close" value="" onclick="close_updateform()" />

</form>

<script>
    function close_updateform() {
        $("#credit-cardupdate").slideUp("slow");

    }

    $("#credit-cardupdate").submit(function () {
        debugger;
        var creditCardId = $("#hid-creditcardId").val();
        var nameOnCard = $("#NameOnCard").val();
        var expmnth = $("#ExpMonth").val();
        var expYear = $("#ExpYear").val();
        var cvv = $("#CVV2").val();
        if (expmnth.length == 0 || expYear.length == 0 || cvv == undefined || cvv.length == 0) {
            return false;
        }
        $.ajax({
            url: '/Account/UpdateCreditCard',
            type: 'POST',
            data: {
                CreditCardId: creditCardId,
                CreditCardName: nameOnCard,
                ExpiryMonth: expmnth,
                ExpiryYear: expYear,
                CVV: cvv
            },
            success: function (resp) {
                $("#st-msg").html(resp.message);
                window.location.href = "";
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });


        return false;
    });
</script>
