@model MvcApplication1.Models.CartAuthenticateModel
@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>  

 <div id="inner_body_container">
    <div id="banner">
        <img src="@Url.Content("~/images/confirmation-banner1.jpg")" /></div>

    <div class="form_field">
        <h2 class="title_black"></h2>
        <div id="auto-refill">
            <div id="auto-refill-scroller">
                <div class="top-bg">
                    <h1>Order Confirmation</h1>
                </div>
                <div class="repeat-scroller-bg">
                    <div class="editprofile_b">
                        <div id="edit-profile">
                            <div class="hanging">
                                <p class="hanging_para">
                                    Purchase Date:<span class="hanging_s"> @DateTime.Now.ToString("M/d/yyyy HH:mm:ss")<strong>(EST)</strong></span>
                                </p>
                            </div>
                            <div class="clear">
                            </div>
                            <h3 class="align_centet">@Model.FinalResponseMessage</h3>
                       
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="local-veri-text">
                                <tbody>
                                    <tr class="email_order">
                                        <td class="credit_new_theading_1" align="center" bgcolor="#dbdbdb">List of local access number for : @Model.RechargeValues.AniNumber
                                        </td>
                                    </tr>
                                    @if(Model.LocalAccesNumberList.Any()){
                                    foreach (var number in Model.LocalAccesNumberList)
                                    {
                                        <tr>
                                            <td bgcolor="#f3f3f3" style="font-size: 18px;">
                                                <strong>@number</strong>
                                            </td>
                                        </tr>
                                    }
                                }
                                    <tr class="email_order">
                                        <td class="credit_new_theading" align="center" bgcolor="#eaeaea">For more local access number(S).Please <a href="@Url.Action("Index","Support")#tabs-5" class="credit_nwclick">Click Here.</a>
                                        </td>
                                    </tr>
                            
                                </tbody>
                            </table>
                            <div class="clear">
                            </div>
                            <h6 class="dial-text-reg">Dialing Instructions for Registered Phone Number: <span class="text-arrow"></span>
                            </h6>
                            <div class="email_temp">
                                <div class="instruction">
                                  <img src="@Url.Content("~/images/mobileplan_hwit.jpg")" alt="" class="ratepage_hwitimg" style="margin-left:110px;">
                                </div>
                                <div class="spacer">
                                </div>
                                <div class="sprator">
                                </div>
                                <div class="spacer">
                                </div>
                                <div class="clear">
                                </div>
                                <h3 class="temp_service">
                                    <b class="red fl">*</b>There are two ways to use our service:</h3>
                                <div class="instruction">
                                    <ul>
                                        <li>By dialing a local access number(i.e anon-800 number you can call free or change)</li>
                                        <li>By dialing a Toll free-800 number </li>
                                    </ul>
                                </div>
                                <div class="spacer">
                                </div>
                                <div class="sprator">
                                </div>
                                <div class="spacer">
                                </div>
                                <div class="clear">
                                </div>
                                <div class="temp_below">
                                    <h3>Disclaimer</h3>
                                    <span class="credit_confirmnew">There will be additional charge for using toll free
                                        access number:</span>
                                    <p class="credit_confirmnew">
                                        You are solely responsible for choosing access numbers that are local to you and
                                        are free to charge web recommend that you contact your local telephone company to
                                        confirm that the number (S) that appear are both local and free of charge for you
                                        to call. Raza Communications will not reimburse you for any long distance phone
                                        charges incurred.
                                    </p>
                                </div>
                                <div class="spacer">
                                </div>
                                <div class="sprator">
                                </div>
                                <div class="spacer">
                                </div>
                                <div class="clear">
                                </div>
                                <p class="below_note credit_newnote">
                                    <strong class="below_note_text">Note:</strong>When calling form a cell phone <strong>DO NOT PRESS "SEND"</strong> after entering destination number. This might result
                                    in additional
                                    <br />
                                    charges form your wireless provider.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-scroller-bg">
                </div>
            </div>
        </div>
   
    </div>
</div>