@model MvcApplication1.Models.GenericModel
@{
    ViewBag.Title = "Raza.Com New Customer Special: Buy 1 Get 1 Free";
}
<style>
    .dd .ddTitle .ddTitleText {
        padding: 10px 20px 3px 5px !important;
    }

    .dd .ddTitle {
        font-weight: bold !important;
        color: black !important;
    }

    #countries_searchrates_existCustomer_msdd {
        height: 34px!important;
    }

    #ms-input {
        width: 277px !important;
        margin-top: 0px!important;
    }

    #ms-input-1 {
        width: 41px!important;
    }

    .customer-price-top-section-column a {
        line-height: 22px!important;
    }

    .customer-price-top-section-column a {
        font-size: 12px !important;
    }

    .ms-sel-ctn {
        height: 33px !Important;
    }

    .ms-sel-item img {
        margin-right: 20px!Important;
    }
</style>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/magicSuggest-1.3.1.min.js")"></script>
<script>
    $(document).ready(function () {

        var jsonData = [];
        //var cities = '<a><img src="/images/pakistan.png" alt="">Pakistan (+92)</a>'.split(',');
        //var countries = '<a><img src="/images/india.png" alt="">India (+91)</a>,<a><img src="/images/pakistan.png" alt="">Pakistan (+92)</a>,<a><img src="/images/bangladesh.png" alt="">Bangladesh (+880)</a>,'.split(',');
        var countries = '<a><img src="/images/Argentina.png" alt="">Argentina (+54)</a>,<a><img src="/images/Australia.png" alt="">Australia (+61)</a>,<a><img src="/images/Austria.png" alt="">Austria (+43)</a>,<a><img src="/images/bangladesh.png" alt="">Bangladesh (+880)</a>,<a><img src="/images/Brazil.png" alt="">Brazil (+55)</a>,<a><img src="/images/Canada.png" alt="">Canada (except Yukon and N.W.T.) (+1)</a>,<a><img src="/images/China.png" alt="">China (+86)</a>,<a><img src="/images/Denmark.png" alt="">Denmark (+45)</a>,<a><img src="/images/France.png" alt="">France (+33)</a>,<a><img src="/images/Germany.png" alt="">Germany (+49)</a>,<a><img src="/images/Greece.png" alt="">Greece (+30)</a>,<a><img src="/images/India.png" alt="">India (+91)</a>,<a><img src="/images/Ireland.png" alt="">Ireland (+353)</a>,<a><img src="/images/Italy.png" alt="">Italy (+39)</a>,<a><img src="/images/Norway.png" alt="">Norway (+47)</a>,<a><img src="/images/Pakistan.png" alt="">Pakistan (+92)</a>,<a><img src="/images/Poland.png" alt="">Poland (+48)</a>,<a><img src="/images/uk-flag.png" alt="">United Kingdom (+44)</a>,<a><img src="/images/US.png" alt="">USA (+1)</a>,'.split(',');
        //var countries = '<a><img src="/images/india.png" alt="">India (+91)</a>,<a><img src="/images/bangladesh.png" alt="">Bangladesh (+880)</a>,'.split(',');
        for (var i = 0; i < countries.length; i++) jsonData.push({ id: i, name: countries[i], status: i % 2 ? 'Already Visited' : 'Planned for visit', coolness: Math.floor(Math.random() * 10) + 1 });


        var ms7 = $('#ms-input').magicSuggest({
            data: jsonData,
            resultAsString: true,
            maxSelection: 1,
            value: [0],
            maxSelectionRenderer: function () { }
        });


        $(ms7).on('selectionchange', function (event, selection) {
            var selected = ms7.getSelectedItems();
            var countryto = selected[0].id;

            //id = 130;
            //$("#hidden-countryto").val(id);
            //if (countryto == 0 || countryto == [0]) {
            //    id = 130;
            //    $("#hidden-countryto").val(id);
            //}
            //if (countryto == 1) {
            //    id = 238;
            //    $("#hidden-countryto").val(id);
            //}
            //if (countryto == 2) {
            //    id = 27;
            //    $("#hidden-countryto").val(id);
            //}


            id = 10;
            $("#hidden-countryto").val(id);
            if (countryto == 0 || countryto == [0]) {
                //Argentina
                id = 10;
                $("#hidden-countryto").val(id);
            }
            else if (countryto == 1) {
                id = 19;
                //Australia
                $("#hidden-countryto").val(id);
            }
            else if (countryto == 2) {
                id = 22;
                //Austria
                $("#hidden-countryto").val(id);
            }
            else if (countryto == 3) {
                id = 27;
                //Bangladesh
                $("#hidden-countryto").val(id);
            }
            else if (countryto == 4) {
                id = 43;
                //Brazil
                $("#hidden-countryto").val(id);
            }
            else if (countryto == 5) {
                id = 57;
                //Canada
                $("#hidden-countryto").val(id);
            }
            else if (countryto == 6) {
                id = 64;
                //China
                $("#hidden-countryto").val(id);
            }
            else if (countryto == 7) {
                id = 80;
                //Denmark
                $("#hidden-countryto").val(id);
            }
            else if (countryto == 8) {
                id = 96;
                //France
                $("#hidden-countryto").val(id);
            }
            else if (countryto == 9) {
                id = 105;
                //Germany
                $("#hidden-countryto").val(id);
            }
            else if (countryto == 10) {
                id = 113;
                //Greece
                $("#hidden-countryto").val(id);
            }
            else if (countryto == 11) {
                id = 130;
                //India
                $("#hidden-countryto").val(id);
            }
            else if (countryto == 12) {
                id = 170;
                //Ireland
                $("#hidden-countryto").val(id);
            }
            else if (countryto == 13) {
                id = 172;
                //Italy
                $("#hidden-countryto").val(id);
            }
            else if (countryto == 14) {
                id = 236;
                //Norway
                $("#hidden-countryto").val(id);
            }
            else if (countryto == 15) {
                id = 238;
                //Pakistan
                $("#hidden-countryto").val(id);
            }
            else if (countryto == 16) {
                id = 249;
                //Poland
                $("#hidden-countryto").val(id);
            }
            else if (countryto == 17) {
                id = 312;
                //United Kingdom
                $("#hidden-countryto").val(id);
            }
            else if (countryto == 18) {
                id = 314;
                //USA
                $("#hidden-countryto").val(id);
            }

        });


    });

</script>

<link href="@Url.Content("~/css/magicsuggest-1.3.1.css")" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/css/style-raza-offerchoosing.css")" />
<div class="main-customer-div">
    <div class="customer-banner">
        <ul>
            <li>
                <img src="@Url.Content("~/images/Promotion_image/buy1get1_newyear2016/buy1get1-2015_01.jpg")" alt="" /></li>
            <li>
                <img src="@Url.Content("~/images/Promotion_image/buy1get1_newyear2016/buy1get1-2015_02.jpg")" alt="" /></li>
            <li>
                <img src="@Url.Content("~/images/Promotion_image/buy1get1_newyear2016/buy1get1-2015_03.jpg")" alt="" /></li>
            <li>
                <img src="@Url.Content("~/images/Promotion_image/buy1get1_newyear2016/buy1get1-2015_04.jpg")" alt="" /></li>
        </ul>
    </div>

    <div class="customer-price-table">
        <div class="customer-price-table-top">
            <img src="@Url.Content("~/images/customer-price-table-top-bg.png")" alt="" />
        </div>
        <div class="customer-price-table-content">
            <div class="customer-price-top-section">
                <div class="customer-price-top-section-column customer-price-top-section-column-left">
                    <select name="countryfrom" id="countryfrom-promotion" style="width: 110px; height: 30px; margin-top: 0px; margin-left: 10px;">
                        <option value='1' data-image="@Url.Content("~/images/blank.gif")" data-imagecss="flag us" data-title="U.S.A">U.S.A</option>
                        <option value='2' data-image="@Url.Content("~/images/blank.gif")" data-imagecss="flag ca" data-title="Canada">Canada</option>
                        @*<option value='3' data-image="images/blank.gif" data-imagecss="flag england" data-title="United Kingdom">U.K</option>*@
                    </select>
                </div>

                <script>
                    var countryid = $("#country-byip").val();

                    function setSelectedIndex(s, valsearch) {
                        // Loop through all the items in drop down list
                        for (var i = 0; i < s.options.length; i++) {
                            if (s.options[i].value == valsearch) {
                                // Item is found. Set its property and exit
                                s.options[i].selected = true;
                                break;
                            }
                        }
                        return;
                    }
                    setSelectedIndex(document.getElementById("countryfrom-promotion"), countryid);


                    function navigatepromotion(target) {

                        var countryfrom = $('#countryfrom-promotion').val();
                        var selected = $(".close").attr('id');
                        //var countryto = 238;
                        var countryto = $('#hidden-countryto').val();
                        var url = "/Promotion/Buy1Get1NewCustomer?countryfrom=" + countryfrom + "&countryto=" + countryto; 
                        window.location.href = url;
                    }

                </script>
                <div class="customer-price-top-section-column">

                    <div class="ms-helper "></div>
                    <div id="ms-input" class="ms-sel-ctn" style="width: 220px; float: left; height: 34px; margin-top: 10px; margin-left: 10px;">
                        <input id="ms-input-0" type="text" class="" value="Enter the country you wish to call" style="width: 170px;" />
                        <input type="hidden" value="[]" />
                    </div>
                </div>
                <input type="hidden" id="hidden-countryto" value="130" />
                <div class="customer-price-top-section-column">
                    <a onclick="navigatepromotion();" style="cursor: pointer; line-height: 33px !important;" class="new-customers-tab">New Customers</a>
                </div>

            </div>
        </div>
        <div>
            <img src="@Url.Content("~/images/customer-price-table-bottom-bg.png")" alt="" />
        </div>
    </div>
</div>
