@using System.Net.NetworkInformation
@model MvcApplication1.Models.GenericModel
@{
    ViewBag.Title = "Diwali Free Trial, No Purchase Necessary: Get Up To 200 Free Minutes to call India and Nepal.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>*@
@*<script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>

<link rel="stylesheet" href="@Url.Content("~/css/style-raza-offerchoosing.css")"/>

<div class="main-customer-div">
<div class="customer-banner">
	<ul>
    	<li><img src="@Url.Content("~/images/Promotion_image/diwalifreetrial/diw200_01.jpg")" alt="" /></li>
        <li><img src="@Url.Content("~/images/Promotion_image/diwalifreetrial/diw200_02.jpg")" alt="" /></li>
        <li><img src="@Url.Content("~/images/Promotion_image/diwalifreetrial/diw200_03.jpg")" alt="" /></li>
        <li><img src="@Url.Content("~/images/Promotion_image/diwalifreetrial/diw200_04.jpg")" alt="" /></li>
    </ul>
</div>




      <div class="expandable" id="errorValidation">
        <div id="close-val" class="close-confirm" onclick="disablePopup()">
        </div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">

            <tr>
                <td width="14">
                    <img src="@Url.Content("~/images/expand_top_left.png")" width="14" height="13" /></td>
                <td style="background: url(/images/expand_drop_top.png) repeat-x left 2px;"></td>
                <td width="14">
                    <img src="@Url.Content("~/images/expand_top_right.png")" width="14" height="13" /></td>
            </tr>
            <tr>
                <td style="background: url(/images/expand_drop_left.png) repeat-y 0px top;"></td>
                <td style="background: #fff;">
                    <div class="expandable_mid">
                        <img src="@Url.Content("~/images/error_sign.png")" style="float:left;margin-top:15px;margin-left:30px;" />
                        <div id="validation-msgs" style="margin-left: 114px; color: red" class="validation-error-msg">

                            <div id="paypal-hidmsg" >
                                <p>
                                   This is a onetime offer,strictly for new customers only. If you are an existing customer please look for existing customer promotions under deals.
                                </p>
                            </div>
                        </div>


                    </div>
                </td>
                <td style="background: url(/images/expand_drop_right.png) repeat-y 0px top;"></td>
            </tr>
            <tr>
                <td width="14" style="padding: 0px!important;">
                    <img src="@Url.Content("~/images/expand_bot_left.png")" width="14" height="13" /></td>
                <td style="background: url(/images/expand_drop_bottom.png) repeat-x left 0px;" width="100%"></td>
                <td width="14" style="padding: 0px!important;">
                    <img src="@Url.Content("~/images/expand_bot_right.png")" width="14" height="13" /></td>
            </tr>
        </table>
    </div>
    
    <div id="backgroundPopup" onclick="disablePopup()"></div>





<div class="customer-price-table">
	<div class="customer-price-table-top"><img src="@Url.Content("~/images/Promotion_image/diwalifreetrial/customer-price-table-top-bg.png")" alt="" /></div>
    <div class="customer-price-table-content">
    	<div class="customer-price-top-section">
        <div class="customer-price-top-section-column customer-price-top-section-column-left">
                <select name="countryfrom" id="countries_searchrates_existCustomer" style="width: 110px; height: 30px; margin-top: 0px; margin-left: 10px;">
                    <option value='1' data-image="@Url.Content("~/images/blank.gif")" data-imagecss="flag us" data-title="U.S.A">U.S.A</option>
                    <option value='2' data-image="@Url.Content("~/images/blank.gif")" data-imagecss="flag ca" data-title="Canada">Canada</option>
                </select>
        	</div>
            <style>
                .customer-price-top-section-column-left {
margin-left: 70px !important;
}
                .ms-ctn input {
                    margin-top:0px !important;
                    width:44px!important;
                }

            </style>
               <script>
                   var countryid = $("#country-byip").val();

                   function setSelectedIndex(s, valsearch) {
                       // Loop through all the items in drop down list
                       for (var i = 0; i < s.options.length; i++) {
                           if (s.options[i].value == valsearch) {
                               // Item is found. Set its property and exit
                               s.options[i].selected = true;
                               break;
                           }
                       }
                       return;
                   }
                   setSelectedIndex(document.getElementById("countries_searchrates_existCustomer"), countryid);
               </script>
                                 
             <div class="customer-price-top-section-column">
                <!-- country to  -->
                
                    <div class="ms-helper "  ></div>
                    <div id="ms-input" class="ms-sel-ctn" style="width: 220px; float: left; height: 34px; margin-top: -2px; margin-left: 10px;">
                        <input id="ms-input-0" type="text" class="" value="Enter the country you wish to call" style="width: 170px;" />
                        <input type="hidden" value="[]" />
                    </div>
                </div>
                <input type="hidden" id="hidden-countryto" />
                <input id="Istryusvalid" type="hidden" value="@Session["TryusFree"]" />
                <script src="@Url.Content("~/Scripts/magicSuggest-1.3.1.min.js")" type="text/javascript"></script>
                    <script> var jsonData = [];
                        var cities = '<a><img src="/images/india.png" alt="">India 200 Min</a>,<a><img src="/images/nepal.png" alt="">Nepal 50 Min</a>,'.split(',');
                        for (var i = 0; i < cities.length; i++) jsonData.push({ id: i, name: cities[i], status: i % 2 ? 'Already Visited' : 'Planned for visit', coolness: Math.floor(Math.random() * 10) + 1 });


                        var ms7 = $('#ms-input').magicSuggest({
                            data: jsonData,
                            resultAsString: true,
                            maxSelection: 1,
                            value: [0],
                            maxSelectionRenderer: function () { }
                        });


                        $(ms7).on('selectionchange', function (event, selection) {
                            var selected = ms7.getSelectedItems();
                            var countryto = selected[0].id;

                            id = 130;
                            $("#hidden-countryto").val(id);
                            if (countryto == 0 || countryto == [0]) {
                                id = 130;
                                $("#hidden-countryto").val(id);
                            }
                            if (countryto == 1) {
                                id = 224;
                                $("#hidden-countryto").val(id);
                            }
                        });




                    </script>
            <div class="customer-price-top-section-column"><a onclick='navigatepromotion(this);' style="cursor:pointer" class="new-customers-tab">New Customers</a></div>
        </div>
    </div>
    <div><img src="@Url.Content("~/images/customer-price-table-bottom-bg.png")" alt="" /></div>
</div>
</div>

<script>
    function navigatepromotion(target) {

        //var countryfrom = $('#countries_searchrates_existCustomer').val();
        //var selected = $(".close").attr('id');
        //var countryto = $('#hidden-countryto').val();

        //if (countryto == "" || countryto == [0] || countryto == "[0]") {
        //    countryto = 130;
        //}

        //var url = "/Promotion/EidNewCustomer?countryfrom=" + countryfrom + "&countryto=" + countryto;
        //window.location.href = url;





        var trialcountryfrom = $('#countries_searchrates_existCustomer').val();
        var selected = $(".close").attr('id');
        var istryusvalid = $("#Istryusvalid").val();

        var trialcountryto = $('#hidden-countryto').val();

        if (trialcountryto == "" || trialcountryto == [0] || trialcountryto == "[0]") {
            trialcountryto = 130;
        }

        //alert(istryusvalid);


        if (trialcountryto == 0) {

            return false;
        }
        if (istryusvalid != "valid" && istryusvalid != "") {
            //alert("This is a onetime offer,strictly for new customers only. If you are an existing customer please look for existing customer promotions under deals.");
            loadPopup();
            return false;
        }

        var url = "/Cart/GetFreeTrialPlan?trialcountryfrom=" + trialcountryfrom + "&trialcountryto=" + trialcountryto;
        window.location.href = url;
    }





    function loading() {
        $("div.loader").show();
    }
    function loadPopup() {
        if (popupStatus == 0) { // if value is 0, show popup

            $("#errorValidation").fadeIn(0500); // fadein popup div
            $("#backgroundPopup").css("opacity", "0.7"); // css opacity, supports IE7, IE8
            $("#backgroundPopup").fadeIn(0001);
            popupStatus = 1; // and set value to 1
        }
    }

    $(this).keyup(function (event) {
        if (event.which == 27) { // 27 is 'Ecs' in the keyboard
            disablePopup(); // function close pop up
        }
    });

    function closeloading() {
        $("div.loader").fadeOut('normal');
    }

    var popupStatus = 0; // set value

    function disablePopup() {
        if (popupStatus == 1) { // if value is 1, close popup
            $("#errorValidation").fadeOut("normal");
            $("#backgroundPopup").fadeOut("normal");
            popupStatus = 0; // and set value to 0
        }
    }

</script>


