@using System.Net.NetworkInformation
@model MvcApplication1.Models.GenericModel

@{
    ViewBag.Title = "Merry Christmas & Happy Holidays: Get Up To 2000 Free Minutes to Call India, Pakistan, Bangladesh, Nepal and Sri Lanka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
@*<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>*@

<link rel="stylesheet" href="@Url.Content("~/css/style-raza-offerchoosing.css")"/>

<div class="main-customer-div">
<div class="customer-banner">
	<ul>
    	<li><img src="@Url.Content("~/images/Promotion_image/happyholidays2015/c2000_01.jpg")" alt="" /></li>
        <li><img src="@Url.Content("~/images/Promotion_image/happyholidays2015/c2000_02.jpg")" alt="" /></li>
        <li><img src="@Url.Content("~/images/Promotion_image/happyholidays2015/c2000_03.jpg")" alt="" /></li>
        <li><img src="@Url.Content("~/images/Promotion_image/happyholidays2015/c2000_04.jpg")" alt="" /></li>
    </ul>
</div>

<div class="customer-price-table">
	<div class="customer-price-table-top"><img src="@Url.Content("~/images/Promotion_image/happyholidays2015/customer-price-table-top-bg.png")" alt="" /></div>
    <div class="customer-price-table-content">
    	<div class="customer-price-top-section">
        <div class="customer-price-top-section-column customer-price-top-section-column-left">
                <select name="countryfrom" id="countries_searchrates_existCustomer" style="width: 110px; height: 30px; margin-top: 0px; margin-left: 10px;">
                    <option value='1' data-image="@Url.Content("~/images/blank.gif")" data-imagecss="flag us" data-title="U.S.A">U.S.A</option>
                    <option value='2' data-image="@Url.Content("~/images/blank.gif")" data-imagecss="flag ca" data-title="Canada">Canada</option>
                </select>
        	</div>
            <style>
                .customer-price-top-section-column-left {
margin-left: 70px !important;
}
                .ms-ctn input {
                    margin-top:0px !important;
                    width:44px!important;
                }

            </style>
               <script>
                   var countryid = $("#country-byip").val();

                   function setSelectedIndex(s, valsearch) {
                       // Loop through all the items in drop down list
                       for (var i = 0; i < s.options.length; i++) {
                           if (s.options[i].value == valsearch) {
                               // Item is found. Set its property and exit
                               s.options[i].selected = true;
                               break;
                           }
                       }
                       return;
                   }
                   setSelectedIndex(document.getElementById("countries_searchrates_existCustomer"), countryid);
               </script>
                                 
             <div class="customer-price-top-section-column">
                <!-- country to  -->
                
                    <div class="ms-helper "  ></div>
                    <div id="ms-input" class="ms-sel-ctn" style="width: 220px; float: left; height: 34px; margin-top: -2px; margin-left: 10px;">
                        <input id="ms-input-0" type="text" class="" value="Enter the country you wish to call" style="width: 170px;" />
                        <input type="hidden" value="[]" />
                    </div>
                </div>
                <input type="hidden" id="hidden-countryto" />
                <script src="@Url.Content("~/Scripts/magicSuggest-1.3.1.min.js")" type="text/javascript"></script>
                    <script> var jsonData = [];
                        var cities = '<a><img src="/images/india.png" alt="">India</a>,<a><img src="/images/pakistan.png" alt="">Pakistan</a>,<a><img src="/images/nepal.png" alt="">Nepal</a>,<a><img src="/images/bangladesh.png" alt="">Bangladesh</a>,<a><img src="/images/sri-lanka.png" alt="">Sri Lanka</a>,'.split(',');
                        //var cities = '<a><img src="/images/india.png" alt="">India</a>,<a><img src="/images/nepal.png" alt="">Nepal</a>,'.split(',');
                        for (var i = 0; i < cities.length; i++) jsonData.push({ id: i, name: cities[i], status: i % 2 ? 'Already Visited' : 'Planned for visit', coolness: Math.floor(Math.random() * 10) + 1 });


                        var ms7 = $('#ms-input').magicSuggest({
                            data: jsonData,
                            resultAsString: true,
                            maxSelection: 1,
                            value: [0],
                            maxSelectionRenderer: function () { }
                        });


                        $(ms7).on('selectionchange', function (event, selection) {
                            var selected = ms7.getSelectedItems();
                            var countryto = selected[0].id;

                            id = 130;
                            $("#hidden-countryto").val(id);
                            if (countryto == 0 || countryto == [0]) {
                                id = 130;
                                $("#hidden-countryto").val(id);
                            }
                            if (countryto == 1) {
                                id = 238;
                                $("#hidden-countryto").val(id);
                            }
                            if (countryto == 2) {
                                id = 224;
                                $("#hidden-countryto").val(id);
                            }
                            if (countryto == 3) {
                                id = 27;
                                $("#hidden-countryto").val(id);
                            }
                            if (countryto == 4) {
                                id = 281;
                                $("#hidden-countryto").val(id);
                            }
                        });




                    </script>
            <div class="customer-price-top-section-column"><a onclick='navigatepromotion(this);' style="cursor:pointer" class="new-customers-tab">New Customers</a></div>
            <div class="customer-price-top-section-column">
                @if(User.Identity.IsAuthenticated)
                {
                    <a onclick='navigateExistpromotion(this);' style="cursor:pointer" class="existing-customer-tab">Existing Customers</a>
                }
                else
                {
                    @*<a href="@Url.Action("Logon", "Account")" class="existing-customer-tab">Existing Customers</a>*@
                    <a href="#" class="existing-customer-tab">Existing Customers</a>
                }
            </div>
        </div>
    </div>
    <div><img src="@Url.Content("~/images/Promotion_Image/happyholidays2015/customer-price-table-bottom-bg.png")" alt="" /></div>
</div>
</div>

<script>
    function navigatepromotion(target) {

        var countryfrom = $('#countries_searchrates_existCustomer').val();
        var selected = $(".close").attr('id');
        var countryto = $('#hidden-countryto').val();

        if (countryto == "" || countryto == [0] || countryto == "[0]") {
            countryto = 130;
        }

        var url = "/Promotion/HappyHolidaysNewCustomer?countryfrom=" + countryfrom + "&countryto=" + countryto;
        window.location.href = url;
    }


    function navigateExistpromotion(target) {

        var countryfrom = $('#countries_searchrates_existCustomer').val();
        var selected = $(".close").attr('id');
        var countryto = $('#hidden-countryto').val();

        if (countryto == "" || countryto == [0] || countryto == "[0]") {
            countryto = 130;
        }

        var url = "/Promotion/HappyHolidaysExistingCustomer?countryfrom=" + countryfrom + "&countryto=" + countryto;
        window.location.href = url;
    }

    function navigateToLogin() {

        var countryfrom = $('#countries_searchrates_existCustomer').val();
        var selected = $(".close").attr('id');
        var countryto = $('#hidden-countryto').val();

        if (countryto == "" || countryto == [0] || countryto == "[0]") {
            countryto = 130;
        }

        //var url = "/account/Logon?countryfrom=" + countryfrom + "&countryto=" + countryto;
        //window.location.href = url;

        var url = "/account/Logon?returnUrl=/Promotion/HappyHolidaysExistingCustomer?countryfrom=" + countryfrom + "%26countryto=" + countryto;
        window.location.href = url;
    }
</script>


@*@if (Request.UrlReferrer != null)
{
    <script>
        var RedirectFrom = "@Request.UrlReferrer.PathAndQuery.ToLower()";
        if(RedirectFrom == "/account/logon")
            navigateExistpromotion(null);
    </script>
}*@


@if (User.Identity.IsAuthenticated)
{
    <script>
        navigateExistpromotion(null);
    </script>
}

<script>
    $(document).ready(function () {

        $(".existing-customer-tab").click(function () {
            navigateToLogin();
        });

    });
</script>