@model MvcApplication1.Models.GenericModel

@{
    ViewBag.Title = "NavaRatriNewCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
<link href="@Url.Content("~/css/style-raza-offerchoosing.css")" rel="stylesheet" />
<style>
    a.tooltip {outline:none; color:#000; text-decoration:none; position:relative; } 
a.tooltip strong {line-height:30px;} 
a.tooltip:hover {text-decoration:none;} 
a.tooltip span {z-index: 10;display: none!important;padding: 14px 20px!important;margin-top: -30px!important;margin-left: 28px!important;width: 700px;line-height: 16px;}
a.tooltip:hover span{ display:inline; position:absolute; color:#fff; background:#5b5b5b; top:103px; left:148px;} 
.callout {z-index:20;position:absolute;top:-6px;border:0;left:20px;} /*CSS3 extras*/ 
a.tooltip span { border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -moz-box-shadow: 5px 5px 8px #333; -webkit-box-shadow: 5px 5px 8px #333; box-shadow: 5px 5px 8px #333; }
a.tooltip span ol {list-style-type:none; padding-bottom:0px; padding-left:0px; margin:0px; padding:0px;}
a.tooltip span ol li {list-style-type:none; padding-bottom:0px; padding-left:0px; margin:0px; padding:0px;}
    .customer-price-top-section-column a {
        line-height: 26px ! important;

    }
    .ms-ctn input {
        width: 30px !important;
    }
    .customer-price-top-section-column , .customer-price-top-section-column {
        margin-top: 15px ! important;
    }
   
    .ms-res-item a {
width: auto!important;
line-height: 23px!important;
margin: 10px 0px 0px 0px;
}
</style>
<script src="@Url.Content("~/Scripts/jquery.js")"></script>
<link href="@Url.Content("~/css/magicsuggest1-1.3.1.css")" rel="stylesheet" type="text/css" />
        <script>
            $(document).ready(function (e) {
                $('.sam').click(function () {
                    var id = $(this).attr('id');

                    $('.sam').removeClass('activetab');
                    $(this).addClass('activetab');

                    $('.custom').hide();
                    $('#' + id + "-1").show();
                });
            });
        </script>


    
    <div class="customer-banner">
	<ul>
    	<li><img src="@Url.Content("~/images/Promotion_image/navratri2014/navratri2014_01.jpg")" alt="" /></li>
        <li><img src="@Url.Content("~/images/Promotion_image/navratri2014/navratri2014_02.jpg")" alt="" /></li>
        <li><img src="@Url.Content("~/images/Promotion_image/navratri2014/navratri2014_03.jpg")" alt="" /></li>
        <li><img src="@Url.Content("~/images/Promotion_image/navratri2014/navratri2014_04.jpg")" alt="" /></li>
    </ul>
</div>


<div class="customer-price-table" id="promotion-plan-bind">
    <input type="hidden" value="@ViewBag.CountryFromPromotion" id="fromPromotion" />
    <input type="hidden" value="@ViewBag.CountryToPromotion" id="toPromotion" />
	<div class="customer-price-table-top"><img src="@Url.Content("~/images/Promotion_image/navratri2014/customer-price-table-top-bg.png")" alt="" /></div>
    <div class="customer-price-table-content">
    	<div class="customer-price-top-section">
        	<div class="customer-price-top-section-column customer-price-top-section-column-left">
                  <select name="countryfrom" id="countries_searchrates_newCustomer"style="width:110px;height:25px;margin-top: 12px;margin-left:10px;">
                    <option value='1' data-image="images/blank.gif" data-imagecss="flag us" data-title="U.S.A">U.S.A</option>
                    <option value='2' data-image="images/blank.gif" data-imagecss="flag ca" data-title="Canada">Canada</option>
                   
                  </select>
                  <script>
                      var countryid = $("#fromPromotion").val();
                      var ctx = $("#toPromotion").val();
                      function setSelectedIndex(s, valsearch) {
                          // Loop through all the items in drop down list
                          for (var i = 0; i < s.options.length; i++) {
                              if (s.options[i].value == valsearch) {
                                  // Item is found. Set its property and exit
                                  s.options[i].selected = true;
                                  break;
                              }
                          }
                          return;
                      }
                      setSelectedIndex(document.getElementById("countries_searchrates_newCustomer"), countryid);



                              	</script>
                </div>
	        <div class="customer-price-top-section-column">
	            
                <div class="ms-helper " style="display: none;"></div>
	          
                    
                  <div id="ms-new-pr" class="ms-sel-ctn" style="width: 220px; float: left; height: 34px; margin-top: 10px; margin-left: 10px;">
	                <input id="ms-input-0" type="text" class="" value="Enter the country you wish to call" style="width: 170px;" />
	                <input type="hidden" value="[]" /></div>
	            <input type="hidden" id="hidden-countryto" />
	            <script src="@Url.Content("~/Scripts/magicSuggest-1.3.1.min.js")" type="text/javascript"></script>   
                <script src="@Url.Content("~/Scripts/NavaRatriNewcust.js")" type="text/javascript"></script>   
	        </div>
            <div class="customer-price-top-section-column"><a href="#" id="newcustomers" class="sam activetab new-customers-tab" style="margin-left: 60px; font-size:15px;margin-top: 15px;cursor: pointer">New Customers</a></div>
            <div class="customer-price-top-section-column"><a style="cursor: Pointer;margin-top: 10px;margin-left: 0px;" id="faqs" class="sam new-customers-faq-tab">FAQs</a></div>
        </div>
<div class="clear-fix"></div>
        <div class="customer-price-table-dv new-customer-price-table-dv custom" id="newcustomers-1">
            
            <ul class="column-1">
                <li>DENOMINATION</li>
                <!--ko foreach: PromotionPlans -->
                <li><span data-bind="text: CurrencySign"></span><span data-bind="text: Denomination"></span ></li>
                <!-- /ko -->
                <li class="brdnone"></li>	
            </ul>


            <ul class="column-2">
                <li>REGULAR Mins.</li>
                <!--ko foreach: PromotionPlans -->
                <li data-bind="text: RegularMin"></li>
                <!-- /ko -->
                <li class="brdnone"></li>	
            </ul>
            
            <ul class="column-3">
                <li>EXTRA Mins.</li>
                <!--ko foreach: PromotionPlans -->
                <li data-bind="text: ExtraMin"></li>
                <!-- /ko -->
                <li class="brdnone"></li>	
            </ul>
            
            <ul class="column-4">
                <li>TOTAL Mins.</li>
                <!--ko foreach: PromotionPlans -->
                <li data-bind="text: TotalMinute"></li>
                <!-- /ko -->
                <li class="brdnone"></li>	
            </ul>
            
            <ul class="column-5">
                <div class="bgactive" style="margin-top:5px;"></div>
                 <li>RATE/MIN</li>
                <!--ko foreach: PromotionPlans -->
                <li><span data-bind="text: RateperMIn"></span ><span data-bind="text: RateperSign"></span></li>
                <!-- /ko -->
                <li class="brdnone"></li>	
            </ul>
             <ul class="column-6">
                 <li>&nbsp;</li>
                <!--ko foreach: PromotionPlans -->
                <li><a style="cursor: pointer" class="close" id="250" data-bind="click: $root.BuyPromotion">Buy</a></li>
                <!-- /ko --> 
                <li class="brdnone"></li>	
            </ul> 
            

            @*<ul class="column-1">
                <li>DENOMINATION</li>
                <li>$250</li>
                <li>$200</li>
                <li>$100</li>
                <li class="brdnone">$50</li>	
            </ul>

            <ul class="column-2">
                <li>REGULAR Mins.</li>
                <li>20000</li>
                <li>1600</li>
                <li>8000</li>
                <li class="brdnone">4000</li>	
            </ul>
            
            <ul class="column-3">
                <li>EXTRA Mins.</li>
                <li>2014</li>
                <li>1400</li>
                <li>900</li>
                <li class="brdnone">150</li>	
            </ul>
            
            <ul class="column-4">
                <li>TOTAL Mins.</li>
                <li>22014</li>
                <li>17400</li>
                <li>8900</li>
                <li class="brdnone">4150</li>	
            </ul>
            
            <ul class="column-5">
             <div class="bgactive" style="margin-top:5px;"></div>
                <li>RATE/MIN</li>
                <li>1.1&cent;</li>
                <li>1.2&cent;</li>
                <li>1.1&cent;</li>
                <li class="brdnone">1.2&cent;</li>	
            </ul>
             <ul class="column-6">
                <li>&nbsp;</li>
                <li><a style="cursor: pointer" class="close" id="250" onclick='navigatepromotion(this);'>Buy</a></li>
                <li><a style="cursor: pointer" class="close" id="200" onclick='navigatepromotion(this);'>Buy</a></li>
                <li><a style="cursor: pointer" class="close" id="100" onclick='navigatepromotion(this);'>Buy</a></li>
                <li class="brdnone"><a style="cursor: pointer" class="close" id="50" onclick='navigatepromotion(this);'>Buy</a></li>	
            </ul> 
           @*
            <table style="border: none">
                <tr class="tablerow1">
                    <td class="col1">DENOMINATION</td>
                    <td class="col2">REGULAR Mins.</td>
                    <td class="col3">EXTRA Mins.</td>
                    <td class="col4">TOTAL Mins.</td>
                    <td class="col5">
                        <div class="bgrateactive" style="margin-top:5px;"></div>
                        RATE/MIN
                    </td>
                    <td class="col6"></td>
                </tr>
                <tr class="tablerow1">
                    <td class="col1">$250</td>
                    <td class="col2">20000</td>
                    <td class="col3">2000</td>
                    <td class="col4">22000</td>
                    <td class="col5">1.1&cent;</td>
                    <td class="col6"><a style="cursor: pointer" class="close" id="250">Buy</a></td>
                </tr>
                <tr class="tablerow1">
                    <td class="col1">$250</td>
                    <td class="col2">20000</td>
                    <td class="col3">2000</td>
                    <td class="col4">22000</td>
                    <td class="col5">1.1&cent;</td>
                    <td class="col6"><a style="cursor: pointer" class="close" id="250">Buy</a></td>
                </tr>
                <tr class="tablerow1">
                    <td class="col1">$250</td>
                    <td class="col2">20000</td>
                    <td class="col3">2000</td>
                    <td class="col4">22000</td>
                    <td class="col5">1.1&cent;</td>
                    <td class="col6"><a style="cursor: pointer" class="close" id="250">Buy</a></td>
                </tr>

            </table> *@
            <div class="clear-fix"></div>
        </div>

        <style>
            .bgrateactive {
                width: 143px;
                background: #f2f2f2;
                height: 22px;
                position: absolute;
                z-index: 10;
                top: -27px;
                right: 134px;
                border-left: 1px solid #d9d9d8;
                border-right: 1px solid #d9d9d8;
            }
             .tablerow1 {
                 border-bottom: 1px solid #a4a4a4 !important;
             }
            .col1 {
                width: 146px;
                border-bottom: 1px solid #a4a4a4;
                line-height: 50px;
                text-align: center;
            }
            .col2 {
                width: 140px;
                border-bottom: 1px solid #a4a4a4;
                line-height: 50px;
                text-align: center;
            } 
            .col3 {
                width: 136px;
                background: #d3d3d3;
                padding: 10px 0;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                top: -10px;
                left: 286px;
                text-align: center;
            }  
            .col4 {
                width: 134px;
                border-bottom: 1px solid #a4a4a4;
                line-height: 50px;
                text-align: center;
            } 
            .col5 {
                width: 134px;
                border-bottom: 1px solid #a4a4a4;
                line-height: 50px;
                text-align: center;
            }
            .col6 {
                width: 132px;
                border-bottom: 1px solid #a4a4a4;
                line-height: 50px;
                text-align: center;
            }
        </style>
        <!-- FAQs -->
        <div class="customer-price-table-faq-dv custom" id="faqs-1">
        <ul>
            <div class="bgactivefaq"></div>
            	<li>
                <a href="#" class="tooltip">What is the coupon code for the Navratri Offer?
                	 <span> <img class="callout" src="@Url.Content("~/images/Promotion_image/navratri2014/tooltip-arrow.png")" />NAVRATRI14(Caps). Please make sure to use the coupon code in order to qualify for the Extra minutes. </span>
                 </a>
                </li>
                <li class="alternaterow">
                <a href="#" class="tooltip">What is the time period for the Navratri Offer?
                	<span> <img class="callout" src="@Url.Content("~/images/Promotion_image/navratri2014/tooltip-arrow.png")" />This promotional offer will last till Oct 8th.</span> </a>
                </li>
                <li> <a href="#" class="tooltip">Once I buy the Navratri Offer, will the minutes expire
                	<span> <img class="callout" src="@Url.Content("~/images/Promotion_image/navratri2014/tooltip-arrow.png")" />No the actual minutes will not expire. Once you have purchased the offer, those minutes are yours to keep. Please note: The promotional minutes will expire after 60 days from the purchase date and if you cancel the plan then the free bonus minutes will not count towards your refund balance. </span> </a>
                </li>
                <li class="alternaterow"> <a href="#" class="tooltip">Who is eligible for the Navratri Offer?
                	<span> <img class="callout" src="@Url.Content("~/images/Promotion_image/navratri2014/tooltip-arrow.png")" />Both our existing and new members are eligible for the Navratri Offer. </span> </a>
                </li>
                <li> <a href="#" class="tooltip">Which Countries are eligible for Navratri Offer?
                	<span> <img class="callout" src="@Url.Content("~/images/Promotion_image/navratri2014/tooltip-arrow.png")" />Get up to 1500 minutes free Offer is valid for India, Bangladesh, Nepal and Sri Lanka only.</span> </a>
                </li>
                <li class="alternaterow"> <a href="#" class="tooltip">Is the Navratri Offer good from USA and Canada?
                	<span> <img class="callout" src="@Url.Content("~/images/Promotion_image/navratri2014/tooltip-arrow.png")" />The Navratri Offer is good from USA and CANADA. </span> </a>
                </li>
                <li> <a href="#" class="tooltip">How many times can I recharge/purchase the Navratri Offer?
                	<span><img class="callout" src="@Url.Content("~/images/Promotion_image/navratri2014/tooltip-arrow.png")" />You can recharge or purchase your plan as many times as you want during the promotional period. </span> </a>
                </li>
                <li class="alternaterow"> <a href="#" class="tooltip">Will I be able to purchase this plan by calling the customer service?
                	<span> <img class="callout" src="@Url.Content("~/images/Promotion_image/navratri2014/tooltip-arrow.png")" />Yes.</span> </a>
                </li>
                <li> <a href="#" class="tooltip">If I get the Navratri Offer can I make calls to other countries besides the countries mentioned above?
                	<span> <img class="callout" src="@Url.Content("~/images/Promotion_image/navratri2014/tooltip-arrow.png")" />Yes! You will be able to make calls to anywhere in the world. The rate to call countries will differ, based on the countries you are calling. </span> </a>
                </li>
                <li class="alternaterow"> <a href="#" class="tooltip">Are there any hidden charges on this product?
                	<span> <img class="callout" src="@Url.Content("~/images/Promotion_image/navratri2014/tooltip-arrow.png")" />NO, there are absolutely no hidden charges on the Navratri Offer. </span> </a>
                </li>
                <li> <a href="#" class="tooltip">Will the extra minutes reflect immediately after the recharge or purchase?
                	<span> <img class="callout" src="@Url.Content("~/images/Promotion_image/navratri2014/tooltip-arrow.png")" />Yes! Extra minutes will be added immediately after recharging or purchasing a plan.</span> </a>
                </li>
                <li class="alternaterow"> <a href="#" class="tooltip">Is the landline and cell phone rate same for the Navratri Offer?
                	<span> <img class="callout" src="@Url.Content("~/images/Promotion_image/navratri2014/tooltip-arrow.png")" />The rates for calling landlines and cell phones may be different for these countries. </span> </a>
                </li>
                <li> <a href="#" class="tooltip">Once I have purchased the plan how do I make calls to India and other countries?
                	<span style="top:-118px;  -moz-box-shadow: -5px -5px 8px #333; -webkit-box-shadow: -5px -5px 8px #333; box-shadow: -5px -5px 8px #333;"> <img class="callout" src="@Url.Content("~/images/Promotion_image/navratri2014/tooltip-down-arrow.png")" style="top:184px;" />
                    <strong>Dialing Instructions:</strong>
                    <ol>
                        <li>Dial the Raza Access number.</li>
                        <li> For International Calls: Dial 011 + Country Code +	City Code + Number followed by # sign.</li>
                        <li> To call within USA, Canada or Caribean : Dial 1 + Area Code + Number followed by # sign.</li>
                        *(Once you have dialed the destination number, please do not press send key.)
                    </ol>

                    </span> </a>
                </li>
                <li class="brdnone alternaterow" style="text-align:center;">Raza.com reserves the rights to withdraw or alter Navratri Offer at any time without prior notice.</li>
            </ul>
            
            
            <div class="clear-fix"></div>
        </div>
        
    </div>
    <div><img src="@Url.Content("~/images/Promotion_image/navratri2014/customer-price-table-bottom-bg.png")" alt="" /></div>
</div>
<script type='text/javascript'>
    function navigatepromotion(target) {

        var countryfrom = $('#countries_searchrates_newCustomer').val();
        var selected = $(".close").attr('id');
        var countryto = $('#hidden-countryto').val();

        var url = "/cart/PromotionalPlans?countryfrom=" + countryfrom + "&&countryto=" + countryto + "&&amount=" + selected + "&&currencycode=USD";
        window.location.href = url;
    }
</script>
