@model MvcApplication1.Models.PromotionPlanModel

@{
    ViewBag.Title = "Happy Raksha Bandhan, New Customer Offer: Call India starting as low as 1 cent/min";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/css/style-raza-offerchoosing.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery1.10.3-ui.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/magicSuggest-1.3.1.min.js")"></script>
<script>
    $(document).ready(function () {

        var jsonData = [];
        var cities = '<a><img src="/images/india.png" alt="">India</a>'.split(',');
        //var cities = '<a><img src="/images/india.png" alt="">India</a>,<a><img src="/images/pakistan.png" alt="">Pakistan</a>,<a><img src="/images/bangladesh.png" alt="">Bangladesh</a>,'.split(',');
        for (var i = 0; i < cities.length; i++) jsonData.push({ id: i, name: cities[i], status: i % 2 ? 'Already Visited' : 'Planned for visit', coolness: Math.floor(Math.random() * 10) + 1 });


        var ms7 = $('#ms-input').magicSuggest({
            data: jsonData,
            resultAsString: true,
            maxSelection: 1,
            value: [0],
            maxSelectionRenderer: function () { }
        });

    });

</script>

<script src="@Url.Content("~/Scripts/jquery.js")"></script>
<script type="text/javascript">
    $(document).ready(function (e) {
        $('.sam').click(function () {
            var id = $(this).attr('id');

            $('.sam').removeClass('activetab');
            $(this).addClass('activetab');

            $('.custom').hide();
            $('#' + id + "-1").show();
        });
    });
</script>

<style>
    .dd .ddTitle .ddTitleText {
padding: 7px 20px 3px 5px !important;

}
    .dd .ddTitle {
        font-weight: bold !important;
color: black !important;
    }
    .ms-sel-item img {
        margin-right: 20px!Important;
    }
    #countries_searchrates_existCustomer_msdd {
        height:34px!important;
    }

    #ms-input {
       width: 260px !important;
        margin-top:-2px!important;
    }
    #ms-input-1 {
        width: 10px!important;
    }
    .customer-price-top-section-column a {
        font-size:12px !important;
    }
    .ms-sel-ctn {
        height: 33px !Important;
    }
</style>
<style>
    a.tooltip {
        outline: none;
        color: #000;
        text-decoration: none;
        position: relative;
    }

        a.tooltip strong {
            line-height: 30px;
        }

        a.tooltip:hover {
            text-decoration: none;
        }

        a.tooltip span {
            z-index: 10;
            display: none!important;
            padding: 14px 20px!important;
            margin-top: -30px!important;
            margin-left: 28px!important;
            width: 700px;
            line-height: 16px;
        }

        a.tooltip:hover span {
            display: inline;
            position: absolute;
            color: #fff;
            background: #5b5b5b;
            top: 103px;
            left: 148px;
        }

    .callout {
        z-index: 20;
        position: absolute;
        top: -6px;
        border: 0;
        left: 20px;
    }
    /*CSS3 extras*/
    a.tooltip span {
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-box-shadow: 5px 5px 8px #333;
        -webkit-box-shadow: 5px 5px 8px #333;
        box-shadow: 5px 5px 8px #333;
        font-size: 13px !important;
    }

        a.tooltip span ol {
            list-style-type: none;
            padding-bottom: 0px;
            padding-left: 0px;
            margin: 0px;
            padding: 0px;
        }

            a.tooltip span ol li {
                list-style-type: none;
                padding-bottom: 0px;
                padding-left: 0px;
                margin: 0px;
                padding: 0px;
            }
</style>
<script>
    $(document).ready(function (e) {
        $('.sam').click(function () {
            var id = $(this).attr('id');

            $('.sam').removeClass('activetab');
            $(this).addClass('activetab');

            $('.custom').hide();
            $('#' + id + "-1").show();
        });
    });
</script>

<link href="@Url.Content("~/css/magicsuggest1-1.3.1.css")" rel="stylesheet" type="text/css" />
<div class="main-customer-div">
    <div class="customer-banner">
        <ul>
    	<li><img src="@Url.Content("~/images/Promotion_image/rakhi2015/rakhi2015_01.jpg")" alt="" /></li>
        <li><img src="@Url.Content("~/images/Promotion_image/rakhi2015/rakhi2015_02.jpg")" alt="" /></li>
        <li><img src="@Url.Content("~/images/Promotion_image/rakhi2015/rakhi2015_03.jpg")" alt="" /></li>
        <li><img src="@Url.Content("~/images/Promotion_image/rakhi2015/rakhi2015_04.jpg")" alt="" /></li>
        </ul>
    </div>
      <div class="expandable" id="errorValidation">
        <div id="close-val" class="close-confirm" onclick="disablePopup()">
        </div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">

            <tr>
                <td width="14">
                    <img src="@Url.Content("~/images/expand_top_left.png")" width="14" height="13" /></td>
                <td style="background: url(/images/expand_drop_top.png) repeat-x left 2px;"></td>
                <td width="14">
                    <img src="@Url.Content("~/images/expand_top_right.png")" width="14" height="13" /></td>
            </tr>
            <tr>
                <td style="background: url(/images/expand_drop_left.png) repeat-y 0px top;"></td>
                <td style="background: #fff;">
                    <div class="expandable_mid">
                        <img src="@Url.Content("~/images/error_sign.png")" style="float:left;margin-top:15px;margin-left:30px;" />
                        <div id="validation-msgs" style="margin-left: 114px; color: red" class="validation-error-msg">

                            <div id="paypal-hidmsg" >
                                <p>
                                   This is a onetime offer,strictly for new customers only. If you are an existing customer please look for existing customer promotions under deals.
                                </p>
                            </div>
                        </div>


                    </div>
                </td>
                <td style="background: url(/images/expand_drop_right.png) repeat-y 0px top;"></td>
            </tr>
            <tr>
                <td width="14" style="padding: 0px!important;">
                    <img src="@Url.Content("~/images/expand_bot_left.png")" width="14" height="13" /></td>
                <td style="background: url(/images/expand_drop_bottom.png) repeat-x left 0px;" width="100%"></td>
                <td width="14" style="padding: 0px!important;">
                    <img src="@Url.Content("~/images/expand_bot_right.png")" width="14" height="13" /></td>
            </tr>
        </table>
    </div>
    
    <div id="backgroundPopup" onclick="disablePopup()">
    </div>
    <input type="hidden" value="@ViewBag.UserType" id="hid-usetype"/>
    <div class="customer-price-table">
        <div class="customer-price-table-top">
            <img src="@Url.Content("~/images/Promotion_image/customer-price-table-top-bg.png")" alt="" /></div>
        <div class="customer-price-table-content">
            <div class="customer-price-top-section">
                <div class="customer-price-top-section-column customer-price-top-section-column-left">
                    <select name="trialcountryfrom" id="countryfrom-promotion" style="width: 142px; height: 28px; margin-left: 10px; margin-bottom: 5px;">
                        <option value='1' data-image="@Url.Content("~/images/blank.gif")" data-imagecss="flag us" data-title="U.S.A">U.S.A</option>
                        <option value='2' data-image="@Url.Content("~/images/blank.gif")" data-imagecss="flag ca" data-title="Canada">Canada</option>
                   
                    </select>
                    <input type="hidden" value="@Model.CountryFrom" id="search-countryfrom"/>
                    <script>
                        var countryid = $("#search-countryfrom").val();

                        function setSelectedIndex(s, valsearch) {
                            // Loop through all the items in drop down list
                            for (var i = 0; i < s.options.length; i++) {
                                if (s.options[i].value == valsearch) {
                                    // Item is found. Set its property and exit
                                    s.options[i].selected = true;
                                    break;
                                }
                            }
                            return;
                        }
                        setSelectedIndex(document.getElementById("countryfrom-promotion"), countryid);


                    </script>

                </div>
                <div class="customer-price-top-section-column">
                     <div class="ms-helper "  ></div>
                    <div id="ms-input" class="ms-sel-ctn" style="width: 220px; float: left; height: 34px; margin-top: 10px; margin-left: 10px;">
                        <input id="ms-input-0" type="text" class="" value="Enter the country you wish to call" style="width: 170px;" />
                        <input type="hidden" value="[]" />
                    </div>
                </div>
                <div class="customer-price-top-section-column"><a href="#" id="newcustomers" class="sam activetab new-customers-tab">New Customers</a></div>
                <div class="customer-price-top-section-column"><a href="#" id="faqs" class="sam new-customers-faq-tab">FAQs</a></div>
            </div>
            <div class="clear-fix"></div>
            <div class="customer-price-table-dv new-customer-price-table-dv custom" id="newcustomers-1">
                <ul class="column-1">
                    <li>DENOMINATION</li>
                    <li class="brdnone">$10</li>
                </ul>

                <ul class="column-2">
                    <li>REGULAR Mins.</li>
                    <li class="brdnone">800</li>
                </ul>

                <ul class="column-3">
                    <li>EXTRA Mins.</li>
                    <li class="brdnone">200</li>
                </ul>

                <ul class="column-4">
                    <li>TOTAL Mins.</li>
                    <li class="brdnone">1000</li>
                </ul>

                <ul class="column-5">
                    <div class="bgactive" style="margin-left:12px;"></div>
                    <li>RATE/MIN</li>
                    <li class="brdnone">1 &cent;</li>
                </ul>
                <ul class="column-6">
                    <li>&nbsp;</li>
                    <li class="brdnone"><a onclick="return CheckforPromotion(this);" style="cursor:Pointer">Buy</a></li>
                </ul>
                <div class="clear-fix"></div>
            </div>

            <!-- FAQs -->
            <div class="customer-price-table-faq-dv custom" id="faqs-1">
                <ul>
                    <div class="bgactivefaq" style="margin-right:-12px;"></div>
                    <li>
                        <a href="#" class="tooltip">Is the Offer good from USA and Canada?
                	 <span>
                         <img class="callout" src="@Url.Content("~/images/Promotion_image/tooltip-arrow.png")" />Yes, this offer is valid from USA and Canada. </span>
                        </a>
                    </li>
                    <li class="alternaterow">
                        <a href="#" class="tooltip">Will I be able to recharge the same plan?
                	<span>
                        <img class="callout" src="@Url.Content("~/images/Promotion_image/tooltip-arrow.png")" />For next time, you will be able to recharge your plan either with our customer representative; or you recharge your plan through our website [www.raza.com].</span> </a>
                    </li>
                    <li><a href="#" class="tooltip">What will be the rate next time when I recharge this plan?
                	<span>
                        <img class="callout" src="@Url.Content("~/images/Promotion_image/tooltip-arrow.png")" />Regular rate will be applied for recharge of the above plan. Regular rates can be found at [https://www.raza.com/rate/searchrate?countryfrom=2&countryto=238]. </span></a>
                    </li>
                    <li class="alternaterow"><a href="#" class="tooltip">100% Unconditional Money Back Guarantee.
                	<span>
                        <img class="callout" src="@Url.Content("~/images/Promotion_image/tooltip-arrow.png")" />If for any reason you're not completely satisfied with any aspect of our product, whether the quality, the price or any other reason, you can call us anytime, regardless the date of your purchase, and we will refund the unused balance! You can count on it. </span></a>
                    </li>
                    <li><a href="#" class="tooltip">Will I be able to purchase this plan by calling the customer service?
                	<span>
                        <img class="callout" src="@Url.Content("~/images/Promotion_image/tooltip-arrow.png")" />No. This Offer is Online only.</span> </a>
                    </li>
                    <li class="alternaterow"><a href="#" class="tooltip">If I purchase this Plan will I be able to make calls to other countries?
                	<span>
                        <img class="callout" src="@Url.Content("~/images/Promotion_image/tooltip-arrow.png")" />Yes! You will be able to make calls to anywhere in the world. The rate to call countries will differ, based on the countries you are calling to. </span></a>
                    </li>
                    <li><a href="#" class="tooltip">Once I have purchased the plan how do I make calls to India and other countries?
                        <span style="top: -150px; -moz-box-shadow: -5px -5px 8px #333; -webkit-box-shadow: -5px -5px 8px #333; box-shadow: -5px -5px 8px #333;">
                            <img class="callout" src="@Url.Content("~/images/Promotion_image/tooltip-down-arrow.png")" style="top:176px;">
                            <img class="callout" src="@Url.Content("~/images/Promotion_image/tooltip-down-arrow.png")" style="top:184px;">
                            <strong>Dialing Instructions:</strong>
                            <ol>
                                <li>Dial the Raza Access number.</li>
                                <li>For International Calls: Dial 011 + Country Code +	City Code + Number followed by # sign.</li>
                                <li>To call within USA, Canada or Caribean : Dial 1 + Area Code + Number followed by # sign.</li>
                                *(Once you have dialed the destination number, please do not press send key.)
                            </ol>

                        </span></a>
                    </li>
                    <li class="brdnone alternaterow" style="text-align: center;">Raza.com reserves the rights to withdraw or alter India New Customer Offer at any time without prior notice.</li>
                </ul>


                <div class="clear-fix"></div>
            </div>

        </div>
        <div>
            <img src="@Url.Content("~/images/Promotion_image/customer-price-table-bottom-bg.png")" alt="" /></div>
    </div>
</div>
<script>

    function loading() {
        $("div.loader").show();
    }
    function loadPopup() {
        if (popupStatus == 0) { // if value is 0, show popup

            $("#errorValidation").fadeIn(0500); // fadein popup div
            $("#backgroundPopup").css("opacity", "0.7"); // css opacity, supports IE7, IE8
            $("#backgroundPopup").fadeIn(0001);
            popupStatus = 1; // and set value to 1
        }
    }

    $(this).keyup(function (event) {
        if (event.which == 27) { // 27 is 'Ecs' in the keyboard
            disablePopup(); // function close pop up
        }
    });

    function closeloading() {
        $("div.loader").fadeOut('normal');
    }

    var popupStatus = 0; // set value

    function disablePopup() {
        if (popupStatus == 1) { // if value is 1, close popup
            $("#errorValidation").fadeOut("normal");
            $("#backgroundPopup").fadeOut("normal");
            popupStatus = 0; // and set value to 0
        }
    }


    function CheckforPromotion() {
        var usertype = $("#hid-usetype").val();

        if (usertype == "True") {

            loadPopup();
            // var e = $("#hid-usetype").val("false");
            return false;
        }
        var countryfrom = $('#countryfrom-promotion').val();

        // var selected = $(".close").attr('id');
        var countryto = 130;
        var denomination = 10;
        var coupon = "RAKHI15";
        var servicefee = 0;
        var url = "/Promotion/BuyPromotionPlan?countryfrom=" + countryfrom + "&countryto="
            + countryto + "&denomination=" + denomination + "&couponcode=" + coupon + "&servicefee=" + servicefee;
        window.location.href = url;
        return true;
    }
</script>