@model MvcApplication1.Models.MailModel
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="@Url.Content("~/css/style_selfiecontest.css")" />
@*    <link rel="stylesheet" href="@Url.Content("~/css/sweetalert.css")" />*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
@*<link rel="stylesheet" href="css/sweetalert.css" />*@
<!--<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,900' rel='stylesheet' type='text/css'>-->

<title>Selfie Contest | Raza</title>
<!--[if IE]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script language="javascript">
    function postdata() {
        window.open(postdata.arguments[0], '', 'toolbar=no,statusbar=no,height=' + postdata.arguments[1] + ',width=' + postdata.arguments[2] + ',top=' + postdata.arguments[3] + ',left=' + postdata.arguments[4] + ',directories=no,scrollbars=yes,resizable=yes');
    }
</script>
<script>
    $(document).ready(function () {
        if ('@ViewBag.Message' == 'Sent') {
            alert('Mail has been sent successfully');
        }
        else if ('@ViewBag.Message' == 'invalid name') {
            alert('Error: Invalid First Name or Last Name');
        }
        else if ('@ViewBag.Message' == 'invalid salman') {
            alert('Error: Invalid Salman Khan Name');
        }
        else if ('@ViewBag.Message' == 'invalid email') {
            alert('Error: Invalid Email Address');
        }
        else if ('@ViewBag.Message' == 'invalid mobile') {
            alert('Error: Invalid Phone Number');
        }
        else if ('@ViewBag.Message' == 'invalid terms') {
            alert('Error: Please accept terms and conditions');
        }
        else if ('@ViewBag.Message' == 'duplicate record') {
            alert('Error: Trying to Submit Duplicate Record');
        }
        else if ('@ViewBag.Message' == 'try again') {
            alert('Error: There is Problem. Please try again later');
        }
        else if ('@ViewBag.Message' == 'invalid photo') {
            alert('Error: Please upload the valid photo');
        }
        else if ('@ViewBag.Message' == 'invalid size') {
            alert('Error: Please upload the valid photo size');
        }
    });
</script>
</head>
<body>
<div class="" id="show_loading"></div>
<div class="wrapper">
    <div class="family">
        <img src="@Url.Content("~/images/Promotion_image/selfiecontest/selfie.png")" alt="">    </div>
    <span class="triangle"><img src="@Url.Content("~/images/Promotion_image/selfiecontest/tri-angle.png")" alt=""></span>
               
    
    <div class="faq">
        <a href="javascript:postdata('SelfieContest_Faq.html',550,857,150,175);""><img src="@Url.Content("~/images/Promotion_image/selfiecontest/faq.png")" alt=""></a>
        </div>
    <div class="opportunity">
        <h3>Get a once in a </br> lifetime opportunity tO see yourself </br> with Salman Khan in a selfie in </h3>
    </div>
    <div class="logo">
        <img src="@Url.Content("~/images/Promotion_image/selfiecontest/logo.png")" alt="">    </div>
    <div class="contest">
        <h3>‘Selfie with Bhaijaan’ </br> Contest</h3>
    </div>
    <div class="app_box">
        <h3>Watch Bajrangi Bhaijaan on </br> Sunday, Oct 25th 1.30pm ET. </br> Only on</h3>
    </div>
    <div class="star_plus">
        <a href="#"><img src="@Url.Content("~/images/Promotion_image/selfiecontest/star_plus.png")" alt="" title="Star Plus"></a>    </div>
    <div class="subscribe">
        <div class="video">
             <video  autoplay="autoplay" controls poster="@Url.Content("~/images/Promotion_image/selfiecontest/video/video.jpg")" style="width:100%" title="Raza.com Selfie With BhaiJaan Contest" onended="var v=this;setTimeout(function(){v.play()},300)">
            <source src="@Url.Content("~/images/Promotion_image/selfiecontest/video/bb_selfie_contest.mp4")" />
            <source src="@Url.Content("~/images/Promotion_image/selfiecontest/video/bb_selfie_contest.ogg")" type="video/ogg" />
            <source src="@Url.Content("~/images/Promotion_image/selfiecontest/video/bb_selfie_contest.webm")" />
            </video> 
        </div>
     <div>
     <table>
        <tbody>
@using (@Html.BeginForm("SelfieContest", "Promotion", FormMethod.Post, new { @id = "form_selfie", @enctype = "multipart/form-data" })) 
{ @Html.ValidationSummary()      
        <tr>
            <td><div class="err_msg" id="diverrmsg"><h3>Please fill in the below details:</h3></div></td>
        </tr>
        <tr>
            <td>
                <div class="movie">
                    <h3>What is Bhajrangi Bhaijaans name in the movie?</h3>
                    <ul class="movie_list">
                    <li><label>@Html.RadioButtonFor(m=>m.ActorName,"Pawan Kumar Chaturvedi", new {@class = "ans"}) Pawan Kumar Chaturvedi</label></li>
                    <li><label>@Html.RadioButtonFor(m=>m.ActorName,"Pyare Mohan", new {@class = "ans"}) Pyare Mohan</label></li>
                    <li><label>@Html.RadioButtonFor(m=>m.ActorName,"Natwarlal Seth", new {@class = "ans"}) Natwarlal Seth</label></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="upload_box"><input type="file" name="fileUploader" id="fileUploader" /></div>
                <div class="clear"></div>
                <p class="image_type">Format - .JPG, .png, .gif  |  Max Size - 2 MB</p>
            </td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(m => m.FirstName, new {@class = "client_name", Value="", maxlength="25", placeholder="First Name*"})</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(m => m.LastName, new {@class = "client_name", Value="", maxlength="25", placeholder="Last Name*"})</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(m => m.Email, new {@class = "client_name", Value="", maxlength="70", placeholder="Email*"})</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(m => m.Mobile, new {@class = "client_name", Value="", maxlength="10", placeholder="Mobile No.*"})</td>
        </tr>
        <tr>
            <td><div class="condition">@Html.CheckBoxFor(m => m.TermsnCond) <span class="terms_txt">I accept the Terms & Conditions</span></div></td>
        </tr>
        <tr>
            <td><div class="clear"></div></td>
        </tr>
        <tr>
            <td>
                <div class="enquiry"><input type="submit" value="SUBMIT" name="form_submit" id="form_submit" class="success_but" /></div>
            </td>
        </tr>
}
        <tr>
            <td><label class="terms_txt"><a href="javascript:postdata('SelfieContest_Terms.html',550,857,150,175);"">Terms & Conditions</a></label></td>
        </tr>
        </tbody>
        </table>

</div>   
@*</div>
    <div class="copy_right">
        <img src="@Url.Content("~/images/Promotion_image/selfiecontest/copy_right.png")" alt="">    </div>
</div>*@
</body>
</html>
