<div class="sky-carousel">
    <div class="sky-carousel-wrapper">
        <ul class="sky-carousel-container">

            <li>
                <a href="@Url.Action("IndiaUnlimited", "Rate")">
                    <img src="@Url.Content("~/Content/MobileTheme/images/4/$9.99_per_month.png")" alt="India Unlimited Plan"/></a>
                <div class="sc-content">
                    <h2><a href="@Url.Action("IndiaUnlimited", "Rate")">India Unlimited Plan</a></h2>
                    <p><a href="@Url.Action("IndiaUnlimited", "Rate")">Starting as low as $9.99</a></p>
                </div>
            </li>



    @if (System.DateTime.Now < Convert.ToDateTime("2016-01-03 00:00:00"))
    {
            <li>
                <a href="@Url.Action("NewYear", "Promotion")">
                    <img src="@Url.Content("~/Content/MobileTheme/images/4/ny2000-deals-formobile.png")" alt="Happy Diwali Offer"/></a>
                <div class="sc-content">
                    <h2><a href="@Url.Action("NewYear", "Promotion")">Happy New Year</a></h2>
                    <p><a href="@Url.Action("NewYear", "Promotion")">Get upto 2000 free min</a></p>
                </div>
            </li>
         }
         else{

            <li>
                <a href="@Url.Action("Nepal69Promotion", "Promotion")">
                    <img src="@Url.Content("~/Content/MobileTheme/images/4/6.9cent_per_minute.png")" alt="Nepal New Customer Special"/></a>
                <div class="sc-content">
                    <h2><a href="@Url.Action("Nepal69Promotion", "Promotion")">Nepal New Customer Special</a></h2>
                    <p><a href="@Url.Action("Nepal69Promotion", "Promotion")">Call @@ 6.9 cents/min</a></p>
                </div>
            </li>
    }




    @if (System.DateTime.Now.Year == 2015 && System.DateTime.Now.Month == 11 && (System.DateTime.Now.Day > 6 && System.DateTime.Now.Day < 16))
    {
            <li>
                <a href="@Url.Action("Diwali_FreeTrial", "Promotion")">
                    <img src="@Url.Content("~/Content/MobileTheme/images/4/diw200-deals-formobile.png")" alt="New Customer Special"/></a>
                <div class="sc-content">
                    <h2><a href="@Url.Action("Diwali_FreeTrial", "Promotion")">New Customer Special</a></h2>
                    <p><a href="@Url.Action("Diwali_FreeTrial", "Promotion")">No Purchase Necessary</a></p>
                </div>
            </li>
    }



            <li>
                <a href="@Url.Action("IndiaOneCent", "Rate")">
                    <img src="@Url.Content("~/Content/MobileTheme/images/4/1cent_per_minute.png")" alt="India 1 Cent Plan" /></a>
                <div class="sc-content">
                    <h2><a href="@Url.Action("IndiaOneCent", "Rate")">India 1 Cent Plan</a></h2>
                    <p><a href="@Url.Action("IndiaOneCent", "Rate")">Starting as low as $10</a></p>
                </div>
            </li>

@*            <li>
                <a href="@Url.Action("MothersDay", "Promotion")">
                    <img src="@Url.Content("~/Content/MobileTheme/images/4/mothersday2016-deals-formobile.png")" alt="Save Big Everyday"/></a>
                <div class="sc-content">
                    <h2><a href="@Url.Action("MothersDay", "Promotion")">Mother's Day</a></h2>
                    <p><a href="@Url.Action("MothersDay", "Promotion")">Get upto 2500 free min</a></p>
                </div>
            </li>*@



            
            
            
@*            <li>
                <a href="@Url.Action("SaveBigEveryDay", "Promotion")">
                    <img src="@Url.Content("~/Content/MobileTheme/images/4/start_as_low_as.png")" alt="Save Big Everyday"/></a>
                <div class="sc-content">
                    <h2><a href="@Url.Action("SaveBigEveryDay", "Promotion")">Save Big Everyday</a></h2>
                    <p><a href="@Url.Action("SaveBigEveryDay", "Promotion")">Get upto 500 free min</a></p>
                </div>
            </li>

           <li>
                <a href="@Url.Action("SaveBigEveryDay", "Promotion")">
                    <img src="@Url.Content("~/Content/MobileTheme/images/4/get_up_to_1500_free_min.png")" alt="Save Big Everyday"/></a>
                <div class="sc-content">
                    <h2><a href="@Url.Action("SaveBigEveryDay", "Promotion")">Save Big Everyday</a></h2>
                    <p><a href="@Url.Action("SaveBigEveryDay", "Promotion")">Get upto 500 free min</a></p>
                </div>
            </li>*@

        </ul>

    </div>
</div>
