@model MvcApplication1.Areas.Mobile.ViewModels.UiHomeSearchBoxViewModel
<div class="row">
    <div class="col-xs-12 col-sm-12">
        @Html.DropDownList("CallingFrom", new SelectList(Model.CallingFromCountries, "Id", "Name"), new { @class = "form-control form_mar" })
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12">

        <div class="ui fluid search selection dropdown form_mar" id="callingto-search">
            <input type="hidden" name="country">
            <i class="dropdown icon"></i>
            <input class="search" tabindex="0"><div class="default text">Select a destination</div>
            <div class="menu" tabindex="-1">
                @foreach (var item in @Model.CallingToCountries)
                {
@*<div class="item" data-value="@item.Id" data-us="@item.UsaMobileRate~@item.UsaLandlineRate"
                         data-canada="@item.CanadaMobileRate~@item.CanadaLandlineRate"
                         data-uk="@item.UkMobileRate~@item.UkLandlineRate">@item.Name
                        <i class="ad flag"></i>
                    </div>*@
                    <div class="item" data-value="@item.Id">@item.Name
                        @*<i class="ad flag"></i>*@
                    </div>
                }
            </div>
        </div>

    </div>
</div>

<div class="row" id="rateViewRow" style="display: none">
    <div class="col-xs-1"><span class="fa fa-mobile-phone mobile"></span></div>
    <div class="col-xs-5">
        <h4 class="mobile_text" id="mobileLowestRate">-----</h4>
    </div>
    <div class="col-xs-1"><span class="fa fa-phone phone"></span></div>
    <div class="col-xs-5">
        <h4 class="mobile_text" id="landlineLowestRate">-----</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <button type="button" id="btn-lowest-RateSearch" class="btn btn-primary btn-block search_input btn_bgreen">BUY NOW</button>
    </div>
</div>
