@{
    ViewBag.Title = "OneCentPlan";
}

<img class="img-responsive" src="@Url.Content("~/Content/MobileTheme/images/slider_30.jpg")">
<div class="container-fluid contact_bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h4 class="sub_titile">Best rates to call any of the countries below</h4>
            </div>
        </div>
    </div>
</div>
@{
    var countryfromIp = Convert.ToInt32(Session["CountrybyIp"] ?? 1);
}
<div class="container-fluid ">
    <div class="container country_list">
        <div class="row">
            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 10 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="ar flag "></i>Argentina Buenos Aires
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 19 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="au flag"></i>Australia
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 22 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="at flag"></i>Austria
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 27 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="be flag"></i>Belgium
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 43 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="br flag"></i>Brazil Rio De Janiero Sao Paulo
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 57 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="ca flag"></i>Canada except NWT / Yukon
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_mobile fa fa-mobile"></i><i class="call_phone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 63 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="cl flag"></i>Chile
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 64 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="cn flag"></i>China
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_mobile fa fa-mobile"></i><i class="call_phone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 67 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="co flag"></i>Colombia Bogota
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 381 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="cz flag"></i>Czech Republic
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 80 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="dk flag"></i>Denmark
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 96 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="fr flag"></i>France
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 105 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="de flag"></i>Germany
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 113 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="gr flag"></i>Greece
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 118 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="gu flag"></i>Guam
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_mobile fa fa-mobile"></i><i class="call_phone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 126 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="hk flag"></i>Hong Kong
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_mobile fa fa-mobile"></i><i class="call_phone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 128 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="hu flag"></i>Hungary
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("IndiaOneCent", "Rate")">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="in flag"></i>India
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 170 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="ie flag"></i>Ireland
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 171 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="il flag"></i>Israel
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 172 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="it flag"></i>Italy
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 195 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="lu flag"></i>Luxembourg
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 200 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="my flag"></i>Malaysia
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 209 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="mx flag"></i>Mexico Guadalajara, Mexico, City, Monterey, Puebla
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone mexico_mar fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 227 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="nl flag"></i>Netherlands
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 229 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="nz flag"></i>New Zealand
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 236 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="no flag"></i>Norway
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 246 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="pe flag"></i>Peru Lima
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 128 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="pl flag"></i>Poland
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 241 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="pt flag"></i>Portugal
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 252 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="pr flag"></i>Puerto Rico
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_mobile fa fa-mobile"></i><i class="call_phone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 258 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="ru flag"></i>Russia Moscow, St. Petersburg
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 270 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="sg flag"></i>Singapore
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_mobile fa fa-mobile"></i><i class="call_phone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 277 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="kr flag"></i>South Korea
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 278 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="es flag"></i>Spain
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 292 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="se flag"></i>Sweden
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 294 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="ch flag"></i>Switzerland
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 296 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="tw flag"></i>Taiwan
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 128 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="th flag"></i>Thailand
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 312 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="gb flag"></i>United Kingdom
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 314 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="us flag"></i>United States**
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_mobile fa fa-mobile"></i><i class="call_phone fa fa-phone"></i>
                </div>
            </a>

            <a href="@Url.Action("SearchRate", "Rate", new { countryfrom = countryfromIp, countryto = 321 })">
                <div class="col-sm-10 col-xs-10 profile">
                    <p class="rates_mar">
                        <i class="ve flag"></i>Venezuela
                    </p>
                </div>
                <div class="col-sm-2 col-xs-2 profile">
                    <i class="call_ophone fa fa-phone"></i>
                </div>
            </a>

        </div>
    </div>
</div>




<!--Search More Rate options-->
<div class="container-fluid lowest_bg ">
    <div class="container demo country_mar">
        <h1 class=" sub_titile text-center">Search More Rates</h1>
        @{Html.RenderAction("HomeSearchBox", "UiControls");}
    </div>


</div>


@section scripts{
    <script>

        //$("#CallingFrom").change(function () {
        //    alert("hi");
        //});

        var dropSearch = $("#callingto-search");
        var rateperSign = " ¢/min";
        var rateSearchUrl = '@Url.Action("Index", "Rate")';
        dropSearch.dropdown(
        {
            onChange: function (value, text, $selectedItem) {
                var callingfrom = $("#CallingFrom option:selected").val();
                if (callingfrom == undefined)
                    return;

                rateSearchUrl = '@Url.Action("SearchRate", "Rate")' + '?countryfrom=' + callingfrom + '&countryto=' + value;
                if (callingfrom == 1) {
                    SplitRates($selectedItem.data("us"));
                } else if (callingfrom == 2) {
                    SplitRates($selectedItem.data("canada"));
                } else if (callingfrom == 3) {
                    rateperSign = " p/min";
                    SplitRates($selectedItem.data("uk"));
                } else {
                    GetRateFromServer(callingfrom, value);
                }
                $("#rateViewRow").slideDown();
            }
        });

        function GetRateFromServer(callingfrom, callingto) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetLowestRate", "Account")',
                data: {
                    callingFrom: callingfrom,
                    callingTo: callingto
                },
                success: function (res) {
                    UpdateLowestRate(res.MobileRate, res.LandLineRate);
                }
            });
        }

        function SplitRates(data) {
            var mobile = data.split('~')[0];
            var landline = data.split('~')[1];
            UpdateLowestRate(mobile, landline);
        }

        function UpdateLowestRate(mobileRate, landlineRate) {
            $("#mobileLowestRate").text(mobileRate + rateperSign);
            $("#landlineLowestRate").text(landlineRate + rateperSign);
        }

        $("#btn-lowest-RateSearch").click(function () {
            debugger;
            window.location.href = rateSearchUrl;
        });
    </script>
