  <!--header start -->
  <div id="header">
    <div class="logo_2"> <a href="index.html"><img src="@Url.Content("~/images/CallingTo/raza_logo.jpg")" alt="" /></a> </div>
    <div class="header_right"> <span class="number">1-(877) 463-4233</span>
      <div class="contry_flag_dropdown_1">
       	          <form action="#" method="post" accept-charset="utf-8" class="example_form">
            <select name="countries" id="rate-countries" style="width:64px; float:left; margin:0px 19px 0px 33px;" >
          <option value='us' data-image="@Url.Content("~/images/CallingTo/blank.gif")" data-imagecss="usa_big" data-title="U.S.A"></option>
          <option value='ca' data-image="@Url.Content("~/images/CallingTo/blank.gif")" data-imagecss="canada_big" data-title="Canada"></option>
          <option value='uk' data-image="@Url.Content("~/images/CallingTo/blank.gif")" data-imagecss="uk_big" data-title="United Kingdom"></option>
          <option value='nz' data-image="@Url.Content("~/images/CallingTo/blank.gif")" data-imagecss="nz_big" data-title="New Zealand"></option>
          <option value='au' data-image="@Url.Content("~/images/CallingTo/blank.gif")" data-imagecss="aus_big" data-title="Australia"></option>
        </select>
          </form>
      </div>
    
           <div class="clear"></div>
            <input type="button" value=""  class="login panel"  id="#ConceptDesignReview" onclick="window.open('https://www.raza.com/Account/LogOn?ReturnUrl=/account/Myaccount')"  /> 
      <div id="right">
      
              <!--<div class="panel active" id="ConceptDesignReview" style="display:block; left: 0px;">
            <form>
                  <span class="slide_pop_login">
              <input type="text" placeholder="Email ID">
              <input type="password" placeholder="Password">
              </span>
               
                  <span class="login_box_slide"> <span>
                  <input type="checkbox" name="" value="" checked="" class="checkbox">
                  Remember Username</span> <a href="" class="forgot-pass modal-new">Forgot
                  password?</a> </span>
                </form>
          </div>-->
         
            </div>
             <div id="contact-new">
              <form>
            <div class="contact-detail-new">
                  <h2>Password Retrieval</h2>
                  <div id="close-new"></div>
                  <fieldset>
              <p>Please Enter the Email Address you registered with Raza.Com
                and your password will be automatically sent to your Email Address.</p>
              <label>Email Address:</label>
              <input type="text" value="" />
              </fieldset>
                  <input type="submit" value="" class="sumit-btn"/>
                </div>
          </form>
            </div>
        <div id="mask-new"></div>
      
      
      <span class="live-border"><a href="" class="live_chat"></a></span></div>
      <div class="navigation"> <strong class="menu">menu</strong> <strong class="arrow_new">arrow</strong>
    <ul>
      <li class="home"><a href="http://raza.com/" title="Home" class="active"><span>Home</span></a></li>
      <li class="ico2"><a href="http://www.raza.com/WhyRaza" title="WHY RAZA"><span>WHY RAZA</span></a>
        
      </li>
	  
      <li class="ico3"><a href="http://www.raza.com/Rate/Plans" title="PLANS"><span>PLANS</span></a>
        
      </li>
	  
	  
	  
	  
      <li class="ico4"><a href="http://www.raza.com/Features" title="Features"><span>Features</span></a>
        
      </li>
      
      <li class="ico5"><a href="https://www.raza.com/Account/LogOn?ReturnUrl=/account/Myaccount" title="My Account"><span>My Account</span></a>
        
      </li>
      <li class="ico6"><a href="https://www.raza.com/Account/LogOn?ReturnUrl=/account/Myaccount" title="Recharge"><span>Recharge</span></a>
        
      </li>
      <li class="ico7 "><a href="http://www.raza.com/support" title="Support" class="line-bg"><span>Support</span></a>
        
      </li>
      
      <li class="new_signing_li">
      <a href="https://www.raza.com/Account/LogOn?ReturnUrl=/account/Myaccount" class="new_signing"><img src="@Url.Content("~/images/CallingTo/signin1.png")" border="0"/></a>
      </li>
     
      
    </ul>
      
        
    <div class="clear"></div>
  </div>
  </div>