@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Raza Seo</title>
<link href="@Url.Content("~/css/callingto/stylesheet.css")" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="@Url.Content("~/css/callingto/flexslider.css")" type="text/css" media="screen" />
<link rel="stylesheet" href="@Url.Content("~/css/callingto/font-awesome.css")" type="text/css" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Changa+One:400,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
<!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie9.css" media="screen" />
<![endif]-->
<!-- Tabs JS start -->
<!--[if lte IE 10]>
    <link rel="stylesheet" type="text/css" href="css/ie10.css" media="screen" />
<![endif]-->
<!-- Tabs JS start -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>

    jQuery(function ($) {



        $('input.panel').hover(function () {

            var $target = $($(this).attr('id')),

            $other = $target.siblings('.active'),

            animIn = function () {

                $target.addClass('active').show().css({

                    left: +($target.width()) + 200

                }).finish().animate({

                    left: 0

                }, 1000);

            };



            if (!$target.hasClass('active') && $other.length > 0) {

                $other.each(function (index, self) {

                    var $this = $(this);

                    $this.removeClass('active').animate({

                        left: +$this.width() + 200

                    }, 1000, animIn);

                });

            } else if (!$target.hasClass('active')) {

                animIn();

            }

        });



        $(document).click(function (e) {

            var $target = $(e.target), $active = $('div.panel.active');



            if ($active.length && $target.closest('a.panel').length == 0 && $target.closest($active).length == 0) {

                $active.removeClass('active').finish().animate({

                    left: +$active.width() + 200

                }, 1000);

            }

        })



        $('#right').mouseleave(function () {

            //alert("akash akash ");

            var $target = $($('input.panel').attr('id'));

            if ($target.hasClass('active')) {

                $target.removeClass('active').finish().animate({

                    left: +$target.width() + 200

                }, 1000);

            }

        });



        $('.submit_login').click(function () {

            //alert("akash akash ");

            var $target = $($('input.panel').attr('id'));

            if ($target.hasClass('active')) {

                $target.removeClass('active').finish().animate({

                    left: +$target.width() + 200

                }, 1000);

            }

        });



    });

</script>

<!--New Fade In Fade Out Main JS -->

<!--New Fade In Fade Out Main JS -->
<link href="@Url.Content("~/css/callingto/dd_flags.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/css/callingto/flags.css")" rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/scripts/callingto/popup_jquery.js")"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="@Url.Content("~/scripts/callingto/libs/jquery-1.7.min.js")">\x3C/script>')</script>

  <!-- FlexSlider -->
  <script defer src="@Url.Content("~/scripts/callingto/jquery.flexslider.js")"></script>

  



</head>

<body>

  	
<div id="main_container"> 
<div id="wrapper">


  <!--header start -->
    @RenderPage("~/Views/CallingTo/CallingToHeader.cshtml")
  <!--end header-->
  
  
  
  <!--BANNER DIV START-->
  
 	<div class="banner banner_india">
    	<div class="left-side">
        <h1><img src="@Url.Content("~/images/callingto/banner_india_small.jpg")" align="" alt="" />India</h1>
        <h2>India Calling Plan</h2>
        <h3>Low Rates, Affordable India Calling plan. Long distance calling plan.</h3>
<p>We offer best rates to call INDIA and anywhere in the world. Raza.com keep talking.</p>
        </div>
        <div class="right-side">
        <!--<img src="images/india_girls_banne.png" alt="" class="india_girl" />-->
        </div>
    </div>
  
 <!--BANNER DIV END-->
 
 	<div class="clear"></div>
    
    <!--START BODY CONTAINER DIV START-->
    
    <div class="seo_con">
    	<div class="left-part">
        <h2 class="calling_heading">India Calling Rates</h2>
        
        <div class="yellow_div">
        <div class="part_1">
        <img src="@Url.Content("~/images/callingto/landline_icno.png")" alt="" />
        <span>1 ¢/min</span>
        </div>
        <div class="part_2">
        <img src="@Url.Content("~/images/callingto/phone_icno.png")" alt="" />
        <span>1 ¢/min</span>
        </div>
        <a href="" class="buy_now">Buy Now</a>
        
        </div>
        
        <h3>Call India <span>----- Lowest rates possible with best Quality.</span></h3>
        
        <div class="para_div">
        <p>Call any major city or state like, India Ahmadabad, Bangalore, Chennai, Mumbai, Calcutta, Hyderabad and New Delhi etc.. 
</p>
        
        <p>Raza.com provides excellent rates with high quality to call anywhere in the world. India has one of the lowest call tariffs in the world and our features make it more exciting.  Our features not only help you to make calling simpler, faster and easier but also gives you peace of mind, you can make changes to your account online and also check your call details 24/7 by just logging in.
</p>
        
        
        <p>This amazing plan will not only give best rates to call INDIA but also allows you to call anywhere in the world at the most competitive rates.
</p>

<p>Call it Cheap calling plans, Low rate plans, discounted plans, lowest calling rate plans or Long distance phone cards, Raza.com has it all. Buy now and start saving. We give 100% money back guarantee as we believe in our price and quality of our calls.</p>
        
        
        
        
        </div>
        
        <div class="featuer_div">
        <h2>Features Included:</h2>
        	
            <div class="feature_1">
            <h4>One Touch dialing:</h4>
            <p>Call any international number with the touch of a button, Take Advantage now!! It's free and as easy as making a local call.</p>
            </div>	
            
            <div class="feature_1">
            <h4>Online Call Details:</h4>
            <p>View detailed breakdown of your calls made from the past 60 days.</p>
            </div>	
            
            <div class="feature_1">
            <h4>Call from 20 Different Countries:</h4>
            <p>How Convenient!! Same premium plan that you carry will allow you to Make calls from over 20 different countries. No Additional purchase necessary, your current balance will be used against the calls made from other countries.</p>
            </div>	
            
            <div class="feature_1">
            <h4>Auto-refill:</h4>
            <p>Never run out of your minutes, our system will automatically charge Your plan when your balance reaches below $2, you can cancel it anytime Online or by calling customer service.</p>
            </div>	
            
            <div class="feature_1">
            <h4>100% Money back guarantee:</h4>
            <p>For any reason if you wish not to use our plan, 100% unused balance will be refunded back to your bank account.</p>
            </div>	
            
            <div class="feature_1">
            <h4>Call Forwarding:</h4>
            <p> Never miss a call when you are away from your home, office or Business.
                Get a personal 1-800 number and forward your Calls, it's That simple!! .  </p>
            </div>	
        
        
        
        </div>
        
        </div>
        
        <div class="right-part">
        <h2 class="rates_heading">Search More Rates</h2>
        
        <div class="right_div">
        	<div class="part_first">
            	<div class="calling_select">
                <select name="">
                <option value="" selected="selected">---- Calling From ----</option>
                </select>
                </div>
                
                <div class="calling_select">
                <select name="">
                <option value="" selected="selected">---- Calling To ----</option>
                </select>
                </div>
                
                <input name="" type="button" class="search_btn" value="Search" />
                
                
            </div>
            
            <div class="part_second">
            <h2>Calling India from
US or Canada</h2>
			<p>India Country Code: 91</p>
            <span>Dialing Instructions to call India</span>
            	<ul>
                <li>1. Dial Raza Access Number</li>
                <li>2. Enter 011 + 91 + Phone #</li>
                <li>3. Press # key at the end.</li>
                </ul>
            </div>
            
            <div class="part_third">
            <h2>Raza Unlimited plan</h2>
            <p class="unlimited">Unlimited <span>$9.99</span>/Month</p>
            
            <p class="unlimited_icon"><img src="@Url.Content("~/images/callingto/unlimited_landline.png")" alt="" />Included over 60 countries  to call Landlines</p>
            <p class="unlimited_icon"><img src="@Url.Content("~/images/callingto/phone_icno.png")" alt="" />Included over 10 countries  to call Mobiles</p>
            
            <h3>Call over 60 Countries</h3>
            
            <p class="unlimited_txt"><a href="">Click here</a> to view the list of countries included.</p>
            
            </div>
            
        </div>
        
        
        
        </div>
        
        <div class="spacer"></div>
        
        <div class="clear"></div>
        
        <div class="link_div">
        <h2>Useful links</h2>
        <ul>
        <li><a href="https://www.raza.com/Account/LogOn?ReturnUrl=/account/Myaccount"><p><img src="@Url.Content("~/images/callingto/access_img.png")" alt="" /></p><span>Access Numbers</span></a></li>
        <li><a href="http://www.raza.com/"><p><img src="@Url.Content("~/images/callingto/search_magnifier.png")" alt="" /></p><span>Search Rates</span></a></li>
        <li><a href="http://www.raza.com/support#tabs-2"><p><img src="@Url.Content("~/images/callingto/question.png")" alt="" /></p><span>FAQ's</span></a></li>
        <li><a href="http://www.raza.com/account/MobileApp"><p><img src="@Url.Content("~/images/callingto/andriod_icon.png")" alt="" /></p><span>Download mobile apps</span></a></li>
        <li><a href="http://www.raza.com/FreeTrial"><p><img src="@Url.Content("~/images/callingto/free_trial.png")" alt="" /></p><span>Try us Free</span></a></li>

        </ul>
        </div>
        
        <div class="spacer"></div>
        
        <div class="clear"></div>
        
        <div class="testimonial_div">
        	<div class="testi_div">
            <h4>Review</h4>
            
            <div id="main" role="main">
      <section class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li>
  	    	    <p><img src="@Url.Content("~/images/callingto/testimonial_img.png")" alt="" />"Nagesh Konda"</p>
            
            <span>We moved to USA in the year 2008, I have tried using many different companies to call back home but I was not happy with the Rate, quality and service, one of my friend referred Raza, since then I have never looked for other calling card companies,  the most reliable, cost effective, and best service I received ever.. <br /><br />
I would definitely recommend to my friends... Keep up the good work Raza.</span>
  	    		</li>
                
               <li>
  	    	    <p><img src="@Url.Content("~/images/callingto/testimonial_img.png")" alt="" />"Nagesh Konda"</p>
            
            <span>We moved to USA in the year 2008, I have tried using many different companies to call back home but I was not happy with the Rate, quality and service, one of my friend referred Raza, since then I have never looked for other calling card companies,  the most reliable, cost effective, and best service I received ever.. <br /><br />
I would definitely recommend to my friends... Keep up the good work Raza.</span>
  	    		</li>
                
                <li>
  	    	    <p><img src="@Url.Content("~/images/callingto/testimonial_img.png")" alt="" />"Nagesh Konda"</p>
            
            <span>We moved to USA in the year 2008, I have tried using many different companies to call back home but I was not happy with the Rate, quality and service, one of my friend referred Raza, since then I have never looked for other calling card companies,  the most reliable, cost effective, and best service I received ever.. <br /><br />
I would definitely recommend to my friends... Keep up the good work Raza.</span>
  	    		</li>
                
                <li>
  	    	    <p><img src="@Url.Content("~/images/callingto/testimonial_img.png")" alt="" />"Nagesh Konda"</p>
            
            <span>We moved to USA in the year 2008, I have tried using many different companies to call back home but I was not happy with the Rate, quality and service, one of my friend referred Raza, since then I have never looked for other calling card companies,  the most reliable, cost effective, and best service I received ever.. <br /><br />
I would definitely recommend to my friends... Keep up the good work Raza.</span>
  	    		</li>
  	    		
                
                
          </ul>
        </div>
      </section>
      
    </div>
    
    <!--<div class="">
            <p><img src="img/testimonial_img.png" alt="" />"Nagesh Konda"</p>
            
            <span>We moved to USA in the year 2008, I have tried using many different companies to call back home but I was not happy with the Rate, quality and service, one of my friend referred Raza, since then I have never looked for other calling card companies,  the most reliable, cost effective, and best service I received ever.. <br /><br />
I would definitely recommend to my friends... Keep up the good work Raza.</span>
</div>-->
            


            </div>
        </div>
        
        <div class="clear"></div>
        
        <div class="country_div">
        <ul>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=1">Afganistan</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=19"> Australia</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=27">Bangladesh </a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=35">Belgium</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=57">Canada</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=64">China</a></li>
        
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=72">Costa Rica</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=74">Cuba</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=381">Czech Republic</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=85">Ecuador</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=87">Egypt</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=88">El Salvador</a></li>
        
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=89">Eritrea</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=91"> Ethiopia</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=382">Fiji</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=96">France</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=105">Germany</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=116">Grenada</a></li>
        
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=122">Guinea</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=123"> Guyana</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=130">India</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=166">Indonesia</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=167">Iran</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=169">Iraq</a></li>
        
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=170">Ireland</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=172">Italy</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=176">Jamaica</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=178">Jordan</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=180">Kenya</a></li>
        
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=185">Kuwait</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=209"> Mexico</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=224">Nepal</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=227">Netherlands</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=229">New Zealand</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=232">Nigeria</a></li>
        
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=237">Oman</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=238"> Pakistan</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=248">Philippines</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=252">Puerto Rico</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=253">Qatar</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=258">Russia</a></li>
        
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=286">Saint Lucia</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=265"> Saudi Arabia</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=266">Senegal</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=269">Sierra Leone</a></li>
        
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=274">Somalia</a></li>
        
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=275">South Africa</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=278">Spain</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=281">Sri Lanka</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=294">Switzerland</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=301">Togo</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=303">Trinidad and Tobago</a></li>
        
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=309">United Arab Emirates</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=312">United Kingdom</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=448">Zimbabwe</a></li>
        <li><a href="http://raza.com/Rate/searchrate?countryfrom=1&countryto=110">Ghana</a></li>
        <li><a href="" class="active">More...</a></li>
        
        
        </ul>
        </div>
        
    </div>
    
    <!--START BODY CONTAINER DIV END-->
    
    
  
  <!--footer start-->
  
  <div id="footer_container">
    <div id="tabbing_footer">
      <ul id="ftr_tabs">
        <li><a href="#ftrtabs-1 "><b class="first-icon"></b>Try us Free </a></li>
        <li><a href="#ftrtabs-2"><b class="second-icon "></b>Subscribe </a></li>
        <li><a href="#ftrtabs-3"><b class="third-icon"></b>Guarantee</a></li>
        <li><a href="#ftrtabs-4"><b class="four-icon"></b>Raza Rewards</a></li>
        <li><a href="#ftrtabs-5"><b class="five-icon"></b>Auto-refill</a></li>
        <li><a href="#ftrtabs-6"><b class="six-icon"></b>Search Rates</a></li>
        <li><a href="#ftrtabs-7"><b class="seven-icon"></b>Contact us</a></li>
        <li><a href="#ftrtabs-8"><b class="eight-icon"></b>T&amp;C</a></li>
        <li><a href="#ftrtabs-9"><b class="nine-icon"></b>Support</a></li>
      </ul>
      <div id="ftrtabs-1" class="ftr_tabs-section">
        <form class="try-free">
                <div class="left-part">
                      <div class="contry_flag_dropdown fl">
                    <select name="countries" id="countries_tryusfree_footer" style="width:107px;">
                          <option value='us' data-image="@Url.Content("~/images/callingto/blank.gif")" data-imagecss="flag us" data-title="U.S.A">U.S.A</option>
                          <option value='ca' data-image="@Url.Content("~/images/callingto/blank.gif")" data-imagecss="flag ca" data-title="Canada">Canada</option>
                          <option value='uk' data-image="@Url.Content("~/images/callingto/blank.gif")" data-imagecss="flag england" data-title="United Kingdom">U.K</option>
                          <option value='nz' data-image="@Url.Content("~/images/callingto/blank.gif")" data-imagecss="flag nz" data-title="New Zealand">New
                          Zealand</option>
                          <option value='au' data-image="@Url.Content("~/images/callingto/blank.gif")" data-imagecss="flag au" data-title="Australia">Australia</option>
                        </select>
                  </div>
	
                      <select >
                    <option value="1"  selected="selected">Select Destination</option>
                    <option value="130">India - 100 MIN.</option>
                    <option value="238">Pakistan - 60 MIN.</option>
                    <option value="27">Bangladesh - 100 MIN.</option>
                    <option value="1">Afghanistan - 10 MIN.</option>
                    <option value="19">Australia - 75 MIN.</option>
                    <option value="49">Bulgaria - 60 MIN.</option>
                    <option value="56">Cameroon - 20 MIN.</option>
                    <option value="57">Canada - 104 MIN.</option>
                    <option value="64">China - 103 MIN.</option>
                    <option value="85">Ecuador - 20 MIN.</option>
                    <option value="87">Egypt - 13 MIN.</option>
                    <option value="91">Ethiopia - 12 MIN.</option>
                    <option value="110">Ghana - 15 MIN.</option>
                    <option value="166">Indonesia - 24 MIN.</option>
                    <option value="167">Iran - 20 MIN.</option>
                    <option value="169">Iraq - 15 MIN.</option>
                    <option value="177">Japan - 82 MIN.</option>
                    <option value="178">Jordan - 60 MIN.</option>
                    <option value="180">Kenya - 20 MIN.</option>
                    <option value="194">Lithuania - 45 MIN.</option>
                    <option value="200">Malaysia - 100 MIN.</option>
                    <option value="209">Mexico - 25 MIN.</option>
                    <option value="224">Nepal - 30 MIN.</option>
                    <option value="232">Nigeria - 20 MIN.</option>
                    <option value="237">Oman - 12 MIN.</option>
                    <option value="248">Philippines - 20 MIN.</option>
                    <option value="249">Poland - 113 MIN.</option>
                    <option value="253">Qatar - 10 MIN.</option>
                    <option value="265">Saudi Arabia - 20 MIN.</option>
                    <option value="277">South Korea - 70 MIN.</option>
                    <option value="281">Sri Lanka - 30 MIN.</option>
                    <option value="316">Ukraine - 20 MIN.</option>
                    <option value="299">Thailand - 75 MIN.</option>
                    <option value="309">UAE - 15 MIN.</option>
                    <option value="312">United Kingdom - 104 MIN.</option>
                    <option value="314">USA - 103 MIN.</option>
                    <option value="323">Vietnam - 40 MIN.</option>
                  </select>
                    <!--  <div class="flag_1"> <img src="images/india_coupan_flag.jpg"></div>-->
                    </div>
                <a href="shoppingcart.html" class="black_submit"></a> <a href="free_trial.html" class="faq_txt">FAQ</a>
                <div class="clear"></div>
                <p>Get up to <strong>100 FREE</strong> minutes to over 25 different
                  countries! New customers can signup today to experience quality
                  long- distance service that only <strong>Raza can offer!</strong></p>
              </form>
      </div>
      <div id="ftrtabs-2" class="ftr_tabs-section">
        <table width="100%" cellpadding="10" cellspacing="0">
          <tbody>
            <tr>
              <!--<td width="35%" class="subs_promotion">Enter your email
                to recieve our promotions :</td>-->
              <td width="65%"><form>
                  <input type="text" placeholder="Enter your email ID here..." class="email_inputbox_promotions" name="Email ID2" id="Email ID2" onblur="getVal('Email ID','Email ID');" onclick="getBlank('Email ID');">
                  <a href="" class="subscribe_black"></a>
                </form></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="ftrtabs-3" class="ftr_tabs-section">
        <p><strong>At Raza.com,</strong> we stand behind the <strong>Price,
          Quality and Connectivity</strong> of every call you make. <strong>Raza.com</strong> is
          confident of the quality and the rate that we are offering
          a <strong>Best Price Guarantee</strong>. If for any reason
          you're not completely satisfied with our quality and the
          price, you can call us anytime to get a refund of the unused
          balance without any questions asked. More... </p>
      </div>
      <div id="ftrtabs-4" class="ftr_tabs-section">
        <div class="bonusleft left">
          <div class="text_con">Become a Member Today!</div>
          <div id="bonus_box">
            <ul>
              <li class="ui-corner-left">Free 200 Bonus Points For Signup</li>
              <li class="ui-corner-left">4 Points For every dollarspent on Raza.com</li>
              <li class="ui-corner-left">Combine with Refer-A-Friend Program</li>
              <li class="ui-corner-left">Reedem points forFree Minutes!</li>
              <a href="features_home.html#tabs-7" class="signupnow"></a>
            </ul>
          </div>
          <p class="signup_btn"> </p>
        </div>
      </div>
      <div id="ftrtabs-5" class="ftr_tabs-section">
        <div class="auto_refill">
         <!-- <h3>What is Auto-recharge and how does it work?</h3>-->
				  <p><strong>Do you know?</strong> You will receive an additional <strong>10% extra minutes</strong> on every transaction, whey you enroll in our Auto-recharge feature. This ensures that you will never run out of minutes while you are on a important call. Our system will notified every time when your account replenishes.<br />
<br />


* Eligible for <strong>non mandatory plans</strong> only.

 <!--<a href="features_home.html#tabs-6" class="tabs_more_tag">Learn
            more</a>--></p>
          <a href="myaccount.html" class="enroll_footer"></a> </div>
      </div>
      <div id="ftrtabs-6" class="ftr_tabs-section">

        <form class="search_ratesftr">
                <div class="contry_flag_dropdown footer_searchrates fl">
                  <select name="countries" id="countries_searchrates_footer" style="width:107px;">
                    <option value='us' data-image="@Url.Content("~/images/callingto/blank.gif")" data-imagecss="flag us" data-title="U.S.A">U.S.A</option>
                    <option value='ca' data-image="@Url.Content("~/images/callingto/blank.gif")" data-imagecss="flag ca" data-title="Canada">Canada</option>
                    <option value='uk' data-image="@Url.Content("~/images/callingto/blank.gif")" data-imagecss="flag england" data-title="United Kingdom">U.K</option>
                    <option value='nz' data-image="@Url.Content("~/images/callingto/blank.gif")" data-imagecss="flag nz" data-title="New Zealand">New
                    Zealand</option>
                    <option value='au' data-image="@Url.Content("~/images/callingto/blank.gif")" data-imagecss="flag au" data-title="Australia">Australia</option>
                  </select>
                </div>
                <select class="call_input call_input_new">
                  <option>Select Country</option>
                  <option>India</option>
                </select>
               <!-- <div class="flag_m"> <img src="images/india_coupan_flag.jpg"></div>-->
                <input onclick="window.open('rate-page.html')" type="submit" value="" class="searchrates_button" />
              </form>

      </div>
      <div id="ftrtabs-7" class="ftr_tabs-section">
	  
	  <!--<div class="contact_add"> <span class="mailing"> <img src="images/contacts.png"></span>
          <p class="address">Raza Communications 5219 N. Harlem Ave. Chicago,
            IL 60656 </p>
          <div class="clear"></div>
          <span class="mailing"><img src="images/customer1.png"></span>
          <p> <span class="us">Chicago: 773.792.8150</span> <span class="us"> <img src="images/us.png"> Toll-Free:
            877.463.4233</span> <span class="us"><img src="images/united-Kingdom_flat.png"> 0808.234.7012</span> <span class="us"><img src="images/canada-Flag.png"> 800.550.3501 </span> </p>
          <div class="clear"></div>
          <span class="mailing"><img src="images/email.png"></span>
          <p><a href="mailto:sales@raza.com">sales@raza.com</a></p>
        </div>-->
	   <span class="ftr-contact_left">
	   <h3>Toll Free Numbers:</h3>
	   <b><img src="@Url.Content("~/images/callingto/us.png")" alt="" />1-877.463.4233</b>
	   <b><img src="@Url.Content("~/images/callingto/canada-Flag.png")" alt="" />1-800.550.3501</b>
	   <b><img src="@Url.Content("~/images/callingto/united-Kingdom_flat.png")" alt="" />+ 44 800-520-0329</b>
	   <p class="fl" style="color:#000;"><strong>Chicago: 1-773.792.8150</strong></p>
	   <span class="toronto">Toronto: 416-746-9797</span>
	   <b style="font-size:13px;"><strong>UK London: + 44  207-100-3090</strong></b>
	   </span>	
		
		<span class="ftr-contact_center">
		<b>Want to ask a question now.<br />
		Chat with our Rep here
		</b>
		<a href="" class="live_chatftr"></a>
		<b>Meet us on facebook like</b>
        <a href="" class="fb_ftr"></a>
		</span>
		
		<span class="ftr-contact_right">
		<b>Email us:</b>
		<div class="clear"></div>
		<span class="mail_iconftr"><img src="@Url.Content("~/images/callingto/email.png")" alt="" /></span>
		<span><a href="mailto:support@raza.com" class="links_id">support@raza.com</a><br />
		<a href="mailto:sales@raza.com" class="links_id">sales@raza.com</a><br />
		<a href="mailto:info@raza.com" class="links_id">info@raza.com</a>	
        </span>
		
		<p>Fax Numbers's:</p>
		<span class="fax_us"><img src="@Url.Content("~/images/callingto/us.png")" alt="" /><p class="fax_p">1-773.792.8291</p></span>
	   <span class="fax_canada"><img src="@Url.Content("~/images/callingto/canada-Flag.png")" alt="" /><p class="fax_p">1-416.746.5239</p></span>
		
		</span>
		
		
		
		
		
      </div>
      <div id="ftrtabs-8" class="ftr_tabs-section">
        <p>Use of this web site is expressly conditioned on your acceptance
          of all terms and conditions stated herein and any other place
          on this web site. <strong>DO NOT USE THIS WEBSITE</strong> if
          you do not accept all the terms and conditions stated herein
          and at other places <strong>(including Frequently Asked Questions,
          and "Detail" section of the respective prepaid phone plan)</strong> on
          this website. <a class="tabs_more_tag" href="support.html#tabs-3">More...</a> </p>
      </div>
      <div id="ftrtabs-9" class="ftr_tabs-section">
        <ul class="tabs-css">
          <li class="ui-corner-left"><span class="contact_icon"></span><a href="support.html#tabs-1">CONTACT
            US</a></li>
          <li class="ui-corner-left"><span class="faq_icon"></span><a href="support.html#tabs-2">FAQ</a></li>
          <li class="ui-corner-left"><span class="terms_icon"></span><a href="support.html#tabs-3">TERMS </a></li>
          <li class="ui-corner-left"><span class="privacypolicy_icon"></span><a href="support.html#tabs-4">PRIVACY
            POLICY</a></li>
        </ul>
        <ul class="tabs-css">
          <li class="ui-corner-left"><span class="localaddress"></span><a href="support.html#tabs-5">LOCAL
            ACCESS NUMBERS</a></li>
          <li class="ui-corner-left"><span class="citiescodes"></span><a href="support.html#tabs-6">COUNTRY
            / CITY CODES</a></li>
          <li class="ui-corner-left"><span class="complaints"></span><a href="support.html#tabs-7">OPEN
            COMPLAINT </a></li>
          <li class="ui-corner-left"><span class="guarantee"></span><a href="support.html#tabs-8">OUR
            GUARANTEE </a></li>
        </ul>
      </div>
    </div>
    <div class="ftr_links">
	
	<p>By accessing this site, you accept the terms of our Acceptable Use Policy and Visitors Agreement.</p>
	<!--<a href="index.html">Home</a> | 
	<a href="why-raza.html#tabs-4">Refer-A-Freind</a> 
	| <a href="jobs.html">Jobs</a> | <a href="#">Affilite
      Program</a> | <a href="support.html#tabs-14">Feedback</a> 
	  | <a href="support.html#tabs-4">Privacy
      Policy</a> | <a href="http://www.raza.com/blog/">Raza Blog</a> | <a href="site-map.html">Site
      Map</a> | <a href="">Bookmark</a>-->
	  
	   </div>
	  
	  
    <div class="ftrlogo"> 
	<ul>
	<li><a href=""><img alt="" src="@Url.Content("~/images/callingto/guranteed.jpg")" border="0"></a></li>
	<!--<li><a href=""><img alt="" src="images/varified.jpg" border="0" style="margin:25px 0px 0px 0px;"></a></li>-->
	<li><a href=""><img alt="" src="@Url.Content("~/images/callingto/siteseal.jpg")" border="0" style="margin:29px 0px 0px 0px;"></a></li>
	<li><a href=""><img alt="" src="@Url.Content("~/images/callingto/paypal.jpg")" border="0" style="margin-top:28px;"></a></li>
	<li><span>Connect with us</span>
	<div class="clear"></div>
	<a href="" class="fb_social_ftr"></a>
	<a href="" class="tw_social_ftr"></a>
	<a href="" class="google_social_ftr"></a>
	<a href="" class="rss_social_ftr"></a>
	<a href="" class="yt_social_ftr"></a>	
	</li>
	</ul>
	<!--<a href="#"><img alt="" src="images/guranteed.jpg" border="0"></a> 
	<a href="#"><img alt="" src="images/guranteed.jpg" border="0"></a> 
	<a href="#"> <img alt="" src="images/siteseal.gif" border="0"></a> 
	<a href="#"><img alt="" src="images/paypal.jpg" border="0"></a> -->
	</div>
	
	
    <div class="clear"></div>
	
    <div class="copyright">
      <span class="copy_left">Copyright © 2000-2014 Raza Comunications    www.raza.com, wwww.razacomm.com, www.raza.ca. All Rights Reserved.</span>

	<span class="copy_right">protected by <a href="" title="Protected by Copyscape Plagiarism 
Checker-Do not copy image/content from this page."> copyspace </a>do not copy </span>

    </div>
    </div>
   
  <div id="f_fixed">
      <div class="footer_fixed">
    <div class="left_fixed"></div>
    <div class="mid_fixed">
          <ul>
		  <li><a href="map.html#asia">Asia</a> </li>		  
		  <li><a href="map.html#africa">Africa</a></li>
		  <li><a href="map.html#europe">Europe</a></li>
		  <li><a href="map.html#north-america">North America</a> </li>
		  <li><a href="map.html#south-america">South America</a></li>
		  <li><a href="map.html#middle">Middle east</a></li>
		  
		  </ul>
        </div>
    <div class="right_fixed">Keep Talking</div>
    <div class="close_fixed"><img src="@Url.Content("~/images/callingto/close_ftr.png")" border="0" align="right" /></div>
  </div>
 
      <!--<div class="feedback_fixed_bot"><img src="images/feedback_fixed_bot.png"  /></div>-->
      <script>

          $(document).ready(function () {

              $(".close_fixed").click(function () {

                  $(".footer_fixed").hide();


              });


          });


  </script>
    </div>
	
  <!--end footer-->
	
  </div>
</div>





	 
</body>


</html>

<div class="feedbackicon" title="Click here to give us feedback" id="oo_feedback_float"><div style="display: block;" id="olUp"><img src="images/oo_black.gif"><span id="fbText"><br><a href="support.html#tabs-14" class="bllink">Feedback</a></span></div><div style="display: none;" id="olOver">Click here to give us feedback</div></div>


<script src="@Url.Content("~/Scripts/callingto/scripts.js")"></script>
<!-- <msdropdown> -->
<script src="@Url.Content("~/Scripts/callingto/jquery.dd.min.js")"></script>
<script>
    $(document).ready(function () {

        $("#rate-countries").msDropdown();

    });
</script>

<script type="text/javascript">
    $(function () {
        SyntaxHighlighter.all();
    });
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "fade",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
  </script>




			
			
 
	 
	 

	


<!-- country search script -->
	 


