    @model MvcApplication1.Models.OnetouchSetupEdit

@{
    ViewBag.Title = "OnetouchSetup";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/OneTouchSetup.js")" type="text/javascript"></script>

  
  <!--Body Container Start-->

  <div id="inner_body_container">

    <div id="banner"><img src="@Url.Content("~/images/onetouch_banner_new.jpg")" alt="" /></div>

    <!-- End demo -->

    <div id="auto-refill">

      <div id="auto-refill-scroller">
           
        <div class="top-bg">
            
          <h1>One Touch Dial

              <strong data-bind="text: Addmessage" style="padding-left: 165px;font-size:14px;font-weight: bold;color:red;"></strong> 
          </h1>
         
        </div>
       <div class="deleteexpandable" id="Deleteconfirmation">
                  <div id="close-val" class="close-confirm">
                        </div>    
			 <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
              <tr>
                <td width="14"><img src="@Url.Content("~/images/expand_top_left.png")" width="14" height="13" /></td>
                <td style="background:url(/images/expand_drop_top.png) repeat-x left 2px;"></td>
                <td width="14"><img src="@Url.Content("~/images/expand_top_right.png")" width="14" height="13" /></td>
              </tr>
              <tr>
                <td style="background:url(/images/expand_drop_left.png) repeat-y 0px top;"></td>
                <td style="background:#fff;"><div class="deleteexpandable_mid">
                   <p class="error_phone_12">Are You Sure?</p>
                    <a style="cursor:pointer" id="YesDelete" class="yes_btn"></a>
                    <a style="cursor:pointer" id="NoDelete" class="no_btn"></a>
                  </div></td>
                <td style="background:url(/images/expand_drop_right.png) repeat-y 0px top;"></td>
              </tr>
              <tr>
                <td width="14" style="padding:0px!important;"><img src="@Url.Content("~/images/expand_bot_left.png")" width="14" height="13" /></td>
                <td style="background:url(/images/expand_drop_bottom.png) repeat-x left 0px;" width="100%" ></td>
                <td width="14" style="padding:0px!important;"><img src="@Url.Content("~/images/expand_bot_right.png")" width="14" height="13" /></td>
              </tr>
            </table>

			  </div>
                          <div class="loader">
                </div>
                      <div id="backgroundPopup">
                      </div>

        <div class="repeat-scroller-bg">

          <div class="editprofile_b">
              <a href="#"><img src="@Url.Content("~/images/option_new5.png")" style="float:left; margin-top:5px; margin-left:14px; position:absolute; left:11px;" /></a>
            <div id="edit-profile" class="edi_pro">

                <p class="destiname destiname-new">"Calling From" Information</p>
                <div id ="GetList">
                    <table width="96%" cellpadding="0" cellspacing="0">

                        <tbody><tr align="middle">

                                   <td width="18%" height="38" align="left" valign="middle" class="cci_label1"><span style="margin-left:60px">Country </span><font color="#FF0000">*</font></td>

                                   <td width="30%" height="38" align="left" valign="middle">
                                       <select name="ddlCountry" class="select_cci" id="ddlCountry" data-bind="value: SelectedCountryfrom" onchange="FetchStates();" >

                                           <option value="">Select Country</option>
                                           @foreach (var res in Model.CountryList)
                                           {
                                               <option value="@res.Value">@res.Text</option>
                                           }


                                       </select>
                                   </td>
                             @Html.Hidden("pin", Model.Pin)
                            
                    
                            @Html.Hidden("OrderId",Model.OrderId)  
                            @Html.Hidden("Planname",Model.Plan_Name)                  
                                   <input type="hidden" id="hidden-oid" value="@Model.OrderId"/>


                                   <td width="18%" height="38" align="left" valign="middle" class="cci_label1"><span>State/Province</span><font color="#FF0000">*</font></td>

                                   <td width="30%" height="38" align="left" valign="middle">
                                       <select class="select_cci"   id="ddlStates" onchange="FetchAreaCode();" data-bind="options: states, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'Select State', value: SelectedState">
                                </select>
                                   </td>

                               </tr>

                            <tr align="middle"> </tr>

                            <tr align="middle">

                                <td width="18%" height="38" align="left" valign="middle" class="cci_label1"><span style="margin-left:60px">Area Code</span> <font color="#FF0000">*</font></td>

                                <td width="30%" height="38" align="left" valign="middle">
                                     <select name="ddlAreaCode"  class="select_cci" id="ddlAreaCode" onchange="FetchAvailableNumbers()" data-bind="options: areas, optionsText: 'Code', optionsValue: 'Code', optionsCaption: 'Select Area Code', value: SelectedArea">
                         
                                </select>
                                </td>

                                <td width="18%" height="38" align="left" valign="middle" class="cci_label1"><span>Available Numbers</span> <font color="#FF0000">*</font></td>

                                <td width="30%" height="38" align="left" valign="middle">
                                     <select name="AvailableNumber" class="select_cci" id="AvailableNumber" data-bind="options: availableNumbers, optionsText: 'Number', optionsValue: 'Number', optionsCaption: 'Select Available Numbers', value: SelectedAvailNumber">

                                </select>
                                </td>

                            </tr>

                            <tr align="middle"> </tr>

                            <tr>

                                <td height="22" colspan="3"></td>

                            </tr>
				

                

                        </tbody></table>
                </div>
                
               <!-- oldone -->
                
                  @*  <table width="96%" cellpadding="0" cellspacing="0">

                        <tr align="middle">

                            <td height="18%" align="left" valign="middle" class="cci_label1">
                                <span style="margin-left:60px">Country </span> <font color="#FF0000">*</font>
                            </td>

                            <td height="38%" align="left" valign="middle" >
                           
                                
                                <select name="ddlCountry" class="select_cci" id="ddlCountry" data-bind="value: SelectedCountryfrom" onchange="FetchStates();" >

                                    <option value="">Select Country</option>
                                    @foreach (var res in Model.CountryList)
                                    {
                                        <option value="@res.Value">@res.Text</option>
                                    }


                                </select>
                            </td>
                            @Html.Hidden("pin", Model.Pin)
                            
                    
                            @Html.Hidden("OrderId",Model.OrderId)  
                            @Html.Hidden("Planname",Model.Plan_Name)                  
                            <input type="hidden" id="hidden-oid" value="@Model.OrderId"/>  
                            
                            <td height="18%" align="left" valign="middle" class="cci_label1">
                                <span>State/Province</span>
                                <font color="#FF0000">*</font></td>

                  
                            <td height="38%" align="left" valign="middle" >
                                <select class="select_cci"   id="ddlStates" onchange="FetchAreaCode();" data-bind="options: states, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'Select State', value: SelectedState">
                                </select>
                            </td>
             
                        </tr>

                        <tr align="middle"> </tr>

                        <tr align="middle">

                            <td height="18%" align="left" valign="middle" class="cci_label1">
                            <span style="margin-left:60px">Area Code</span>
                                <font color="#FF0000">*</font>
                            </td>

                            <td height="38%" align="left" valign="middle" >
                         
                                <select name="ddlAreaCode"  class="select_cci" id="ddlAreaCode" onchange="FetchAvailableNumbers()" data-bind="options: areas, optionsText: 'Code', optionsValue: 'Code', optionsCaption: 'Select Area Code', value: SelectedArea">

                         
                                </select>
                            </td>

                            <td height="18%" align="left" valign="middle" class="cci_label1">
                            <span> Available Numbers</span>
                                <font color="#FF0000">*</font>
                            </td>
                     
                            <td height="38%" align="left" valign="middle" >
                       
                                <select name="AvailableNumber" class="select_cci" id="AvailableNumber" data-bind="options: availableNumbers, optionsText: 'Number', optionsValue: 'Number', optionsCaption: 'Select Available Numbers', value: SelectedAvailNumber">

                                </select>
                    
                            </td>

                        </tr>

                        <tr align="middle"> </tr>

                        <tr>

                            <td height="22" colspan="3"></td>

                        </tr>

                        
                    </table>*@
                

                    
             
          
            </div>

          </div>
            
            
            <div class="editprofile_b">
		  
		  <a href="#"><img src="@Url.Content("~/images/option_new6.png")" style="float:left; margin-top:5px; margin-left:14px; position:absolute; left:11px;"></a>

            <div id="edit-profile" class="edi_pro">

                <table width="100%" border="0" cellspacing="0" cellpadding="0">

                    <tbody>

                        <tr>

                            <td height="22" colspan="4"><p class="destiname destiname-new"><!--<img src="images/step2_new.png" alt="step" align="left" class="step_onetouch_1">-->"Calling To" Information</p></td>

                        </tr>

          

                    </tbody></table>

			  <table class="pin_table" width="100%" border="0" cellspacing="0" cellpadding="0">

                        <tr>

                            <th width="27%" style="text-align:center" height="30" bgcolor="#dcdcdc">Country <font color="#FF0000">*</font></th>

                            <th width="20%" align="center" bgcolor="#dcdcdc">Code <font color="#FF0000">*</font></th>

                            <th width="21%" style="text-align:center" bgcolor="#dcdcdc">City Code + Phone# <font color="#FF0000">*</font></th>

                            <th width="17%" align="center" bgcolor="#dcdcdc">Ref. Names</th>

                        </tr>
                 
                        <tr>
              
                            <td style="padding:0" height="40" valign="middle" align="center"><select style="width:200px; float:none" name="ddlToCountry" class="select_cci" id="ddlToCountry" onchange = "FetchContact(this);" data-bind="value: CountryCode">

                                                                                                 <option value="">Select Country</option>
                                                                                                 @foreach (var data in Model.ToCountryList)
                                                                                                 {
                                                                                                     <option value="@data.Value">@data.Text</option>
                                                                                           
                                                                                                 }
                    
                                                                                             </select>
                     
                                </td>

                            <td height="40" style="padding:0" align="center" valign="middle"><input type="text" name="CountryCode" id="CountryCode" class="phone" style="width:90px;" readonly="readonly" data-bind="value: CountryCode" /></td>

                            <td height="40"  style="padding:0" align="center" valign="middle"><input type="text" style="width:130px;" name="Destination" maxlength="10" id="Destination" class="phone"  onkeypress="return  numberOnly();"data-bind="value: PhoneNumber"/></td>
                            <script type="text/javascript">
                                function numberOnly() {
                                 
                                    if ((event.keyCode < 48) || (event.keyCode > 57)) {
                                        return false;
                                    }
                                    return true;
                                }   



                            </script>
                            <td height="40" style="padding:0" align="center" valign="middle"><input style="width:130px;" type="text" name="OneTouch_Name" id="OneTouch_Name" class="phone"  data-bind="value: OnetouchName" /></td>
                      
                        </tr>

                    </table>
                <input type="hidden" name="Plan_Name" id="Plan_Name" />

                    <table width="100%"border="0" cellspacing="0" cellpadding="0">

                        <tr>

                            <td height="40" width="48%" valign="middle"><p><font color="#FF0000">*</font> required fields</p>
                                <div id="msg"></div>
                            </td>

                            <td height="40" width="52%"align="left" valign="bottom">
                        
                                <input type="submit" name="btnAddDestination"  value="" id="btnAddDestination"  class="addbtn" />
                          
                      
                           
                            </td>

                        </tr>
           
                    </table>

            </div>

          </div>


            <div class="editprofile_b">

            <div id="edit-profile" class="edi_pro">

              <table width="100%" border="0" cellspacing="0" cellpadding="0">

                <tr>

                  <td align="center"><p class="destinnew">Your Existing One Touch Set-Up Details</p></td>

                </tr>

              </table>

                <table class="pin_table" width="100%" border="0" cellspacing="0" cellpadding="0">

                    <tr>

                        <th width="8%" height="30" bgcolor="#dcdcdc" style="text-align: center">S.No</th>

                        <th width="18%" align="center" bgcolor="#dcdcdc" style="text-align: center">Plan Name</th>

                        <th width="21%" bgcolor="#dcdcdc" style="text-align: center">One Touch Number</th>

                        <th width="18%" align="center" bgcolor="#dcdcdc" style="text-align: center">Ref. Names</th>

                        <th width="21%" bgcolor="#dcdcdc" style="text-align: center">Destination Number</th>

                        <th width="14%" align="center" bgcolor="#dcdcdc" style="text-align: center">Delete</th>

                    </tr>
                    
                    

                    <tbody data-bind="foreach: OneTouchList">
                    
                        <tr>
                            
                            <td align="center" style="font-size: 15px; font-weight:bold" data-bind="text: ($index() + 1)"></td>
                            
                                 
                                 
                            <td align="center" style="font-size: 15px; font-weight:bold" data-bind="text: PlanName "></td>
                                 
                            <td align="center" style="font-size: 16px; font-weight:bold" data-bind="text: OneTouch_Number" ></td>
                            <td align="center" style="font-size: 15px; font-weight:bold" data-bind="text: OneTouch_Name"></td>
                     
                            <td align="center" style="font-size: 16px; font-weight:bold" data-bind="text: Destination" ></td>
                               
                           
                           

                            <td align="center" style="width: 150px; font-size: 15px" valign="middle"><a id="delete" style="cursor: pointer" data-bind="click: $root.LoadDelConfirm" >
                                                                                                         <img src="@Url.Content("~/images/new_delete_icon.png")" alt="delete" value=""/>
                                                                                                     </a></td>
                           
                    
                        </tr>
                    
                    </tbody>

                    
                    
                         </table>
                
                <a href="#" id="mail-setups" class="onetouch_edit_btn"></a>

            </div>

          </div>

        </div>

        <div class="bottom-scroller-bg"></div>

      </div>

    </div>

  </div>

  <!--Body Container End-->

  <div class="spacer"></div>

  <div class="clear"></div>

