@model MvcApplication1.Models.ReferFriend
@{
    ViewBag.Title = "RazaReward";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
<!--Body Container Start-->
<div id="inner_body_container">
   
    <div id="banner">
        <img src="@Url.Content("~/images/rewards_banners.jpg")" /></div>
    <!-- End demo -->
    <div id="feedback_panel">
        <div id="feedback-scroller">
            <div class="top-bg">
                <h1>
                    Rewards Overview</h1>
            </div>
            <div class="repeat-scroller-bg">
                <div id="accordion_feedback">
                    <div>
                        <h4 style="margin-left: 10px; width: 50%; float: left;">
                            Welcome Back, @(((MvcApplication1.Models.RazaPrincipal)User).FullName)!<br />
                            <div class="breadcrumbs">
                                <a href="@Url.Action("ReferFriend", "Account")">Refer-A-Friend</a>&nbsp;|&nbsp;<a
                                    href="#">Raza Rewards</a>&nbsp;|&nbsp;<a href="@Url.Action("RedeemPoint", "Account")">Redeemed
                                        Points</a></div>
                        </h4>
                        <div class="ri-text">
                            <div class="square-reedam">
                                <span>@Model.PointToshow</span>
                                <br />
                               @if(Model.PointToshow >=1000)
                               {
                                   <a href="@Url.Action("RedeemRewardNow","Account")" style="padding-left: 11px;">Redeem Now! </a>
                              
                               }
                               

                            </div>
                            <a  style="color: #C60000; margin-right: 12px;" class="redeem_point">Total available
                                Points:</a>
                        </div>
                        <div class="clear">
                        </div>
                        <div class="graybod">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td colspan="2">
                                        <h2 class="order_newhead">
                                            Raza Rewards<sup>TM</sup></h2>
                                    </td>
                                </tr>
                                <tr class="plan-rate" align="center">
                                    <td height="30" width="50%" class="dataheading">
                                        Recharge Date & Time
                                    </td>
                                    <td width="50%" height="30" class="dataheading">
                                        Points Earned
                                    </td>
                                </tr>
                                @{
                                    int i = 1;
                                    foreach (var datarow in @Model.RewardPoints)
                                    {
                                        if(i%2 == 0)
                                        {
                                            <tr align="center">
                                                <td height="30" class="data11">@datarow.RewardDate
                                                </td>
                                                <td height="30" align="center" class="buy1">
                                                    <strong>@datarow.Points</strong>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                             <tr align="center" bgcolor="#eeeeee">
                                                <td height="30" class="data11">@datarow.RewardDate
                                                </td>
                                                <td height="30" align="center" class="buy1">
                                                    <strong>@datarow.Points</strong>
                                                </td>
                                            </tr>
                                        }
                                        i++;
                                    }
                                }
                            </table>
                        </div>
                        <br />
                        <br />
                        <div class="graybod">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td colspan="2">
                                        <h2 class="order_newhead">
                                            Total Summary Points</h2>
                                    </td>
                                </tr>
                                <tr class="plan-rate">
                                    <td height="30" class="dataheading1">
                                        Refer-A-Friend
                                    </td>
                                    <td width="33%" height="30" class="dataheading">@Model.ReferPoint
                                    </td>
                                </tr>
                                <tr>
                                    <td width="66%" height="30" class="data11">
                                        Raza Rewards<sup>TM</sup>
                                    </td>
                                    <td height="33" align="center" class="buy1">
                                        @if (@Model.RewardPoints != null && @Model.RewardPoints.Count > 0)
                                        {
                                            <strong>@Model.RewardPoints.Sum(a => a.Points)</strong>
                                        }
                                        else
                                        {
                                            <strong>0</strong>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td height="30" bgcolor="#eeeeee" class="data11">
                                        Points Redeemed
                                    </td>
                                    <td height="30" align="center" bgcolor="#eeeeee" class="buy1">
                                        <strong>@Model.RedeemPt</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="30" class="data11">
                                        <strong>Total available Points:</strong>
                                    </td>
                                    <td height="30" align="center" class="buy1">
                                        <strong>@Model.Point</strong>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-scroller-bg">
            </div>
        </div>
    </div>
    <!--Body Container End-->
</div>
<div class="spacer">
</div>
<div class="clear">
</div>
