@model MvcApplication1.Models.EmailDetailViewModel
@{
    ViewBag.Title = "RazaMailer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* <script type="text/javascript" src="@Url.Content("~/scripts/jquery.dropkick-min.js")"></script>*@
<script src="@Url.Content("~/Scripts/RazaMailer.js")" type="text/javascript"></script>
<div id="inner_body_container">
    
    <div id="banner">
        <img src="@Url.Content("~/images/yourdiscountcoupon_latest.jpg")"></div>
    <!-- End demo -->
    <div id="feedback_panel">
        <div id="feedback-scroller">
            <div class="top-bg">
                <h1>
                    Welcome Back, @(((MvcApplication1.Models.RazaPrincipal)User).FullName)!</h1>
            </div>
            <div class="repeat-scroller-bg">
                <div id="accordion_feedback">
                    <div>
                        <h4>
                        </h4>
                        <div class="graybod">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr style="border-top: 1px solid #b8b8b8;">
                                    <td>
                                        <h2 class="order_newhead">
                                            My Messages<sup></sup></h2>
                                    </td>
                                    <td align="center">
                                        <h2 class="order_newhead">
                                            Date/Time</h2>
                                    </td>
                                    <td width="27%" align="center">
                                        <h2 class="order_newhead">
                                            Delete</h2>
                                    </td>
                                </tr>
                                @{
                                    int i = 0;
                                }
                                @foreach (var email in Model.Emails)
                                {
                                    if (i % 2 != 0)
                                    {
                                        string cssclass = string.Empty;
                                        string bgcolor = "#eeeeee";
                                        if (Model.SelectedEmail != null && Model.SelectedEmail.EmailId == @email.EmailId)
                                        {
                                            cssclass = "light-yellow-bg";
                                            bgcolor = string.Empty;
                                        }
                                        <tr class="@cssclass">
                                        <td hidden="hidden">@email.EmailId
                                        </td>
                                        <td height="30" bgcolor="@bgcolor" class="data11">
                                            <a href="@Url.Action("RazaMailer", "Account", new { EmailId = @email.EmailId })">
                                                @email.Subject
                                            </a>
                                        </td>
                                        <td height="30" align="center" bgcolor="@bgcolor" class="gray1">@email.UpdatedTimestamp
                                        </td>
                                        <td height="30" align="center" bgcolor="@bgcolor" class="buy1">
                                            <a href="@Url.Action("DeleteMail", "Account", new { EmailId = @email.EmailId })">
                                                <img src="@Url.Content("~/images/new_delete_icon.png")" alt="Home" /></a>
                                        </td>
                                    </tr>
                                    }
                                    else
                                    {
                                        string cssclass = "gray1";

                                        if (Model.SelectedEmail !=null && Model.SelectedEmail.EmailId == @email.EmailId)
                                        {
                                            cssclass = "light-yellow-bg";
                                        }
                                        
                                    <tr class="@cssclass">
                                        <td hidden="hidden">@email.EmailId
                                        </td>
                                        <td height="30" class="data11">
                                            <a href="@Url.Action("RazaMailer", "Account", new { EmailId = @email.EmailId })">
                                                @email.Subject
                                            </a>
                                        </td>
                                        <td height="30" align="center" class="gray1">@email.UpdatedTimestamp
                                        </td>
                                        <td height="30" align="center" class="buy1">
                                            <a href="@Url.Action("DeleteMail", "Account", new { EmailId = @email.EmailId })">
                                                <img src="@Url.Content("~/images/new_delete_icon.png")" alt="Home" /></a>
                                        </td>
                                    </tr>
                                    }

                                    i++;
                                }
                                <tr>
                                    <td colspan="3" height="1" bgcolor="#BABABA">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" height="40" align="center">
                                        @if (Model.SelectedEmail != null)
                                        {
                                            <strong>
                                                @Model.SelectedEmail.Subject</strong>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="center">
                                        @if (Model.SelectedEmail != null)
                                        {
                                            @Html.Raw(@Model.SelectedEmail.Body)
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;<br />
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="bottom-scroller-bg">
            </div>
        </div>
    </div>
