@model MvcApplication1.Models.ReferFriend
  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>      
<!--Top Header End-->
<!--Body Container Start-->
<div id="inner_body_container">
   
    <div id="banner">
     <img src="@Url.Content("~/images/referfreind_new.jpg")" />

    </div>
    
    <!-- End demo -->
    <div id="feedback_panel">
        <div id="feedback-scroller">
            <div class="top-bg">
                <h1>
                    Refer A Friend</h1>
            </div>
            <div class="repeat-scroller-bg">
                <div id="accordion_feedback">
                    <div>
                        <h4 style="margin-left: 10px; width: 50%; float: left;">
                            Welcome Back, @(((MvcApplication1.Models.RazaPrincipal)User).FullName)!<br/>
                            <div class="breadcrumbs">
                                <a href="#">Refer-A-Friend</a>&nbsp;|&nbsp;<a href="@Url.Action("RazaReward", "Account")">Raza
                                    Rewards</a>&nbsp;|&nbsp;<a href="@Url.Action("RedeemPoint", "Account")">Redeemed Points</a></div>
                        </h4>
                        <div class="ri-text">
                            <div class="square-reedam">
                                <span>@Model.PointToshow</span>
                                <br />
                            @if (Model.PointToshow >= 1000)
                            {
                                   <a href="@Url.Action("RedeemRewardNow","Account", new { redeempt= Model.PointToshow})" style="padding-left: 11px;">Redeem Now! </a>

                            }
                            
                          
                               
                             
                            </div>
                            <a href="#" style="color: #C60000; margin-right: 12px;" class="redeem_point">Total available
                                Points:</a>
                        </div>
                        <div class="clear">
                        </div>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td colspan="2" align="right">
                                </td>
                            </tr>
                        </table>
                        <div class="graybod">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="55%">
                                        <h2 class="order_newhead">
                                            Refer A Friend</h2>
                                    </td>
                                    <td align="center" class="order_newhead">
                                    </td>
                                </tr>
                                <tr class="plan-rate">
                                    <td height="30" class="dataheading1">
                                        Refer-A-Friend Email:
                                    </td>
                                    <td width="45%" height="30" class="dataheading">
                                        Pts.
                                    </td>
                                </tr>
                                @{
                                    int i = 1;

                                    foreach (var refer in @Model.ReferFriends)
                                    {
                                        if (i % 2 == 0)
                                        {
                                    <tr>
                                        <td height="30" bgcolor="#eeeeee" class="data11">@refer.Email
                                        </td>
                                        <td height="30" align="center" bgcolor="#eeeeee" class="buy1">@refer.Points
                                        </td>
                                    </tr>

                                        }
                                        else
                                        {
                                    <tr>
                                        <td height="30" class="data11">@refer.Email
                                        </td>
                                        <td height="30" align="center" class="buy1">@refer.Points
                                        </td>
                                    </tr>
                                        }
                                        i++;
                                    }
                                    
                                }
                                <tr>
                                    <td height="30" bgcolor="#fff" class="data11">
                                        Total Refer A Friend Points:
                                    </td>
                                    <td height="30" align="center" bgcolor="#fff" class="buy1">@Model.ReferPoint
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <br />
                        <br />
                        <div class="graybod">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                        <h2 class="order_newhead">
                                            Total Summary Points</h2>
                                    </td>
                                    <td align="center" class="order_newhead">
                                    </td>
                                </tr>
                                <tr class="plan-rate">
                                    <td height="30" class="dataheading1">
                                        Refer-A-Friend
                                    </td>
                                    <td width="45%" height="30" class="dataheading">@Model.ReferPoint
                                    </td>
                                </tr>
                                <tr>
                                    <td width="55%" height="30" class="data11">
                                        Raza Rewards<sup>TM</sup>
                                    </td>
                                    <td height="30" align="center" class="buy1">
                                        @if (@Model.RewardPoints != null && @Model.RewardPoints.Count > 0)
                                        {
                                            <strong>@Model.RewardPoints.Sum(a => a.Points)</strong>
                                        }
                                        else
                                        {
                                            <strong>0</strong>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td height="30" bgcolor="#eeeeee" class="data11">
                                        Points Redeemed
                                    </td>
                                    <td height="30" align="center" bgcolor="#eeeeee" class="buy1">@Model.RedeemPt
                                    </td>
                                </tr>
                                <tr>
                                    <td height="30" class="data11">
                                        <strong>Total available Points:</strong>
                                    </td>
                                    <td height="30" align="center" class="buy1">
                                        <strong >@Model.Point</strong>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-scroller-bg">
            </div>
        </div>
    </div>
    <!--Body Container End-->
</div>
<div class="spacer">
</div>
<div class="clear">
</div>
