@{
    ViewBag.Title = "SiteMap";
}

              
              
              <input type="text"  class="btr"   placeholder="Enter the country you wish to call" />
<div class="flag_m"> <img src="@Url.Content("~/images/india_coupan_flag.jpg")" /></div>
              </fieldset>
              <div class="gray-bg">
                <fieldset>
                <input type="text" placeholder="Enter your email address"  />
                <input type="text" placeholder="Confirm Email Addresss" />
                </fieldset>
                <fieldset>
                <input type="password" placeholder="Password" />
                <input type="password" placeholder="Conform Password" />
                </fieldset>
              </div>
              <div class="clear"></div>
<input type="submit" onclick="window.open('rate-page.html')" value="Shop Now" class="btn_shop" />
              <div class="clear"></div>
              <div class="sprator"></div>
              <div class="text-bar"><i>We will not sell or rent your personally identifiable information to third parties.</i></div>
            </div>
          </form>
          <div class="contact_popup_bot"></div>
        </div>
        <div id="mask"></div>
      </div>
    </div>
	
  </div>

<!--Body Container start-->
<div id="inner_body_container">
    <div id="banner"><img src="@Url.Content("~/images/account.png")" alt="" /></div>
    <!-- End demo -->
    <div id="auto-refill">
      <div id="auto-refill-scroller">
        <div class="top-bg">
          <h1>Site Map</h1>
        </div>
        <div class="repeat-scroller-bg">
          <div class="sitemap">
            <div class="sitemap_left">
              <div class="none">
                <table width="100%" border="0" cellspacing="0">
                  <tbody>
                    <tr align="left" valign="left">
                      <td height="30" width="33%" align="left" class="col sitemap_heading">Why Raza</td>
                      <td align="left" width="33%"  class="col sitemap_heading">Plans</td>
                      <td align="left" width="33%"  class="col sitemap_heading">Features</td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27" class="border_none"><left><a href="@Url.Action("index","WhyRaza")#tabs-3" class="tabs_more_tag">About us</a></left></td>
                      <td height="27" align="left"><a href="@Url.Action("SearchRate","Rate")" class="tabs_more_tag">Search Rates</a></td>
                      <td height="27" align="left"><a href="@Url.Action("index","Features")#tabs-2" class="tabs_more_tag">One touch Dialing </a></td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27"><left><a href="@Url.Action("index","WhyRaza")#tabs-2" class="tabs_more_tag">How it works</a></left></td>
                      <td height="27" align="left"><a href="#" class="tabs_more_tag">USA</a></td>
                      <td height="27" align="left"><a href="@Url.Action("index","Features")#tabs-3" class="tabs_more_tag">Pinless setup </a></td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27"><left><a href="@Url.Action("index","WhyRaza")#tabs-4" class="tabs_more_tag">Refer-A-Friend</a></left></td>
                      <td height="27" align="left"><a href="#" class="tabs_more_tag">CANADA</a></td>
                      <td height="27" align="left"><a href="@Url.Action("index","Features")#tabs-4" class="tabs_more_tag">Call details</a></td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27"><left></left></td>
                      <td height="27" align="left"><a href="#" class="tabs_more_tag">INDIA</a></td>
                      <td height="27" align="left"><a href="@Url.Action("index","Features")#tabs-5" class="tabs_more_tag">Quickeys</a></td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27"><left></left></td>
                      <td height="27" align="left"><a href="#" class="tabs_more_tag">PAKISTAN</a></td>
                      <td height="27" align="left"><a href="@Url.Action("index","Features")#tabs-6" class="tabs_more_tag">Auto-refill</a> </td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27"><left></left></td>
                      <td height="27" align="left"><a href="#" class="tabs_more_tag">BANGLADESH</a></td>
                      <td height="27" align="left"><a href="@Url.Action("index","Features")#tabs-7" class="tabs_more_tag">Raza Rewards</a></td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27"><left></left></td>
                      <td height="27" align="left"><a href="#" class="tabs_more_tag">NEPAL</a></td>
                      <td height="27" align="left"><a href="@Url.Action("index","Features")#tabs-8" class="tabs_more_tag">Call Forwarding</a></td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27"><left></left></td>
                      <td height="27" align="left"><a href="#" class="tabs_more_tag">SRILANKA</a></td>
                      <td height="27" align="left"><a href="@Url.Action("index","Features")#tabs-9" class="tabs_more_tag">Global Call</a></td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27"><left></left></td>
                      <td height="27" align="left"></td>
                      <td height="27" align="left"></td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr align="left" valign="leftr" class="border_none">
                      <td height="30" width="33%" align="leftr" class="col sitemap_heading">My account</td>
                      <td align="left" width="33%" class="col sitemap_heading">Support</td>
                      <td align="left" width="33%" class="col sitemap_heading"> Our Services</td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27"><left><a href="#" class="tabs_more_tag">Sign in </a></left></td>
                      <td height="27" align="left"><a href="@Url.Action("Opencomplaint","Support")#tabs-1" class="tabs_more_tag">Contact us</a></td>
                      <td height="27" align="left"><a href="#" class="tabs_more_tag">International Top up</a></td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27"><left><a href="#" class="tabs_more_tag">Edit profile</a></left></td>
                      <td height="27" align="left"><a href="@Url.Action("Opencomplaint","Support")#tabs-2" class="tabs_more_tag">Faq's</a></td>
                      <td height="27" align="left"><a href="#" class="tabs_more_tag">Agent Program</a></td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27"><left><a href=%3d_.html#" class="tabs_more_tag">One Touch Dialing</a></left></td>
                      <td height="27" align="left"><a href="@Url.Action("Opencomplaint","Support")#tabs-3" class="tabs_more_tag">Terms</a></td>
                      <td height="27" align="left"><a href="#" class="tabs_more_tag">Call forwarding</a></td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27"><left><a href="#" class="tabs_more_tag">View call details</a></left></td>
                      <td height="27" align="left"><a href="@Url.Action("Opencomplaint","Support")#tabs-4" class="tabs_more_tag">Privacy Policy</a></td>
                      <td height="27" align="left"><a href="#" class="tabs_more_tag">One touch</a></td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27"><left><a href="#" class="tabs_more_tag">Auto-refill</a></left></td>
                      <td height="27" align="left"><a href="@Url.Action("Opencomplaint","Support")#tabs-10" class="tabs_more_tag">Billing & Payments</a></td>
                      <td height="27" align="left"><a href="#" class="tabs_more_tag">Raza Rewards</a> </td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27"><left><a href="#" class="tabs_more_tag">Recharge</a></left></td>
                      <td height="27" align="left"><a href="@Url.Action("Opencomplaint","Support")#tabs-12" class="tabs_more_tag">Connection</a></td>
                      <td height="27" align="left"><a href="mobile-apps.html" class="tabs_more_tag">Mobile apps</a></td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27"><left>
                        <a href="#" class="tabs_more_tag">Pinless-setup</a>
                        </center></td>
                      <td height="27" align="left"><a href="@Url.Action("Opencomplaint","Support")#tabs-5" class="tabs_more_tag">Local access numbers</a></td>
                      <td height="27" align="left"><a href="#" class="tabs_more_tag">Apple</a></td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27"><left><a href="#" class="tabs_more_tag">Quickeys</a></left></td>
                      <td height="27" align="left"><a href="@Url.Action("Opencomplaint","Support")#tabs-6" class="tabs_more_tag">Country city/Codes</a></td>
                      <td height="27" align="left"><a href="#" class="tabs_more_tag">Android</a></td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27"><left><a href="#" class="tabs_more_tag">Reward Points</a></left></td>
                      <td height="27" align="left"><a href="@Url.Action("Opencomplaint","Support")#tabs-7" class="tabs_more_tag">Open Complaint</a></td>
                      <td height="27" align="left"><a href="#" class="tabs_more_tag">Facebook</a> </td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27"><left><a href="#" class="tabs_more_tag">Raza Mailer</a></left></td>
                      <td height="27" align="left"><a href="@Url.Action("Opencomplaint","Support")#tabs-8" class="tabs_more_tag">Our Guarantee</a></td>
                      <td height="27" align="left"><a href="#" class="tabs_more_tag">Twitter </a></td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27"><left><a href="#" class="tabs_more_tag">Referral Points</a></left></td>
                      <td height="27" align="left"><a href="@Url.Action("Opencomplaint","Support")#tabs-11" class="tabs_more_tag">Online account mngt.</a></td>
                      <td height="27" align="left"><a href="#" class="tabs_more_tag">Raza Blog</a> </td>
                    </tr>
                    <tr align="left" valign="left" class="border_none">
                      <td height="27"><left></left></td>
                      <td height="27" align="left"><a href="@Url.Action("Opencomplaint","Support")#tabs-12" class="tabs_more_tag">Security</a></td>
                      <td height="27" align="left"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="sitemap_right">
              <h3 class="sitemap_contact">Contact us</h3>
              <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td valign="top"><p><strong>Customer Service Phone Numbers's :</strong></p>
                    <p>Chicago : 1-773.792.8150 </p>
                      <p><span class="us"><img src="@Url.Content("~/images/us.png")" /> Toll-Free : 1-877.463.4233</span></p>
                      <p><span class="us"><img src="@Url.Content("~/images/united-Kingdom_flat.png")" /> 0808.234.7012</span></p>
                      <p><span class="us"><img src="@Url.Content("~/images/canada-Flag.png")" /> 1-800.550.3501</span></p>
                    <br>
                   <!-- <p><strong>Our Corporate Office</strong></p>
                    <p>Raza.communications</p>
                    <p>5219 N. Harlem Ave.</p>
                    <p>Chicago, IL 60656</p>-->
					
					</td>
                </tr>
                <tr>
                  <td valign="top" style="padding:0 0px 0 5px"><p><strong>Fax Numbers's : </strong></p>
                      <p><span class="us"><img src="@Url.Content("~/images/us.png")" /> 1-773-792-8291</span></p>
                      <p><span class="us"><img src="@Url.Content("~/images/canada-Flag.png")"/> 1- 416-746-5239</span></p>
                      <p><img src="@Url.Content("~/images/email.png")" /> <a class="tabs_more_tag" href="mailto:support@Raza.com">support@Raza.com</a><br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="tabs_more_tag" href="mailto:sales@Raza.com">sales@Raza.com</a><br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="tabs_more_tag" href="mailto:info@Raza.com">info@Raza.com</a></p></td>
                </tr>
                <tr>
                  <td valign="top" style="padding:0 0px 0 5px"><p><strong>Want to ask a question now.<br>
                      Chat with our Rep here</strong></p>
                      <p><img src="@Url.Content("~/images/chat.jpg")" border="0px" /></p>
                    <p><strong>Meet us on facebook Like</strong></p>
                      <p><img src="@Url.Content("~/images/like.jpg")" border="0px" /></p></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="bottom-scroller-bg"></div>
      </div>
    </div>
  </div>
<!--Body Container End-->

