@model MvcApplication1.Models.TopupModel
@{
    ViewBag.Title = "TopUp";
}

<script src="../../ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/scripts/jquery.tools.new.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Topupmobile.js")" type="text/javascript"></script>
<script src="../../code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
<!--Body Container Start-->
<div id="inner_body_container">
  
    <div id="banner">
        <img src="@Url.Content("~/images/checkout_banner.jpg")" alt="" /></div>
    <!-- End demo -->
    <form action="#">
        <div id="topup-bind">
            <div id="wizard">
                <ul id="status">
                    <li><span>Personal Info</span></li>
                    <li><span>Billing &amp; Payment Info</span></li>
                    <li><span>Confirmation page</span></li>
                </ul>
                <div class="items">
                    <!-- Personal Info Step1 -->
                    <div class="form_field">
                        <div id="auto-refill">
                            <div id="auto-refill-scroller">
                                <div class="top-bg">
                                    <h1>
                                        <span class="fr small_text margin-right20"><a href="#" class="blue_hover"></a></span>
                                        Mobile Top Up Login/Signup</h1>
                                </div>
                                <div class="repeat-scroller-bg">
                                    <div class="editprofile_b">
                                        <div id="edit-profile" class="edi_pro">
                                            <div class="left big-hth">
                                                <span class="loginname"><strong>Existing Customers:</strong></span>
                                                <p>
                                                    <label class="email">
                                                        Email Address:
                                                    </label>
                                                    <input name="" type="text" id="" data-bind="value: LoginEmail" />
                                                </p>
                                                <div class="spacer">
                                                </div>
                                                <div class="clear">
                                                </div>
                                                <p>
                                                    <label class="email">
                                                        Password:</label>
                                                    <input name="" type="password" data-bind="value: LoginPassword" />
                                                </p>
                                                <div class="spacer">
                                                </div>
                                                <div class="clear">
                                                </div>
                                                <p>
                                                    <label>
                                                    </label>
                                                    @*<a href="existing_customer.html" class="new-next"></a>*@
                                                      <input name="Submit" type="button" id="topuplogin" value="" class="submit-btn-new next second_tab_mar2">
                                                </p>
                                                <div class="spacer">
                                                </div>
                                                <div class="clear">
                                                </div>
                                                <p style="margin-bottom: 0;">
                                                    <label>
                                                    </label>
                                                    <label class="remember" for="remember">
                                                        <input type="checkbox" />
                                                        Remember Password
                                                    </label>
                                                    <strong><a href="#" class="forgot-pass modal-new">Forgot Password?</a></strong>
                                                </p>
                                            </div>
                                            <form>
                                                <div class="rightlogin">
                                                    <span class="loginname"><strong>New Customer Sign up</strong></span>
                                                    <div id="close">
                                                    </div>
                                                    <fieldset class="none login_width">
                                                    </fieldset>
                                                    <div class="color_latest">
                                                        <fieldset class="none">
                                                            <input type="hidden" id="hidden-mob-number" value="@Model.MobileNumber" />
                                                            <input type="text" placeholder="Enter your email address" class="right-input_again" data-bind="value: NewEmail" />
                                                            <input type="text" placeholder="Confirm Email Addresss" class="right-input_again" />
                                                        </fieldset>
                                                        <fieldset class="none">
                                                            <input type="password" placeholder="Password" class="right-input_again" data-bind="value: NewPassword" />
                                                            <input type="password" placeholder="Confirm Password" class="right-input_again" />
                                                        </fieldset>
                                                    </div>
                                                    <div class="clear">
                                                    </div>
                                                    <input type="button" value="Shop Now" id="topup-newsignup" class="hop next second_tab_mar" />
                                                    <div class="clear">
                                                    </div>
                                                    <div class="sprator">
                                                    </div>
                                                    <div class="text-bar">
                                                        By opening an account on Raza.com you agree to the <a href="#" class="tabs_more_tag">
                                                                                                               <strong>Terms and Conditions.</strong></a></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-scroller-bg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Billing Info Step2 -->
                    <div class="form_field">
                        <div id="auto-refill">
                            <div id="auto-refill-scroller">
                                <div class="top-bg">
                                    <h1>
                                        <a href="" class="fr tabs_more_tag">Edit Billing information</a>Billing Info</h1>
                                </div>
                                <div class="repeat-scroller-bg">
                                    <div class="editprofile_b">
                                        <div id="edit-profile">
                                            <div class="new_payment">
                                                <div class="new_payment_left">
                                                    <form>
                                                        <fieldset>
                                                            <b class="red fl">*</b>
                                                            <input name="" type="text" placeholder="First name" class="new_payment_in1" data-bind="value: FirstName" />
                                                            <b class="red fl">*</b>
                                                            <input name="" type="text" placeholder="Last name" class="new_payment_in1" data-bind="value: LastName" />
                                                            <b class="red fl">*</b>
                                                            <input name="" type="text" placeholder="Phone Number" class="new_payment_in1" >
                                                            <b class="red fl">*</b>
                                                            <input name="" type="text" placeholder="Zip/Postal Code" class="new_payment_in1" data-bind="value: ZipCode">
                                                        </fieldset>
                                                        <fieldset>
                                                            <b class="red fl">*</b>
                                                            <input name="" type="text" placeholder="Address" class="new_payment_in1" data-bind="value: Address">
                                                            <b class="red fl">*</b>
                                                            <input name="" type="text" placeholder="City" class="new_payment_in1" data-bind="value: City">
                                                            <b class="red fl">*</b>
                                                            @Html.DropDownListFor(x => x.State, (SelectList)@ViewBag.State, "States...", new { id = "State", @class = "optionselect", data_bind = "value: State" })
                                                            <b class="red fl">*</b>
                                                             @Html.DropDownListFor(x => x.Country, (SelectList)@ViewBag.Cont, "Country...", new { id = "Country", @class = "optionselect", data_bind = "value: Country" })
                                                        </fieldset>
                                                        <div class="clear">
                                                        </div>
                                                        <h1 class="payment-heding">
                                                            Payment Info</h1>
                                                        <fieldset>
                                                            <label class="payment_topup_label">
                                                                Select Card Type:</label>
                                                            <b>
                                                                <img src="@Url.Content("~/images/visa-icon.png")" alt="Visa" />
                                                                <input type="radio" name="cardtype" class="radio_bt" value="Visa Card" data-bind="value: CardType" />
                                                            </b><b>
                                                                    <img src="@Url.Content("~/images/master-card-icon.jpg")" alt="Master Card" />
                                                                    <input type="radio" name="cardtype" class="radio_bt" value="Master Card" data-bind="value: CardType" />
                                                                </b><b>
                                                                        <img src="@Url.Content("~/images/amex-icon.jpg")" alt="Amex" />
                                                                        <input type="radio" name="cardtype" class="radio_bt" value="Amex Card" data-bind="value: CardType" />
                                                                    </b><b>
                                                                            <img src="@Url.Content("~/images/discover-icon.jpg")" alt="Discover" />
                                                                            <input type="radio" name="cardtype" class="radio_bt" value="Discover Card" data-bind="value: CardType" />
                                                                        </b><b>
                                                                                <img src="@Url.Content("~/images/paypal-icon.jpg")" alt="paypal" />
                                                                                <input type="radio" name="cardtype" value="PayPal" class="radio_bt" data-bind="value: CardType" />
                                                                            </b>
                                                            <p class="extra addtional">
                                                                Additional 50 ¢ will be charged for using AMEX card.
                                                            </p>
                                                        </fieldset>
                                                        <fieldset>
                                                            <input type="" class="payment_topup_input" maxlength="16" placeholder="Credit Card Number:" data-bind="value: CardNumber" onkeypress="return numberOnly();" />
                                                            <select name="" class="payment_topup_select" data-bind="value: ExpMonth">
                                                                <option value="" selected="selected">Month</option>
                                                                <option value="01">Jan.</option>
                                                                <option value="02">Feb.</option>
                                                                <option value="03">March.</option>
                                                                <option value="04">April.</option>
                                                                <option value="05">May.</option>
                                                                <option value="06">June.</option>
                                                                <option value="07">July.</option>
                                                                <option value="08">Aug.</option>
                                                                <option value="09">Sep.</option>
                                                                <option value="10">Oct.</option>
                                                                <option value="11">Nov.</option>
                                                                <option value="12">Dec.</option>
                                                            </select>
                                                            <span class="payment_topup_arrow">/</span>
                                                            <select name="" class="payment_topup_select" data-bind="value: ExpYear">
                                                                <option value="" selected="selected">Year</option>
                                                                <option value="13">2013</option>
                                                                <option value="14">2014</option>
                                                                <option value="15">2015</option>
                                                                <option value="16">2016</option>
                                                                <option value="17">2017</option>
                                                                <option value="18">2018</option>
                                                                <option value="19">2019</option>
                                                                <option value="20">2020</option>
                                                                <option value="20">2021</option>
                                                                <option value="20">2022</option>
                                                                <option value="20">2023</option>
                                                            </select>
                                                            <input style="width: 80px" class="coupon12 payment_topup_input_2" placeholder="CVV"
                                                                   id="txtCVV2" maxlength="3" size="5" name="txtCVV2" data-bind="value: CvvNumber" onkeypress="return numberOnly();">
                                                            &nbsp;<span class="small_txt_msg1"><a class="learn-more-text modal-learn blue_hover"
                                                                                                  href="">What is CVV?</a></span>
                                                            <div id="contact-learn">
                                                                <div class="contact-detail-learn">
                                                                    <h2>
                                                                        What is CVV?</h2>
                                                                    <div id="close-learn">
                                                                    </div>
                                                                    <div class="learn_card">
                                                                        <h3>
                                                                            Where is my Card Id/PIN?</h3>
                                                                        <div class="learn_card_left">
                                                                            <h3 class="american_text">
                                                                                American Express Card Holders</h3>
                                                                            <p class="identy_text">
                                                                                <strong>The Card Identification #</strong> is the 4 digit, non embossed number printed
                                                                                above your account number on the face of your card. This number is recorded as an
                                                                                additional security precaution.</p>
                                                                            <img src="@Url.Content("~/images/learn_popup_img.jpg")" alt="" />
                                                                        </div>
                                                                        <div class="learn_card_right">
                                                                            <h3 class="american_text">
                                                                                Visa and MasterCard Card Holders</h3>
                                                                            <p class="identy_text">
                                                                                <strong>CVV2: A new Three-Digit Value</strong><br />
                                                                                An important new security feature for card-not present transactions now appears
                                                                                on the back of most visa cards</p>
                                                                            <img src="@Url.Content("~/images/card_cvv2.jpg")" alt="card" align="middle" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="mask-learn">
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                                <div class="new_payment_right">
                                                    <div class="new-payment-top">
                                                    </div>
                                                    <div class="new-payment-mid">
                                                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="border-top">
                                                            <tr bgcolor="#e8e8e8">
                                                                <td width="75%" height="30" class="border_right border_bottom" align="left">
                                                                    <strong>Product</strong>
                                                                </td>
                                                                <td width="25%" height="30" class="border_bottom" align="left">
                                                                    <strong>Amount</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="10px" class="border_right">
                                                                    &nbsp;
                                                                </td>
                                                                <td height="10px">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="75%" height="50" class="border_right border_bottom" align="left">
                                                                    <strong>Mobile Recharge</strong><br />
                                                                    <p class="pay_space">
                                                                        Amount Sent: $@Model.TopupAmount</p>
                                                                    <input type="hidden" id="topup-amount-hidden" value="@Model.TopupAmount" />
                                                                    <p class="pay_space">
                                                                        Mobile Number: @Model.MobileNumber</p>
                                                                    <p class="pay_space">
                                                                        Operator: @Model.MobileOperator</p>
                                                                        <input type="hidden" id="operator-hidden" value="@Model.MobileOperator" />
                                                                    <p>
                                                                        <strong>Service fee</strong></p>
                                                                </td>
                                                                <td width="25%" height="50" class="border_bottom" align="left">
                                                                    $@Model.TopupAmount <br />
                                                                    <p class="pay_space_1">
                                                                        $0</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="75%" height="30" class="border_right" align="left" bgcolor="#e8e8e8">
                                                                    <input name="" type="text" class="pay_table_input" placeholder="Coupon" data-bind="value: CoupanCode"/>
                                                                    <strong class="pay_table_total-text">Total</strong>
                                                                </td>
                                                                <td width="25%" height="30" align="left" bgcolor="#e8e8e8">
                                                                    <strong class="black">$@Model.TopupAmount</strong>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="new_payment_bottom">
                                                </div>
                                                <fieldset class="biger bigger_submit_new">
                                                    <button type="button" class="next mobile_new_topup">
                                                    </button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-scroller-bg">
                                </div>
                            </div>
                            <!--     <fieldset>







                                         <button type="submit" class="prev">Back</button>







                                         <button type="submit" class="next">Next</button>







                                     </fieldset>-->
                        </div>
                    </div>
                    <!-- Confirmation Step4 -->
                    <div class="form_field">
                        <h2 class="title_black">
                        </h2>
                        <div id="auto-refill">
                            <div id="auto-refill-scroller">
                                <div class="top-bg">
                                    <h1>
                                        Confirmation Page
                                    </h1>
                                </div>
                                <div class="repeat-scroller-bg">
                                    <div class="editprofile_b">
                                        <div id="edit-profile">
                                            <h2 class="confirmation">
                                                Thank you for ordering!</h2>
                                            <h3 class="charged">
                                                To activate your newly registered account please call us.
                                            </h3>
                                            <p class="us-flag">
                                                <span class="usflag">
                                                    <img src="@Url.Content("~/images/us-flag.png")" alt="US" class="imgus"/>
                                                    <img src="@Url.Content("~/images/chat-icon.png")" class="chat-icon" alt="Chat" />1-877-463-4233</span>
                                                <span class="candaflag">
                                                    <img src="@Url.Content("~/images/ca-flag.png")" alt="Canada" class="imgus" /><img src="@Url.Content("~/images/chat-icon.png")"
                                                                                                                    class="chat-icon" alt="Chat" />1-416-848-0234</span> <span class="ukflag">
                                                                                                                                                                             <img class="imgus" src="@Url.Content("~/images/uk-flag.png")" alt="UK" /><img src="@Url.Content("~/images/chat-icon.png")"
                                                                                                                                                                                                                                         class="chat-icon" alt="Chat" />
                                                                                                                                                                             0808-234-7012</span> <a href="" class="click-chat-btn"></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-scroller-bg">
                                </div>
                            </div>
                        </div>
                        <!--<fieldset class="biger">



                                <input type="submit" class="prev"></button>



                                <input type="submit" value="Next" class="next">



                            </fieldset>-->
                    </div>
                </div>
            </div>

    </div>
    </form>
    <!--Body Container End-->
    <div class="spacer">
    </div>
    <div class="clear">
    </div>
</div>
   