@model MvcApplication1.Areas.Mobile.ViewModels.FeedbackViewModel
@{
    ViewBag.Title = "Feedback";
}

<div class="container-fluid">
    <div class="container demo">
        <h1 class=" title_login">Feedback</h1>
        @using (Html.BeginForm("Feedback", "Support", FormMethod.Post))
        {
            <div class="row">
                <div class="col-xs-12">
                    <p>We welcome your comments, questions or complaints. Please use the form below to submit your feedback. We will use this feedback to continuously improve your experience with Raza.com.</p>

                    <p>
                        For immediate assistance with your account, password retrieval, transaction difficulties or other queries, please call our 24/7 customer support.
                    </p>

                </div>
                @if (!string.IsNullOrEmpty(Model.Message))
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="container">
                                @Html.MessageBox(Model.Message, Model.MessageType)
                            </div>
                        </div>
                    </div>
                }
                <div class="col-xs-12 form_mar">
                    @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control  ", @placeholder = "First Name" })
                    @Html.ValidationMessageFor(a => a.FirstName)
                </div>
                <div class="col-xs-12 form_mar">
                    @Html.TextBoxFor(a => a.LastName, new { @class = "form-control  ", @placeholder = "Last Name" })
                    @Html.ValidationMessageFor(a => a.LastName)
                </div>
                <div class="col-xs-12 form_mar">
                    @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "form-control data-numeric ", @placeholder = "Phone Number", @maxlength = "10" })
                    @Html.ValidationMessageFor(a => a.PhoneNumber)
                </div>
                <div class="col-xs-12 form_mar">
                    @Html.TextBoxFor(a => a.Email, new { @class = "form-control  ", @placeholder = "Email Address" })
                    @Html.ValidationMessageFor(a => a.Email)
                </div>

                <div class="col-xs-12 form_mar">
                    @Html.DropDownListFor(a => a.FeedbackType, new SelectList(Model.FeedbackTypeList.Select((x => new { Value = x, Text = x })), "Value", "Text"), "Type of Feedback", new { @class = "form-control " })
                    @Html.ValidationMessageFor(a => a.FeedbackType)
                </div>
                <div class="col-xs-12 form_mar">
                    @Html.TextAreaFor(a => a.Feedback, new { @class = "form-control ", @rows = "3" })
                    @Html.ValidationMessageFor(a => a.Feedback)
                </div>
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block form_mar btn_bgreen">Submit</button>
                    <a href="@Url.Action("Index", "Account")" class="btn btn-primary btn-block form_mar btn_bgray ">Cancel</a>
                </div>

            </div>
        }
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

}