@model MvcApplication1.Areas.Mobile.ViewModels.LocalAccessNumberViewModel
@{
    ViewBag.Title = "LocalAccessNumbers";
}


<div class="container-fluid">
    <div class="container">
        <h1 class=" title_login">Local access numbers</h1>
        <h4>Two ways to dial your destination number.</h4>
        <p>1. Local Access Number (free of charge)</p>
        <p>2. Toll Free Number (additional 2 cent/min.)</p>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">Search by State and Phone Number:</h3>
            </div>
            @using (Html.BeginForm("LocalAccessNumber", "Support", FormMethod.Post, new { @novalidate = "novalidate" }))
            {
                <div class="col-xs-12 form_mar">
                    @Html.DropDownListFor(a => a.AccessCountry, new SelectList(Model.CountryFromList, "Id", "Name"), "Select country", new { @class = "form-control " })
                    @Html.ValidationMessageFor(a => a.AccessCountry)
                </div>
                <div class="col-xs-12 form_mar">
                    @Html.DropDownListFor(a => a.AccessState, new SelectList(Model.StateList, "Id", "Name"), "Select Region", new { @class = "form-control " })
                    @Html.ValidationMessageFor(a => a.AccessState)
                </div>
                <div class="form-group">
                    <div class="col-xs-12 form_mar">
                        @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "form-control ", @placeholder = "phone Number", @type = "Tel", @maxlength = "10" })
                        @Html.ValidationMessageFor(a => a.PhoneNumber)
                    </div>
                </div>
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block form_mar btn_bgreen">Search</button>
                </div>
            }@if (Model.LocalAccessNumbers.Any())
             {
                <div class="col-xs-12 search_scroll">

                    <ul class="list-inline list-unstyled profile">
                        @*<li class="sn_number">
                            <h5>S.no</h5>
                        </li>*@
                        <li class="ac_number">
                            <h5>Access Number</h5>
                        </li>
                        <li class="state_list">
                            <h5>State</h5>
                        </li>
                        <li class="city_list">
                            <h5>City</h5>
                        </li>
                    </ul>

                    @{
                 int i = 1;
                    }
                    @foreach (var item in Model.LocalAccessNumbers)
                    {
                        <ul class="list-inline list-unstyled profile ">
                            @*<li class="sn_number">@Html.Encode(i + ".")</li>*@
                            <li class="ac_number">@Html.Encode(item.AccessNumber)</li>
                            <li class="state_list">@Html.Encode(item.State)</li>
                            <li class="city_list">@Html.Encode(item.City)</li>
                        </ul>
                        i++;
                    }

                </div>
             }
             else
             {
                @Html.Partial("LocalAccessNumber_Partials/_StaticLocalAccessNumbers",Model)     
             }
            <div class="col-xs-12">
                <h4>DISCLAIMER:</h4>
                <p>
                    Two cent/min will be charged for using a Toll Free or 1-800 numbers.
                </p>
                <p>Customer is responsible for choosing access numbers that are local and free of charge. Contact your local telephone company to confirm that the number(s) that appear are both local and free of charge for you to call. Raza.com is Not responsible for any long distance phone charges from your primary service provider. </p>
            </div>

        </div>

    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#AccessCountry").change(function () {
                var countryid = this.value;
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetStates", "Account")',
                    data: {
                        countryId: countryid
                    },
                    success: function (res) {
                        var html = '<option value="">Select Region</option>';
                        $.each(res, function () {
                            var opt = '<option value="' + this.Id + '">' + this.Name + '</option>';
                            html = html + opt;
                        });
                        $("#AccessState").html(html);
                    }
                });
            });
        });
    </script>

}