@model MvcApplication1.Areas.Mobile.ViewModels.OpenComplaintViewModel
@{
    ViewBag.Title = "OpenComplaint";
}


<div class="container-fluid">
    <div class="container demo">
        <h1 class=" title_login">Open A Complaint</h1>
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="row">
                <div class="col-xs-12">
                    <div class="container">
                        @Html.MessageBox(Model.Message, Model.MessageType)
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("OpenComplaint", "Support", FormMethod.Post, new { @novalidate = "novalidate" }))
        {
            <div class="row">
                <div class="col-xs-12 form_mar">
                    @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control  ", @placeholder = "First Name" })
                    @Html.ValidationMessageFor(a => a.FirstName)
                </div>
                <div class="col-xs-12 form_mar">
                    @Html.TextBoxFor(a => a.LastName, new { @class = "form-control  ", @placeholder = "Last Name" })
                    @Html.ValidationMessageFor(a => a.LastName)
                </div>
                <div class="col-xs-12 form_mar">
                    @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "form-control data-numeric ", @type = "tel", @placeholder = "Phone Number", @maxlength = "10" })
                    @Html.ValidationMessageFor(a => a.PhoneNumber)
                </div>
                <div class="col-xs-12 form_mar ">
                    @Html.TextBoxFor(a => a.EmailAddress, new { @class = "form-control  ", @placeholder = "Email Address" })
                    @Html.ValidationMessageFor(a => a.EmailAddress)
                </div>

                <div class="col-xs-12 form_mar">
                    @Html.DropDownListFor(a => a.PlanOrderId, new SelectList(Model.UserPlanList, "value", "Text"), "Select Plan Name", new { @class = "form-control " })
                    @Html.ValidationMessageFor(a => a.PlanOrderId)
                </div>
                <div class="col-xs-12">
                    <h3 class="text-center">Ticket Description</h3>
                </div>
                <div class="col-xs-12 form_mar">
                    @Html.TextBoxFor(a => a.DestinationNumber, new { @class = "form-control  ", @type = "tel", @placeholder = "Destination Number", @maxlength = "10" })
                    @Html.ValidationMessageFor(a => a.DestinationNumber)
                </div>
                <div class="col-xs-12 form_mar">
                    @Html.DropDownListFor(a => a.CallingFromCountry, new SelectList(Model.CountryFromList, "Id", "Name"), "Calling from", new { @class = "form-control " })
                    @Html.ValidationMessageFor(a => a.CallingFromCountry)
                </div>
                <div class="col-xs-12 form_mar">
                    @Html.DropDownListFor(a => a.CallingToCountry, new SelectList(Model.CountryToList, "Id", "Name"), "Calling to", new { @class = "form-control " })
                    @Html.ValidationMessageFor(a => a.CallingToCountry)
                </div>
                <div class="col-xs-12 form_mar">
                    @Html.DropDownListFor(a => a.Description, new SelectList(Model.DescriptionList.Select((x => new { Value = x, Text = x })), "Value", "Text"), "Description", new { @class = "form-control " })
                    @Html.ValidationMessageFor(a => a.Description)
                </div>
                <div class="col-xs-12 form_mar">
                    @Html.TextAreaFor(a => a.Comment, new { @class = "form-control  ", @rows = "3", @placeholder = "Comment" })
                    @Html.ValidationMessageFor(a => a.Comment)
                </div>
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block form_mar btn_bgreen">Submit</button>
                    <input type="reset" class="btn btn-primary btn-block form_mar btn_bgray " />
                </div>

            </div>
        }
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

}