@{
    string PageTitle = @ViewBag.Title ?? "Phone Cards, India Calling Cards, Cheap India Phone Cards, Call India";
    string PageDescription = @ViewBag.PageDescription ?? "SAVE HUGE on your international and long distance calls with Raza's calling cards. Buy our international phone cards with confidence and call India, Pakistan, Nepal and other countries with complete peace of mind.";
    string PageKeywords = @ViewBag.PageKeywords ?? "International Calling Cards to India, Calling Cards to Pakistan, Phone Cards to Pakistan, Cheap Phone Cards to India";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@PageTitle</title>
    <meta name="description" content="@PageDescription" />
    <meta name="keywords" content="@PageKeywords"/>

    <link rel="canonical" href="http://www.raza.com" />
    <link rel="alternate" href="http://raza.com" hreflang="en-us" />
   


	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
	<link href="@Url.Content("~/css_new/custom-css-new.css")" rel="stylesheet" type="text/css" />
	
	
	

</head>

<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NGRLDD"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NGRLDD');</script>
    <!-- End Google Tag Manager -->
	

            @RenderPage("Header.cshtml")

			 
			<div class="body_container">
              @RenderBody()
			</div>
			

              @RenderPage("Footer.cshtml")


</body>
</html>
