<style>
    .call_input_new {
        width: 311px!important;
    }

    .email_inputbox_promotions {
        background: #E2E2E2;
        border: 3px solid #CFCFCF;
        border-radius: 6px;
        color: #6A6A6A;
        float: left;
        font-size: 12px !important;
        font-weight: bold;
        margin: 4px 0 0 243px;
        padding: 5px;
        width: 370px;
    }

    .call_input_new {
        background: none repeat scroll 0 0 #E2E2E2;
        border: 2px solid #CFCFCF !important;
        border-radius: 6px;
        color: #6A6A6A;
        float: left;
        font-size: 11px !important;
        font-weight: bold;
        margin: 21px 0 0 -5px;
        padding: 4px 7px !important;
        width: 311px;
    }
</style>
<div id="footer_container">
    <div id="tabbing_footer">
        <ul id="ftr_tabs">

            <li><a href="#ftrtabs-1 "><b class="first-icon"></b>Try us Free </a></li>
            <li><a href="#ftrtabs-2"><b class="second-icon "></b>Subscribe </a></li>
            <li><a href="#ftrtabs-3"><b class="third-icon"></b>Guarantee</a></li>
            <li><a href="#ftrtabs-4"><b class="four-icon"></b>Raza Rewards</a></li>
            <li><a href="#ftrtabs-5"><b class="five-icon"></b>Auto-refill</a></li>
            <li><a href="#ftrtabs-6"><b class="six-icon"></b>Search Rates</a></li>
            <li><a href="#ftrtabs-7"><b class="seven-icon"></b>Contact us</a></li>
            <li><a href="#ftrtabs-8"><b class="eight-icon"></b>T&amp;C</a></li>
            <li><a href="#ftrtabs-9"><b class="nine-icon"></b>Support</a></li>
        </ul>
        <div id="ftrtabs-1" class="ftr_tabs-section">
            <div class="expandable" id="tryus-valpopup">
                <div id="close-val-try" class="close-confirm" onclick="tryusdisablePopup();">
                </div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">

                    <tr>
                        <td width="14">
                            <img src="@Url.Content("~/images/expand_top_left.png")" width="14" height="13" /></td>
                        <td style="background: url(/images/expand_drop_top.png) repeat-x left 2px;"></td>
                        <td width="14">
                            <img src="@Url.Content("~/images/expand_top_right.png")" width="14" height="13" /></td>
                    </tr>
                    <tr>
                        <td style="background: url(/images/expand_drop_left.png) repeat-y 0px top;"></td>
                        <td style="background: #fff;">
                            <div class="expandable_mid">
                                <img src="@Url.Content("~/images/error_sign.png")" style="float:left;margin-top:15px;margin-left:30px;" />
                                <div id="validation-msgs" style="margin-left: 150px; color: #960000" class="validation-error-msg">
                                    Please note, Free Trail offer is strickly for New customers only. Existing customers please check for deals.
                                </div>
                            </div>
                        </td>
                        <td style="background: url(/images/expand_drop_right.png) repeat-y 0px top;"></td>
                    </tr>
                    <tr>
                        <td width="14" style="padding: 0px!important;">
                            <img src="@Url.Content("~/images/expand_bot_left.png")" width="14" height="13" /></td>
                        <td style="background: url(/images/expand_drop_bottom.png) repeat-x left 0px;" width="100%"></td>
                        <td width="14" style="padding: 0px!important;">
                            <img src="@Url.Content("~/images/expand_bot_right.png")" width="14" height="13" /></td>
                    </tr>
                </table>
            </div>

            <div id="backgroundPopup" onclick="tryusdisablePopup();">
            </div>
            <form class="try-free">
                <input id="Istryusvalid" type="hidden" value="@Session["TryusFree"]" />
                <div class="left-part">
                    <div class="contry_flag_dropdown fl">
                        <select name="trialcountryfrom" id="countries_tryusfree_footer" style="width: 132px; margin-left: -9px">
                            @*<option value='1' data-image="images/blank.gif" data-imagecss="flag us" data-title="U.S.A">U.S.A</option>
                            <option value='2' data-image="images/blank.gif" data-imagecss="flag ca" data-title="Canada">Canada</option>
                            <option value='3' data-image="images/blank.gif" data-imagecss="flag england" data-title="United Kingdom">U.K</option>*@
                            @foreach (var item in Model.ListOfTop3FromCountries)
                            {
                                <option value='@item.Id' data-image="@Url.Content("~/images/blank.gif")" data-imagecss="@item.ImageClass" data-title="@item.Name">@item.Name</option>
                            }
                        </select>
                    </div>

                    <select name="trialcountryto" id="trialcountryto">
                        <option value="">-----Select Destination-----</option>

                        @if (Model != null && Model.TrialCountriesPlans != null)
                        {
                            foreach (var res in Model.TrialCountriesPlans)
                            {
                            <option value='@res.Id'>@res.Desc.</option>
                            }
                        }
                    </select>
                    <script>
                        var countryid = $("#country-byip").val();
                        function setSelectedIndex(s, valsearch) {
                            // Loop through all the items in drop down list
                            for (var i = 0; i < s.options.length; i++) {
                                if (s.options[i].value == valsearch) {
                                    // Item is found. Set its property and exit
                                    s.options[i].selected = true;
                                    break;
                                }
                            }
                            return;
                        }
                        setSelectedIndex(document.getElementById("countries_tryusfree_footer"), countryid);
                    </script>
                    <!--  <div class="flag_1"> <img src="images/india_coupan_flag.jpg"></div>-->
                </div>
                <a onclick=' navigate(this); ' class="black_submit"></a>
                <a href="@Url.Action("Faq", "Account")" class="faq_txt">FAQ</a>
                <div class="clear"></div>

                <p>
                    Get up to <strong>100 FREE</strong> minutes to over 25 different
                    countries! New customers can signup today to experience quality
                    long distance service that only <strong>Raza.com can offer!</strong>
                </p>
            </form>

            <script type='text/javascript'>
                function tryusloadPopup() {
                    if (popupStatus == 0) { // if value is 0, show popup
                        closeloading(); // fadeout loading
                        $("#tryus-valpopup").fadeIn(0500); // fadein popup div
                        $("#backgroundPopup").css("opacity", "0.7"); // css opacity, supports IE7, IE8
                        $("#backgroundPopup").fadeIn(0001);
                        popupStatus = 1; // and set value to 1
                    }
                }

                $(this).keyup(function (event) {
                    if (event.which == 27) { // 27 is 'Ecs' in the keyboard
                        disablePopup(); // function close pop up
                    }
                });

                function closeloading() {
                    $("div.loader").fadeOut('normal');
                }

                var popupStatus = 0; // set value

                function tryusdisablePopup() {
                    if (popupStatus == 1) { // if value is 1, close popup
                        $("#tryus-valpopup").fadeOut("normal");
                        $("#backgroundPopup").fadeOut("normal");
                        popupStatus = 0; // and set value to 0
                    }
                }


                function navigate() {
                  
                    var trialcountryfrom = $('#countries_tryusfree_footer').val();
                    var istryusvalid = $("#Istryusvalid").val();
                   
                    var trialcountryto = $('#trialcountryto').val();
                    
                    if (trialcountryto == 0) {

                        return false;
                    }
                    if (istryusvalid != "valid" && istryusvalid != "") {
                        // alert("Note: you can't buy this plan.");
                        tryusloadPopup();
                        return false;
                    }
               
                    var url = "/Cart/GetFreeTrialPlan?trialcountryfrom=" + trialcountryfrom + "&trialcountryto=" + trialcountryto;
                    window.location.href = url;
                }
            </script>
        </div>
        <div id="ftrtabs-2" class="ftr_tabs-section">
            <table width="100%" cellpadding="10" cellspacing="0">
                <tbody>
                    <tr>
                        <!--<td width="35%" class="subs_promotion">Enter your email
                to recieve our promotions :</td>-->
                        <td width="65%">

                            <div id="div1" style="margin-left: 245px; font-size: 14px; color: red; font-weight: bold;"></div>
                            <input type="text" placeholder="Enter your email ID here..." class="email_inputbox_promotions" name="Email ID2" id="Email ID2" onblur="getVal('Email ID','Email ID');" onclick="getBlank('Email ID');">
                            <a id="subscribe" class="subscribe_black" style="cursor: pointer;"></a>
                            <script type="text/javascript">
                                $("#subscribe").click(function (e) {
                                         
                                    var res = $(".email_inputbox_promotions").val();
                                    var reg = /^([A-Za-z0-9_\-\.])+\@@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

                                    if (reg.test(res) == false) {
                                        $("#div1").text("Invalid Email Address").show();
                                        $('.email_inputbox_promotions').val("");
                                        return false;
                                    }
                                    $.ajax({
                                        url: '/Account/SubscribeMail/',
                                        dataType: 'json',
                                        data: { Email: res },
                                        contentType: 'application/json; charset=UTF-8',
                                        success: function (result) {

                                            $("#div1").html(result);
                                            $('.email_inputbox_promotions').val("");
                                        }
                                    });
                                           
                                });
                                       
                            </script>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="ftrtabs-3" class="ftr_tabs-section">
            <p>
                <strong>At Raza.com,</strong> we stand behind the <strong>Price,
          Quality and Connectivity</strong> of every call you make. <strong>Raza.com</strong> is
          confident of the quality and the rate that we are offering
         at a <strong>Best Price Guarantee</strong>. If for any reason
          you're not completely satisfied with our quality and the
          price, you can call us anytime to get a refund of the unused
          balance without any questions asked.
            </p>
        </div>
        <div id="ftrtabs-4" class="ftr_tabs-section">
            <div class="bonusleft left">
                <div class="text_con">Become a Member Today!</div>
                <div id="bonus_box">
                    <ul>
                        <li class="ui-corner-left">Free 200 Bonus Points For Signup</li>
                        <li class="ui-corner-left">4 Points For every dollarspent on Raza.com</li>
                        <li class="ui-corner-left">Combine with Refer-A-Friend Program</li>
                        <li class="ui-corner-left">Reedem points forFree Minutes!</li>
                        <a href="@Url.Action("index", "Features")#tabs-7" class="signupnow"></a>
                    </ul>
                </div>
                <p class="signup_btn"></p>
            </div>
        </div>
        <div id="ftrtabs-5" class="ftr_tabs-section">
            <div class="auto_refill">
                <!-- <h3>What is Auto-recharge and how does it work?</h3>-->
                <p>
                    <strong>Do you know?</strong> You will receive an additional <strong>10% extra minutes</strong> on every transaction, when you enroll in our Auto-recharge feature. This ensures that you will never run out of minutes while you are on a important call. Our system will notify you every time when your account replenishes.<br />
                    <br />


                    * Eligible for Plans that don’t have <strong>auto refill mandatory</strong>.

 <!--<a href="features_home.html#tabs-6" class="tabs_more_tag">Learn
            more</a>-->
                </p>
                <a href="@Url.Action("MyAccount", "Account")" class="enroll_footer"></a>
            </div>
        </div>
        <div id="ftrtabs-6" class="ftr_tabs-section">

            <form class="search_ratesftr" method="GET" action="@Url.Action("Searchrate", "rate")">
                <div class="contry_flag_dropdown footer_searchrates fl">
                    <select name="countryfrom" id="countries_searchrates_footer" style="width: 150px;">
                        @foreach (var item in Model.ListOfFromCountries)
                        {
                            <option value='@item.Id' data-image="images/blank.gif" data-imagecss="@item.ImageClass" data-title="@item.Name">@item.Name</option>
                        }


                    </select>
                </div>
                <select class="call_input call_input_new" id="countryto" name="countryto">
                    <option>Select Country</option>
                    @if (Model != null && Model.ListOfToCountries != null)
                    {
                        foreach (var res in Model.ListOfToCountries)
                        {
                        <option value="@res.Id">@res.Name</option>
                        }
                    }
                </select>
                <!-- <div class="flag_m"> <img src="images/india_coupan_flag.jpg"></div>-->
                <input type="submit" value="" class="searchrates_button" />
            </form>

            <script>
                var countryid = $("#country-byip").val();
                function setSelectedIndex(s, valsearch) {
                    // Loop through all the items in drop down list
                    for (var i = 0; i < s.options.length; i++) {
                        if (s.options[i].value == valsearch) {
                            // Item is found. Set its property and exit
                            s.options[i].selected = true;
                            break;
                        }
                    }
                    return;
                }
                setSelectedIndex(document.getElementById("countries_searchrates_footer"), countryid);
            </script>

        </div>
        <div id="ftrtabs-7" class="ftr_tabs-section">

            <!--<div class="contact_add"> <span class="mailing"> <img src="images/contacts.png"></span>
          <p class="address">Raza Communications 5219 N. Harlem Ave. Chicago,
            IL 60656 </p>
          <div class="clear"></div>
          <span class="mailing"><img src="images/customer1.png"></span>
          <p> <span class="us">Chicago: 773.792.8150</span> <span class="us"> <img src="images/us.png"> Toll-Free:
            877.463.4233</span> <span class="us"><img src="images/united-Kingdom_flat.png"> 0808.234.7012</span> <span class="us"><img src="images/canada-Flag.png"> 800.550.3501 </span> </p>
          <div class="clear"></div>
          <span class="mailing"><img src="images/email.png"></span>
          <p><a href="mailto:sales@raza.com">sales@raza.com</a></p>
        </div>-->
            <span class="ftr-contact_left">
                <h3>Toll Free Numbers:</h3>
                <b>
                    <img src="@Url.Content("~/images/us.png")" alt="" />1-877.463.4233</b>
                <b>
                    <img src="@Url.Content("~/images/canada-Flag.png")" alt="" />1-800.550.3501</b>
                <b>
                    <img src="@Url.Content("~/images/united-Kingdom_flat.png")" alt="" />+ 44 800-520-0329</b>
                <p class="fl" style="color: #000;"><strong>Chicago: 1-773.792.8150</strong>
                <b style="font-size: 13px;"><strong>UK London: + 44  207-100-3090</strong></b></p>
                @*<span class="toronto">Toronto: 416-746-9797</span>*@
            </span>

            <span class="ftr-contact_center">
                <b>Want to ask a question now.<br />
                    Chat with our Rep here
                </b>
                <a href="javascript: openwindow()" target="_blank" class="live_chatftr"></a>
                @*<b>Meet us on facebook like</b>
        <a href="" class="fb_ftr"></a>*@
            </span>

            <span class="ftr-contact_right">
                <b>Email us:</b>
                <div class="clear"></div>
                <span class="mail_iconftr">
                    <img src="@Url.Content("~/images/email.png")" alt="" /></span>
                <span><a href="mailto:support@raza.com" class="links_id">support@raza.com</a><br />
                    @*<a href="mailto:sales@raza.com" class="links_id">sales@raza.com</a><br />*@
                    <a href="mailto:info@raza.com" class="links_id">info@raza.com</a>
                </span>

                <p>Fax Number:</p>
                <span class="fax_us">
                    <img src="@Url.Content("~/images/us.png")" alt="" /><p class="fax_p">1-773.792.8291</p>
                </span>
@*                <span class="fax_canada">
                    <img src="@Url.Content("~/images/canada-Flag.png")" alt="" /><p class="fax_p">1-416.746.5239</p>
                </span>*@

            </span>


        </div>
        <div id="ftrtabs-8" class="ftr_tabs-section">
            <p>
                Use of this web site is expressly conditioned on your acceptance
          of all terms and conditions stated herein and any other place
          on this web site. <strong>DO NOT USE THIS WEBSITE</strong> if
          you do not accept all the terms and conditions stated herein
          and at other places <strong>(including Frequently Asked Questions,
          and "Detail" section of the respective prepaid phone plan)</strong> on
          this website. <a class="tabs_more_tag" href="@Url.Action("index", "support")#tabs-3">More...</a>
            </p>
        </div>
        <div id="ftrtabs-9" class="ftr_tabs-section">
            <ul class="tabs-css">
                <li class="ui-corner-left"><span class="contact_icon"></span><a href="@Url.Action("index", "support")#tabs-1">CONTACT US</a></li>
                <li class="ui-corner-left"><span class="faq_icon"></span><a href="@Url.Action("index", "support")#tabs-2">FAQ</a></li>
                <li class="ui-corner-left"><span class="terms_icon"></span><a href="@Url.Action("index", "support")#tabs-3">TERMS </a></li>
                <li class="ui-corner-left"><span class="privacypolicy_icon"></span><a href="@Url.Action("index", "support")#tabs-4">PRIVACY POLICY</a></li>
            </ul>
            <ul class="tabs-css">
                <li class="ui-corner-left"><span class="localaddress"></span><a href="@Url.Action("index", "support")#tabs-5">LOCAL ACCESS NUMBERS</a></li>
                <li class="ui-corner-left"><span class="citiescodes"></span><a href="@Url.Action("index", "support")#tabs-12">CONNECTION</a></li>
                <li class="ui-corner-left"><span class="complaints"></span><a href="@Url.Action("index", "support")#tabs-7">OPEN COMPLAINT </a></li>
                <li class="ui-corner-left"><span class="guarantee"></span><a href="@Url.Action("index", "support")#tabs-8">OUR GUARANTEE </a></li>
            </ul>
        </div>
    </div>
    <div class="ftr_links">
        @*<a href="@Url.Action("index", "Account")">Home</a> | <a href="@Url.Action("index", "WhyRaza")#tabs-4">
            Refer-A-Freind</a> | <a href="jobs.html">Jobs</a> | <a href="#">Affilite Program</a>
        | <a href="@Url.Action("index", "support")#tabs-14">Feedback</a> | <a href="@Url.Action("index", "support")#tabs-4">
            Privacy Policy</a> | <a href="http://www.Raza.com/blog/">Raza Blog</a> | <a href="#">
                Site Map</a> | <a href="">Bookmark</a>*@
        <p>By accessing this site, you accept the terms of our Acceptable Use Policy and Visitors Agreement.</p>
    </div>


    @* <div class="ftrlogo">
        <a href="#">
            <img alt="" src="@Url.Content("~/images/guranteed.jpg")" border="0" /></a> <a href="#">
                <img alt="" src="@Url.Content("~/images/varified.jpg")" border="0" /></a>
        <a href="#">
            <img alt="" src="@Url.Content("~/images/siteseal.gif")" border="0" style="margin:29px 0px 0px 0px;" /></a> <a href="#">
                <img alt="" src="@Url.Content("~/images/paypal.jpg")" border="0" /></a>
    </div>*@


<div class="footer-main">
<div class="ftrlogo">
    <ul>
        <li><a href="#">
            <img alt="" src="@Url.Content("~/images/guranteed.jpg")" border="0"></a></li>
        <!--<li><a href=""><img alt="" src="images/varified.jpg" border="0" style="margin:25px 0px 0px 0px;"></a></li>-->
        <li><a href="#">
            <img alt="" src="@Url.Content("~/images/siteseal.jpg")" border="0" style="margin: 29px 0px 0px 0px;"></a></li>
        <li><a href="#">
            <img alt="" src="@Url.Content("~/images/paypal.jpg")" border="0" style="margin-top: 28px;"></a></li>
			
       <li><span>Connect with us</span>
	<div class="clear"></div>
	<a href="https://www.facebook.com/razacom/" class="fb_social_ftr"></a>
	<a href="https://twitter.com/RazaCallingCard" class="tw_social_ftr"></a>
	<a href="https://in.pinterest.com/RazaCallingCard/razacom-international-calling-service/" class="google_social_ftr"></a>
	
	</li>
    </ul>
   
	
</div>

<div class="fotrlogo-right">
  <a href="/Account/SwitchView">Mobile View</a>
  
  </div>
  
</div>


    
    <div class="clear"></div>
	

    <div class="copyright">
        <span class="copy_left" style="font-size: 11px;">Copyright © 2000-2016 Raza Communications™ Raza.com. Raza.ca. All Rights Reserved.</span>
        
        <!--<span class="copy_right">protected by <a href="" title="Protected by copyscape Plagiarism 
Checker-Do not copy image/content from this page.">copyscape </a>do not copy </span>
        -->

    </div>
</div>

<input type="hidden" id="active_deal" value="0" />

<script>

    $(document).ready(function () {

        $(".close_fixed").click(function () {

            $(".footer_fixed").hide();

        });

    });

</script>



<!--end footer-->

<script src="@Url.Content("~/Scripts/vendor/modernizr-2.6.2.min.js")"></script>


<div class="feedbackicon" title="Click here to give us feedback" id="oo_feedback_float">
    <div style="display: block;" id="olUp">
        <img src="@Url.Content("~/images/oo_black.gif")"><span id="fbText"><br>
            <a href="@Url.Action("index", "support")#tabs-14" class="bllink">Feedback</a></span></div>
    <div style="display: none;" id="olOver">Click here to give us feedback</div>
</div>



<!-- <msdropdown> -->

<script src="@Url.Content("~/Scripts/scripts.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.dd.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-customselect.js")"></script>
<script>
    $(document).ready(function () {

        $("#countries_signup_popup").msDropdown();
        $("#countries_searchrates_footer").msDropdown();
        $("#countries_tryusfree_footer").msDropdown();
        $("#countries_plans").msDropdown();
        $("#countries").msDropdown();
        $("#rate-countries").msDropdown();
        $("#rate-countries-1").msDropdown();
        $("#landline_special").msDropdown();
        $("#compare_plans").msDropdown();
        $("#northamerica").msDropdown();
        $("#southamerica").msDropdown();
        $("#international").msDropdown();
        $("#retail-global-countries").msDropdown();
        $("#NewCust_countries").msDropdown();
        $("#stamp_flag").msDropdown();
        $("#stamp_flag1").msDropdown();
        $("#countries-rate").msDropdown();
        $("#countries-rates").msDropdown();
        $("#from-asia").msDropdown();
        $("#from-africa").msDropdown();
        $("#from-Europe").msDropdown();
        $("#from-middleeast").msDropdown();
        $("#from-southamerica").msDropdown();
        $("#from-North").msDropdown();
        $("#global-countries").msDropdown();
        $("#global-countries_15").msDropdown();
        $("#global-countries_17").msDropdown();
        $("#countries_searchrates_newCustomer").msDropdown();
        $("#countries_searchrates_existCustomer").msDropdown();
        $("#countryfrom-promotion").msDropdown();
      
        
    });
</script>

<script>

    $(document).ready(function () {

        $(".close_fixed").click(function () {

            $(".footer_fixed").hide();

        });

    });

</script>

<script type="text/javascript">

    function openwindow() {

        var url = "https://server.iad.liveperson.net/hc/69462672/?cmd=file&file=visitorWantsToChat&site=69462672&referrer=@Request.Url.ToString()";

        window.open(url,
            "mywindow", "location=1,status=1,scrollbars=1,width=400,height=400");

    }




</script>

<script type="text/javascript">
    window.lpTag=window.lpTag||{};if(typeof
    window.lpTag._tagCount==='undefined'){window.lpTag={site:'69462672',section:lpTag.section||'',autoStart:lpTag.autoStart===false?false:true,ovr:lpTag.ovr||{},_v:'1.5.1',_tagCount:1,protocol:location.protocol,events:{bind:function(app,ev,fn){lpTag.defer(function(){lpTag.events.bind(app,ev,fn)},0)},trigger:function(app,ev,json){lpTag.defer(function(){lpTag.events.trigger(app,ev,json)},1)}},defer:function(fn,fnType){if(fnType==0){this._defB=this._defB||[];this._defB.push(fn)}else
        if(fnType==1){this._defT=this._defT||[];this._defT.push(fn)}else{this._defL=this._defL||[];this._defL.push(fn)}},load:function(src,chr,id){var
        t=this;setTimeout(function(){t._load(src,chr,id)},0)},_load:function(src,chr,id){var
        url = src; if (!src) { url = this.protocol + '//' + ((this.ovr && this.ovr.domain) ? this.ovr.domain : 'lptag.liveperson.net[2]') + '/tag/tag.js?site=' + this.site }
        
       var s=document.createElement('script');s.setAttribute('charset',chr?chr:'UTF-8');if(id){s.setAttribute('id',id)}s.setAttribute('src',url);document.getElementsByTagName('head').item(0).appendChild(s)},init:function(){this._timing=this._timing||{};this._timing.start=(new
        Date()).getTime();var
        that=this;if(window.attachEvent){window.attachEvent('onload',function(){that._domReady('domReady')})}else{window.addEventListener('DOMContentLoaded',function(){that._domReady('contReady')},false);window.addEventListener('load',function(){that._domReady('domReady')},false)}if(typeof(window._lptStop)=='undefined'){this.load()}},start:function(){this.autoStart=true},_domReady:function(n){if(!this.isDom){this.isDom=true;this.events.trigger('LPT','DOM_READY',{t:n})}this._timing[n]=(new
        Date()).getTime()},vars:lpTag.vars||[],dbs:lpTag.dbs||[],ctn:lpTag.ctn||[],sdes:lpTag.sdes||[],ev:lpTag.ev||[]};lpTag.init()}else{window.lpTag._tagCount+=1}
</script>


