


<script src="@Url.Content("~/Scripts/vendor/modernizr-2.6.2.min.js")"></script>


<div class="feedbackicon" title="Click here to give us feedback" id="oo_feedback_float">
    <div style="display: block;" id="olUp">
        <img src="@Url.Content("~/images/oo_black.gif")"><span id="fbText"><br>
            <a href="@Url.Action("index", "support")#tabs-14" class="bllink">Feedback</a></span></div>
    <div style="display: none;" id="olOver">Click here to give us feedback</div>
</div>



<!-- <msdropdown> -->

<script src="@Url.Content("~/Scripts/scripts.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.dd.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-customselect.js")"></script>



