
<div class="topmain-allsecdiv">

  <div id="main_container">
	 <ul class="header-left">
			<li><a href="#">home</a></li>
			<li><a href="#">my account</a></li>
		 </ul>
	<ul class="top-header-righttop">
	 <li><span class="number"><i class="fa fa-volume-control-phone" aria-hidden="true"></i> 1-(800) 463-4233</span></li>
	 <li><div class="contry_flag_dropdown_1">
				  
					<form action="#" method="post" accept-charset="utf-8" class="example_form">
					  <select name="countries" id="rate-countries">
						<option value='us' data-image="images_new_new/blank.gif" data-imagecss="usa_big" data-title="U.S.A"></option>
						<option value='ca' data-image="images_new/blank.gif" data-imagecss="canada_big" data-title="Canada"></option>
						<option value='uk' data-image="images_new/blank.gif" data-imagecss="uk_big" data-title="United Kingdom"></option>
					  </select>
					</form>
				  </div></li>
	</ul>

  </div><!--main_container-->


<!--header start-->
<div class="header-mainbg">
    <div id="main_container">
       <div id="wrapper">
	   
		<div id="header">
			<div class="logo_2">
				<a href="@Url.Action("Index", "account")">
					<img src="@Url.Content("~/images_new/logo/raza_logo.jpg")" alt="Keep talking with Raza international calling cards" /></a>
					@*<img src="@Url.Content("~/images_new/logo/raza-christmas-logo.jpg")" alt="Keep talking with Raza international calling cards" /></a>*@
				
				<!--img src="@Url.Content("~/images_new/anniversary.jpg")" alt="" class="anniversary" /-->
		
			</div>
			<div class="navigation">
				<ul>
				
				 <li><a href="#" title="top-deals"><span class="trash-font">top-deals</span></a>
					  <ul>
						<li>
						  <table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
							  <td width="21"><img src="images_new/drop_top_left_bg.jpg" width="30" height="30" /></td>
							  <td style="background:url(images_new/drop_top_mid_bg.jpg) repeat-x;"></td>
							  <td width="21"><img src="images_new/drop_top_right_bg.jpg" width="30" height="30" /></td>
							</tr>
							<tr>
							  <td style="background:url(images_new/drop_left_bg.jpg) repeat-y;"></td>
							  <td style="background:#fff;"><div class="topdeals_dropdown">
								  <ul>
									<li><span class="india-unlimited"></span><a href="#" class="">India Unlimited $9.99/Month</a></li>
									<li><span class="buy-get"></span><a href="#" class="">Buy 1 Get 1 free</a></li>
								  </ul>
								  <ul>
									<li><span class="nepal-offer"></span><a href="#" class="">Nepal 6.9cents per minute</a></li>
									<li><span class="ramadan-offer"></span><a href="#"  class="">Ramadan Offer</a> </li>
								  </ul>
								</div></td>
							  <td style="background:url(images_new/drop_right_bg.jpg) repeat-y;"></td>
							</tr>
							<tr>
							  <td width="21"><img src="images_new/drop_bot_left_bg.png" width="30" height="30" /></td>
							  <td><table width="100%" cellpadding="0" cellspacing="0" border="0">
								  <tr>
									<td width="94"><img src="images_new/drop_botsahde_bg_l.jpg" width="96" height="30" /></td>
									<td style="background:url(images_new/drop_bot_mid_bg.jpg) repeat-x;" width="100%"></td>
									<td width="94"><img src="images_new/drop_botsahde_bg_r.jpg" width="96" height="30" /></td>
								  </tr>
								</table></td>
							  <td width="21"><img src="images_new/drop_bot_right_bg.png" width="30" height="30" /></td>
							</tr>
						  </table>
						</li>
					  </ul>
					</li>
					
				 <li class="ico3"><a href="@Url.Action("Plans", "Rate")" title="PLANS"><span>PLANS</span></a>
							<ul>
								<li>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="21">
												<img src="@Url.Content("~/images_new/drop_top_left_bg.jpg")" width="30" height="30" /></td>
											<td style="background: url(/images_new/drop_top_mid_bg.jpg) repeat-x;"></td>
											<td width="21">
												<img src="@Url.Content("~/images_new/drop_top_right_bg.jpg")" width="30" height="30" /></td>
										</tr>
										<tr>
											<td style="background: url(/images_new/drop_left_bg.jpg) repeat-y;"></td>
											<td style="background: #fff;">
												<div class="whyraza_dropdown">
													<ul>
														<li><span class="global_call"></span><a href="@Url.Action("Plans", "rate")#newtabs-1" class="tooltip">Global Call</a></li>
																	
														<li><span class="mobile_direct"></span><a href="@Url.Action("Plans", "rate")#newtabs-2" class="tooltip">Mobile Direct</a></li>
																	
														<li><span class="landline"></span><a href="@Url.Action("Plans", "rate")#newtabs-3" class="tooltip">Landline Special</a></li>
		
													</ul>
													<ul>
														<li><span class="why_icon"></span><a href="@Url.Action("Plans", "rate")#newtabs-4">Compare Plan</a></li>
														<li><span class="howit_icon"></span><a href="@Url.Action("Plans", "rate")#newtabs-5">HOW IT WORKS</a></li>
													</ul>
												</div>
											</td>
											<td style="background: url(/images_new/drop_right_bg.jpg) repeat-y;"></td>
										</tr>
										<tr>
											<td width="21">
												<img src="@Url.Content("~/images_new/drop_bot_left_bg.png")" width="30" height="30" /></td>
											<td>
												<table width="100%" cellpadding="0" cellspacing="0" border="0">
													<tr>
														<td width="94">
															<img src="@Url.Content("~/images_new/drop_botsahde_bg_l.jpg")" width="96" height="30" /></td>
														<td style="background: url(/images_new/drop_bot_mid_bg.jpg) repeat-x;" width="100%"></td>
														<td width="94">
															<img src="@Url.Content("~/images_new/drop_botsahde_bg_r.jpg")" width="96" height="30" /></td>
													</tr>
												</table>
											</td>
											<td width="21">
												<img src="@Url.Content("~/images_new/drop_bot_right_bg.png")" width="30" height="30" /></td>
										</tr>
									</table>
								</li>
							</ul>
						</li>
		
							<ul>
								<li>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="21">
												<img src="@Url.Content("~/images_new/drop_top_left_bg.jpg")" width="30" height="30" /></td>
											<td style="background: url(/images_new/drop_top_mid_bg.jpg) repeat-x;"></td>
											<td width="21">
												<img src="@Url.Content("~/images_new/drop_top_right_bg.jpg")" width="30" height="30" /></td>
										</tr>
										<tr>
											<td style="background: url(/images_new/drop_left_bg.jpg) repeat-y;"></td>
											<td style="background: #fff;">
												<div class="whyraza_dropdown">
												
												<ul>
									<li><span class="global_call"></span><a href="plan.html#newtabs-1" class="">Global Call</a></li>
									<li><span class="mobile_direct"></span><a href="plan.html#newtabs-2" class="">Mobile Direct</a></li>
									<li><span class="landline"></span><a href="plan.html#newtabs-3" class="">Landline Special</a></li>
								  </ul> 
								  
													<ul>
														<li><span class="why_icon"></span><a href="@Url.Action("index", "whyraza")#tabs-3">ABOUT US</a></li>
														<li><span class="howit_icon"></span><a href="@Url.Action("index", "whyraza")#tabs-2">HOW IT WORKS</a></li>
													</ul>
													
												 
												</div>
											</td>
											<td style="background: url(/images_new/drop_right_bg.jpg) repeat-y;"></td>
										</tr>
										<tr>
											<td width="21">
												<img src="@Url.Content("~/images_new/drop_bot_left_bg.png")" width="30" height="30" /></td>
											<td>
												<table width="100%" cellpadding="0" cellspacing="0" border="0">
													<tr>
														<td width="94">
															<img src="@Url.Content("~/images_new/drop_botsahde_bg_l.jpg")" width="96" height="30" /></td>
														<td style="background: url(/images_new/drop_bot_mid_bg.jpg) repeat-x;" width="100%"></td>
														<td width="94">
															<img src="@Url.Content("~/images_new/drop_botsahde_bg_r.jpg")" width="96" height="30" /></td>
													</tr>
												</table>
											</td>
											<td width="21">
												<img src="@Url.Content("~/images_new/drop_bot_right_bg.png")" width="30" height="30" /></td>
										</tr>
									</table>
								</li>
							</ul>
						   </li>
						   
							<li class="ico4"><a href="@Url.Action("index", "Features")" title="Features"><span>Features</span></a>
							<ul>
								<li>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="21">
												<img src="@Url.Content("~/images_new/drop_top_left_bg.jpg")" width="30" height="30" /></td>
											<td style="background: url(/images_new/drop_top_mid_bg.jpg) repeat-x;"></td>
											<td width="21">
												<img src="@Url.Content("~/images_new/drop_top_right_bg.jpg")" width="30" height="30" /></td>
										</tr>
										<tr>
											<td style="background: url(/images_new/drop_left_bg.jpg) repeat-y;"></td>
											<td style="background: #fff;">
												<div class="features_dropdown">
													<ul>
														<li><span class="onetouch"></span><a href="@Url.Action("index", "Features")#tabs-2" class="tooltip">ONE
																														 TOUCH DIALING</a></li>
														<li><span class="pinless"></span><a href="@Url.Action("index", "Features")#tabs-3 " class="tooltip">PIN-LESS
																														SETUP</a></li>
														<li><span class="calldetails"></span><a href="@Url.Action("index", "Features")#tabs-4" class="tooltip">CALL
																															DETAILS</a></li>
														<li><span class="quickey"></span><a href="@Url.Action("index", "Features")#tabs-5"  class="tooltip">QUICKEYS</a>
														</li>
													</ul>
													<ul>
														<li><span class="autorefill"></span><a href="@Url.Action("index", "Features")#tabs-6" class="tooltip">AUTO-REFILL</a></li>
														<li><span class="razarewards"></span><a href="@Url.Action("index", "Features")#tabs-7" class="tooltip">RAZA
																															REWARDS</a></li>
														<li><span class="callforwarding"></span><a href="@Url.Action("index", "Features")#tabs-8" class="tooltip">CALL
																															   FORWARDING</li>
														@*<li><span class="globalcall"></span><a href="@Url.Action("index", "Features")#tabs-9" class="tooltip">GLOBAL
																														   CALL</a></li>*@
													</ul>
												</div>
											</td>
											<td style="background: url(/images_new/drop_right_bg.jpg) repeat-y;"></td>
										</tr>
										<tr>
											<td width="21">
												<img src="@Url.Content("~/images_new/drop_bot_left_bg.png")" width="30" height="30" /></td>
											<td>
												<table width="100%" cellpadding="0" cellspacing="0" border="0">
													<tr>
														<td width="94">
															<img src="@Url.Content("~/images_new/drop_botsahde_bg_l.jpg")" width="96" height="30" /></td>
														<td style="background: url(/images_new/drop_bot_mid_bg.jpg) repeat-x;" width="100%"></td>
														<td width="94">
															<img src="@Url.Content("~/images_new/drop_botsahde_bg_r.jpg")" width="96" height="30" /></td>
													</tr>
												</table>
											</td>
											<td width="21">
												<img src="@Url.Content("~/images_new/drop_bot_right_bg.png")" width="30" height="30" /></td>
										</tr>
									</table>
								</li>
							</ul>
					   </li>
					   
						<li class="ico6"><a href="@Url.Action("Myaccount", "account")"  title="Recharge"><span>Recharge</span></a></li>
		
					   
						 <li class="ico7 "><a href="@Url.Action("index", "support")"  title="Support" class="line-bg"><span>Support</span></a>
							<ul class="right_spacing">
								<li>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="21">
												<img src="@Url.Content("~/images_new/drop_top_left_bg.jpg")" width="30" height="30" /></td>
											<td style="background: url(/images_new/drop_top_mid_bg.jpg) repeat-x;"></td>
											<td width="21">
												<img src="@Url.Content("~/images_new/drop_top_right_bg.jpg")" width="30" height="30" /></td>
										</tr>
										<tr>
											<td style="background: url(/images_new/drop_left_bg.jpg) repeat-y;"></td>
											<td style="background: #fff;">
												<div class="support_dropdown">
													<ul>
														<li><span class="contact_icon"></span><a href="@Url.Action("index", "support")#tabs-1">CONTACT
																															 US</a></li>
														<li><span class="faq_icon"></span><a href="@Url.Action("index", "support")#tabs-2">FAQ</a></li>
														<li><span class="terms_icon"></span><a href="@Url.Action("index", "support")#tabs-3">TERMS</a></li>
														<li><span class="privacypolicy_icon"></span><a href="@Url.Action("index", "support")#tabs-4">PRIVACY
																																   POLICY</a></li>
														<li><span class="billing-payment"></span><a href="@Url.Action("index", "support")#tabs-10">BILLING  &amp; PAYMENT </a></li>
														<li><span class="connection"></span><a href="@Url.Action("index", "support")#tabs-12">CONNECTION</a></li>
													</ul>
													<ul>
														@if (User.Identity.IsAuthenticated)
														{
															<li><span class="localaddress"></span><a href="@Url.Action("index", "support")#tabs-5">LOCAL
																															 ACCESS NUMBERS</a></li>
														}
														else
														{
															<li><span class="localaddress"></span><a href="/Account/LogOn?returnUrl=Support_tabs-5">LOCAL
																															 ACCESS NUMBERS</a></li> 
														}
														@* <li><span class="citiescodes"></span><a href="@Url.Action("index","support")#tabs-6">COUNTRY
																															/ CITY CODES</a></li>*@
														<li><span class="complaints"></span><a href="@Url.Action("index", "support")#tabs-7">OPEN
																														   COMPLAINT</a></li>
														<li><span class="guarantee"></span><a href="@Url.Action("index", "support")#tabs-8">OUR
																														  GUARANTEE </a></li>
														<li><span class="account-management"></span><a href="@Url.Action("index", "support")#tabs-11">ONLINE
																																   ACCOUNT MNGT. </a></li>
														<li><span class="support_securtiy"></span><a href="@Url.Action("index", "support")#tabs-13">SECURITY</a></li>
													</ul>
												</div>
											</td>
											<td style="background: url(/images_new/drop_right_bg.jpg) repeat-y;"></td>
										</tr>
										<tr>
											<td width="21">
												<img src="@Url.Content("~/images_new/drop_bot_left_bg.png")" width="30" height="30" /></td>
											<td>
												<table width="100%" cellpadding="0" cellspacing="0" border="0">
													<tr>
														<td width="94">
															<img src="@Url.Content("~/images_new/drop_botsahde_bg_l.jpg")" width="96" height="30" /></td>
														<td style="background: url(/images_new/drop_bot_mid_bg.jpg) repeat-x;" width="100%"></td>
														<td width="94">
															<img src="@Url.Content("~/images_new/drop_botsahde_bg_r.jpg")" width="96" height="30" /></td>
													</tr>
												</table>
											</td>
											<td width="21">
												<img src="@Url.Content("~/images_new/drop_bot_right_bg.png")" width="30" height="30" /></td>
										</tr>
									</table>
								</li>
							</ul>
						</li>
						
						<li class="ico5"><a href="@Url.Action("Myaccount", "account")" title="My Account"><span>login</span></a>
							<ul class="right_spacing-first">
								<li>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="19">
												<img src="@Url.Content("~/images_new/drop_top_left_bg.jpg")" width="30" height="30" /></td>
											<td style="background: url(/images_new/drop_top_mid_bg.jpg) repeat-x;"></td>
											<td width="19">
												<img src="@Url.Content("~/images_new/drop_top_right_bg.jpg")" width="30" height="30" /></td>
										</tr>
										<tr>
											<td style="background: url(/images_new/drop_left_bg.jpg) repeat-y;"></td>
											<td style="background: #fff;">
												<div class="dropdown_account1">
		
													<div class="details1">
														<h3>Please Sign in to access your account</h3>
														<ul>
															<li><span class="editprofile"></span><a href="@Url.Action("BillingInfo", "Account")">EDIT PROFILE</a></li>
															<li><span class="onetouch"></span><a href="@Url.Action("Myaccount", "account")">ONE TOUCH DIALING</a></li>
															<li><span class="calldetails"></span><a href="@Url.Action("Myaccount", "account")">VIEW CALL DETAILS</a></li>
															<li><span class="autorefill"></span><a href="@Url.Action("Myaccount", "account")">AUTO-REFILL</a></li>
															<li><span class="recharge"></span><a href="@Url.Action("Myaccount", "account")">RECHARGE</a></li>
														</ul>
														<ul>
															<li><span class="pinless"></span><a href="@Url.Action("Myaccount", "account")">PIN-LESS SET UP</a></li>
															<li><span class="quickey"></span><a href="@Url.Action("Myaccount", "account")">QUICK KEYS</a></li>
															<li><span class="razarewards"></span><a href="@Url.Action("Myaccount", "account")">REWARDS POINT</a></li>
															<li><span class="razamailbox"></span><a href="@Url.Action("Myaccount", "account")">CALL FORWARDING</a></li>
															<li><span class="referralpoint"></span><a href="@Url.Action("Myaccount", "account")">REFERRAL POINTS</a></li>
														</ul>
													</div>
												</div>
											</td>
											<td style="background: url(/images_new/drop_right_bg.jpg) repeat-y;"></td>
										</tr>
										<tr>
											<td width="21">
												<img src="@Url.Content("~/images_new/drop_bot_left_bg.png")" width="30" height="30" /></td>
											<td>
												<table width="100%" cellpadding="0" cellspacing="0" border="0">
													<tr>
														<td width="94">
															<img src="@Url.Content("~/images_new/drop_botsahde_bg_l.jpg")" width="96" height="30" /></td>
														<td style="background: url(/images_new/drop_bot_mid_bg.jpg) repeat-x;" width="100%"></td>
														<td width="94">
															<img src="@Url.Content("~/images_new/drop_botsahde_bg_r.jpg")" width="96" height="30" /></td>
													</tr>
												</table>
											</td>
											<td width="21">
												<img src="@Url.Content("~/images_new/drop_bot_right_bg.png")" width="30" height="30" /></td>
										</tr>
									</table>
								</li>
							</ul>
						</li>
						<li><span class="number"><i class="fa fa-volume-control-phone" aria-hidden="true"></i> 1-(877) 463-4233</span> </li>
					   
					   
					</ul>
				</div><!--navigation-->
				   <div class="header_right"> 
				  <ul>
					<li><a href="#"> <i class="fa fa-user-plus" aria-hidden="true"></i>sign up</a></li>
				  </ul>
				  </div><!--header_right-->
				
		</div><!--header-->
       </div><!--wrapper-->
    </div><!--main_container-->
</div><!--header-mainbg-->
	
</div><!--topmain-allsecdiv-->

<!--header end-->

