@model MvcApplication1.Areas.Mobile.ViewModels.DomesticTopupViewModel
@{
    ViewBag.Title = "Domestic";
}

<div class="container-fluid">
    <div class="container demo">
        <h1 class=" title_login">Domestic Top-Up</h1>

        @using (@Html.BeginForm())
        {
            <div class="row">
                <div class="col-xs-12 form_mar">
                    @Html.DropDownListFor(a => a.CarrierName, new SelectList(Model.CarrierList, "OperatorName", "OperatorName"), "Select Carrier", new { @class = "form-control " })
                    @Html.ValidationMessageFor(a => a.CarrierName)
                </div>
                <div class="col-xs-12 form_mar">
                    <div class="input-group">
                        <span class="input-group-addon ">$</span>
                        @Html.DropDownListFor(a => a.SourceAmount, new SelectList(Model.DenominationList, "SourceAmount", "SourceAmount"), "Select Amount", new { @class = "form-control " })
                    </div>
                    @Html.ValidationMessageFor(a => a.SourceAmount)
                </div>
                <div class="form-group">
                    <div class="col-xs-12 form_mar">
                        <div class="input-group">
                            <span class="input-group-addon ">+1</span>
                            @Html.TextBoxFor(a => a.MobileNumber, new { @class = "form-control data-numeric", placeholder = "U.S.A Phone Number(Receiver)", type = "tel", maxlength = "10" })
                        </div>
                        @Html.ValidationMessageFor(a => a.MobileNumber)
                    </div>
                </div>
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block form_mar btn_bgreen">Submit</button>
                    <button type="button" class="btn btn-primary btn-block form_mar btn_bgray ">Cancel</button>
                </div>

            </div>
        }
    </div>
</div>



@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#CarrierName").change(function () {

            if (this.value == undefined)
                return;

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMobileOperatorInfoforDomestic", "TopUpMobile")',
                data: {
                    operatorName: this.value
                },
                success: function (res) {
                    var html = '<option value="">Select Amount</option>';
                    $.each(res, function () {
                        var opt = '<option value="' + this.SourceAmount + '">' + this.SourceAmount + '</option>';
                        html = html + opt;
                    });
                    $("#SourceAmount").html(html);
                }
            });
        });


    </script>
}