@model MvcApplication1.Models.GenericModel
@{
    ViewBag.Title = "IndiaUnlimited";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>

<link href="@Url.Content("~/css/retail_agent.css")" rel="stylesheet" />

<div id="rate-bind-search">

    <div id="inner_body_container">

        <div id="banner-india">
            <img src="@Url.Content("~/images/rate-save-big-banner.jpg")" alt="" />
        </div>
        
        <div id="rate-main">
            
            <!-- Begin Mobile Modules -->
            <div class="gradientBG" id="gradientBG" style="display: block">
                <div class="whiteBG">

                    <div id="IpadOS" class="pane" style="display: block">
                        <div class="mobile-pane-left center">

                            <div id="ind-plan">

                                <ul class="accordion ">
                                    <li class="rate_head_new" style="width: 97%!important;">
                                       
                                        <ul style="display: block;">
                                            <li class="last-child">
                                                <div class="unlimited_div" style="margin-left:-20px;">
                                                    @*<img src="@Url.Content("~/images/indiaunlimited/rate_additional_second.png")" alt="" align="right">*@
                                                    @*<img src="@Url.Content("~/images/indiaunlimited/rate_additional_second_newyear.jpg")" alt="" align="right">*@
                                                    <img src="@Url.Content("~/images/indiaunlimited/rate_additional_second_holi.png")" alt="" align="right">
                                                    <h3 class="unlimited_plans">India Unlimited Plans</h3>
                                                    <p class="plans_pare">
                                                        Choose from three incredible plans
                                                    </p>
                                                </div>
                                                <div class="tabel_div">
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="25%"></td>
                                                                <td class="marge-images" colspan="3"></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="25%"></td>
                                                                <td width="25%" height="40" bgcolor="#333333" align="center" class="plan_series">Mobile Unlimited
                                                                </td>
                                                                <td width="25%" height="40" bgcolor="#333333" align="center" class="plan_series">India Unlimited
                                                                </td>
                                                                <td width="25%" height="40" bgcolor="#333333" align="center" class="plan_series">India Unlimited Plus
                                                                </td>
                                                            </tr>
                                                            <tr align="center" height="60">
                                                                <td width="25%" height="45" align="left" class="call_icon">
                                                                    <img src="@Url.Content("~/images/call_any_icon.png")" alt="" style="margin:0px 25px 0px 5px;">Call
                                                                    Any
                                                                </td>
                                                                <td width="25%" height="45" class="call_icon">
                                                                    <img src="@Url.Content("~/images/movile_img.png")" alt="">
                                                                </td>
                                                                <td width="25%" height="45" class="call_icon">
                                                                    <img src="@Url.Content("~/images/landline_img.png")" alt=""><img src="@Url.Content("~/images/movile_img.png")" alt="" style="margin:4px 20px 0px 5px;">
                                                                </td>
                                                                <td width="25%" height="45" class="call_icon td_right">
                                                                    <img src="@Url.Content("~/images/landline_img.png")" alt=""><img src="@Url.Content("~/images/movile_img.png")" alt="" style="margin:0px 20px 0px 5px;">
                                                                </td>
                                                            </tr>
                                                            <tr align="center" height="50">
                                                                <td width="25%" height="45" align="center" class="call_icon">
                                                                    <span style="width: 30px; float: left; margin: 2px -24px 0px 2px;">
                                                                        <img src="@Url.Content("~/images/crystal.png")" alt="" style="margin:0px 20px 0px 0px;" /></span>&nbsp;&nbsp;&nbsp;Crystal
                                                                    Clear Connections
                                                                </td>
                                                                <td width="25%" height="45" class="call_icon" align="center">
                                                                    <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                                </td>
                                                                <td width="25%" height="45" class="call_icon" align="center">
                                                                    <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                                </td>
                                                                <td width="25%" height="45" class="call_icon td_right" align="center">
                                                                    <img src="@Url.Content("~/images/green_right.png")" alt="" style="margin:0px 20px 0px 15px;">
                                                                </td>
                                                            </tr>
                                                            <tr align="center" height="50">
                                                                <td width="25%" height="45" align="center" class="call_icon">
                                                                    <span style="width: 30px; float: left; margin: 1px -6px 0px 4px;">
                                                                        <img src="@Url.Content("~/images/one_touch.png")" alt="" style="margin:0px 20px 0px 5px; float:left;"></span>One
                                                                    Touch Dial
                                                                </td>
                                                                <td width="25%" height="45" class="call_icon" align="center">
                                                                    <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                                </td>
                                                                <td width="25%" height="45" class="call_icon" align="center">
                                                                    <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                                </td>
                                                                <td width="25%" height="45" class="call_icon td_right" align="center">
                                                                    <img src="@Url.Content("~/images/green_right.png")" alt="" style="margin:0px 20px 0px 15px;">
                                                                </td>
                                                            </tr>
                                                            <tr align="center" height="50">
                                                                <td width="25%" height="40" align="center" class="call_icon">
                                                                    <span style="width: 30px; float: left; margin: -1px -21px 0px 8px;">
                                                                        <img src="@Url.Content("~/images/service_tax.png")" alt="" style="margin:0px 20px 0px 0px;"></span>Service
                                                                    Fees
                                                                </td>
                                                                <td width="25%" height="40" class="call_icon" align="center">$3.99
                                                                </td>
                                                                <td width="25%" height="40" class="call_icon" align="center">$7.99
                                                                </td>
                                                                <td width="25%" height="40" class="call_icon td_right" align="center">$7.99
                                                                </td>
                                                            </tr>
                                                            <tr align="center" height="50">
                                                                <td width="25%" height="40" align="center" class="call_icon">
                                                                    <span style="width: 30px; float: left; margin: -1px -16px 0px 7px;">
                                                                        <img src="@Url.Content("~/images/dialypic.png")" alt="" style="margin:0px 20px 0px 0px;"></span>No
                                                                    Daily Limit
                                                                </td>
                                                                <td width="25%" height="40" class="call_icon" align="center">
                                                                    <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                                </td>
                                                                <td width="25%" height="40" class="call_icon" align="center">
                                                                    <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                                </td>
                                                                <td width="25%" height="40" class="call_icon td_right" align="center">
                                                                    <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                                </td>
                                                            </tr>
                                                            <tr align="center" height="50">
                                                                <td width="25%" height="40" align="center" class="call_icon">
                                                                    <span style="width: 30px; float: left; margin: -2px -27px 0px 8px;">
                                                                        <img src="@Url.Content("~/images/contract.png")" alt="" style="margin:0px 20px 0px 0px;"></span>No
                                                                    Contract
                                                                </td>
                                                                <td width="25%" height="40" class="call_icon" align="center">
                                                                    <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                                </td>
                                                                <td width="25%" height="40" class="call_icon" align="center">
                                                                    <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                                </td>
                                                                <td width="25%" height="40" class="call_icon td_right" align="center">
                                                                    <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                                </td>
                                                            </tr>
                                                            <tr align="center" height="50">
                                                                <td width="25%" height="40" align="center" class="call_icon">
                                                                    <span style="width: 30px; float: left; margin: -2px -31px 0px 10px;">
                                                                        <img src="@Url.Content("~/images/internet.png")" alt="" style="margin:0px 20px 0px 0px;"></span>No
                                                                    Internet
                                                                </td>
                                                                <td width="25%" height="40" class="call_icon" align="center">
                                                                    <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                                </td>
                                                                <td width="25%" height="40" class="call_icon" align="center">
                                                                    <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                                </td>
                                                                <td width="25%" height="40" class="call_icon td_right" align="center">
                                                                    <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                                </td>
                                                            </tr>
                                                            <tr align="center" height="55">
                                                                <td width="25%" height="40" align="center" class="call_icon">
                                                                    <span style="width: 30px; float: left; margin: -2px -15px 0px 6px;">
                                                                        <img src="@Url.Content("~/images/total_charges.png")" alt="" style="margin:0px 20px 0px 0px;"></span>Total
                                                                    Minutes
                                                                </td>
                                                                <td width="25%" height="40" class="call_icon" align="center">1300 Min.
                                                                    <img src="@Url.Content("~/images/thirty_five.png")" alt="" style="margin:6px 0 0 0;">
                                                                </td>
                                                                <td width="25%" height="40" class="call_icon" align="center">2000 Min.<img src="@Url.Content("~/images/twenty.png")" alt="" style="margin:6px 0 0 0;">
                                                                </td>
                                                                <td width="25%" height="40" class="call_icon td_right" align="center">2800 Min.
                                                                    <img src="@Url.Content("~/images/fifteen.png")" alt="" style="margin:6px 0 0 0;">
                                                                </td>
                                                            </tr>
                                                            <tr align="center" height="75">
                                                                <td width="25%" height="40" align="center" class="call_icon"></td>
                                                                <td width="25%" height="40" class="call_icon" align="center">
                                                                    <form method="POST" name="IUform1" action="@Url.Action("BuyAdditionalPlans", "Rate")">
                                                                        <input type="hidden" value="IU9.99" name="PlanId" />
                                                                        <input type="hidden" class="add_countryfrom" name="CountryFrom" />
                                                                        <input type="hidden" class="add_countryto" name="CountryTo" />
                                                                        <a style="cursor: pointer;" onclick="document.IUform1.submit();">
                                                                            <img src="@Url.Content("~/images/buy_btn.png")" alt="" style="margin:4px 0 0 0;"></a>
                                                                    </form>
                                                                </td>
                                                                <td width="25%" height="40" class="call_icon" align="center">
                                                                    <form method="POST" name="IUform2" action="@Url.Action("BuyAdditionalPlans", "Rate")">
                                                                        <input type="hidden" value="IU14.99" name="PlanId" />
                                                                        <input type="hidden" class="add_countryfrom" name="CountryFrom" />
                                                                        <input type="hidden" class="add_countryto" name="CountryTo" />

                                                                        <a style="cursor: pointer;" onclick="document.IUform2.submit();">
                                                                            <img src="@Url.Content("~/images/buy_btn.png")" alt="" style="margin:4px 0 0 0;"></a>
                                                                    </form>
                                                                </td>
                                                                <td width="25%" height="40" class="call_icon td_right" align="center">
                                                                    <form method="POST" name="IUform3" action="@Url.Action("BuyAdditionalPlans", "Rate")">
                                                                        <input type="hidden" value="IU19.99" name="PlanId" />
                                                                        <input type="hidden" class="add_countryfrom" name="CountryFrom" />
                                                                        <input type="hidden" class="add_countryto" name="CountryTo" />

                                                                        <a style="cursor: pointer;" onclick="document.IUform3.submit();">
                                                                            <img src="@Url.Content("~/images/buy_btn.png")" alt="" style="margin:4px 0 0 0;"></a>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                            <tr align="center" height="75">
                                                                <td width="25%" height="40" align="center" style="font-size: 14px; padding: 0px 15px 0px 0px; font-weight: bold; border-right: 1px solid #ddd;">Plan Details
                                                                </td>
                                                                <td colspan="3" style="border-right: 1px solid #ddd;" class="td_right">
                                                                    <p style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-align: justify; padding: 0px 28px;">
                                                                        This monthly plan will be automatically recharged once in 30 days as per your billing
                                                                        cycle, no roll over minutes to next month. Calls can be made to other countries
                                                                        besides India however the rates will vary. The plan does not qualify for the features
                                                                        like Auto-Refill bonus or Reward points. Only one phone number can be registered
                                                                        in the pin-less setup and it can be switched once in 6 months. Toll free number
                                                                        users will be charged 2 c/min additional.
                                                                    </p>
                                                                    <p style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; padding: 0px 29px; color: #999999; text-align: justify; margin: 12px 0 0 0;">
                                                                        Raza.com reserves the rights to withdraw or alter MOBILE UNLIMITED $9.99 / UNLIMITED
                                                                        $14.99 / UNLIMITED $19.99 PLAN at any time without prior notice
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr align="center">
                                                                <td width="25%"></td>
                                                                <td colspan="3">
                                                                    <img src="@Url.Content("~/images/tabel_bottom.png")" alt="" style="margin:0px 0px 0px -1px; width:604px;">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </li>
                                        </ul>

                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br style="clear: both;" />
                    </div>

                    <br style="clear: both;" />
                </div>

            </div>
        </div>
    </div>
    <!-- end tabs -->
    <!-- Footer Section -->
</div>

<!--Body Container End-->
<!--Body Container End-->
<div class="spacer">
</div>
<div class="clear">
</div>










