  <ul id="acc12" class="accordion ">
                                    <li class="rate_head_new" style="width: 97%!important;"><a href="#" class="fl trigger open" style="display: block;">India 1 cent Plans ( 1000 Mins. )  </a>
                                        
       <a href="@Url.Action("Searchrate","rate")" style="float:right; background:none!important; font-style:italic; font-size:15px;">Starting as low as<span style="font-style: normal;
font-size: 20px!important;
margin: 0 0 0 8px;">$10</span></a>
                                      <ul style="display: block;">
                                            <div class="unlimited_div_1">
                                                <img src="@Url.Content("~/images/plans_man.png")" alt="" align="right">
                                                <h3 class="unlimited_plans">
                                                    CALL INDIA 1¢only</h3>
                                                <p class="plans_pare">
                                                    Choose from three incredible plans</p>
                                            </div>
                                            <div class="tabel_div">
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td width="25%">
                                                            </td>
                                                            <td class="merge_plan_new" colspan="3">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="25%">
                                                            </td>
                                                            <td width="25%" height="40" bgcolor="#333333" align="center" class="plan_series">
                                                                Land Line &amp; Cell Phones
                                                            </td>
                                                            <td width="25%" height="40" bgcolor="#333333" align="center" class="plan_series">
                                                                Talk Mobile
                                                            </td>
                                                            <td width="25%" height="40" bgcolor="#333333" align="center" class="plan_series">
                                                                Talk Major Cities
                                                            </td>
                                                        </tr>
                                                        <tr align="center" height="60">
                                                            <td width="25%" height="45" align="left" class="call_icon">
                                                                <img src="@Url.Content("~/images/call_any_icon.png")" alt="" style="margin:0px 17px 0px 11px;">Call
                                                                Any
                                                            </td>
                                                            <td width="25%" height="45" class="call_icon right_border">
                                                               <img src="@Url.Content("~/images/landline_img.png")" alt=""> <img src="@Url.Content("~/images/movile_img.png")" alt="">
                                                            </td>
                                                            <td width="25%" height="45" class="td_middle">
                                                                <img src="@Url.Content("~/images/movile_img.png")" alt="" style="margin:4px 20px 0px 5px;">
                                                            </td>
                                                            <td width="25%" height="45" class="call_icon td_right">
                                                                <img src="@Url.Content("~/images/landline_img.png")" alt="">
                                                            </td>
                                                        </tr>
                                                        <tr align="center" height="50">
                                                            <td width="25%" height="45" align="center" class="call_icon">
                                                                <span style="width: 52px; float: left; margin: 2px -24px 0px 2px;">
                                                                    <img src="@Url.Content("~/images/crystal.png")" alt="" style="margin:0px 20px 0px 6px;"></span>Crystal
                                                                Clear Connections
                                                            </td>
                                                            <td width="25%" height="45" class="call_icon right_border" align="center">
                                                                <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                            </td>
                                                            <td width="25%" height="45" class="td_middle" align="center">
                                                                <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                            </td>
                                                            <td width="25%" height="45" class="call_icon td_right" align="center">
                                                                <img src="@Url.Content("~/images/green_right.png")" alt="" style="margin:0px 20px 0px 15px;">
                                                            </td>
                                                        </tr>
                                                        <tr align="center" height="50">
                                                            <td width="25%" height="45" align="center" class="call_icon">
                                                                <span style="width: 52px; float: left; margin: 1px -6px 0px 4px;">
                                                                    <img src="@Url.Content("~/images/one_touch.png")" alt="" style="margin:0px 20px 0px 12px; float:left;"></span>One
                                                                Touch Dial
                                                            </td>
                                                            <td width="25%" height="45" class="call_icon right_border" align="center">
                                                                <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                            </td>
                                                            <td width="25%" height="45" class="td_middle" align="center">
                                                                <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                            </td>
                                                            <td width="25%" height="45" class="call_icon td_right" align="center">
                                                                <img src="@Url.Content("~/images/green_right.png")" alt="" style="margin:0px 20px 0px 15px;">
                                                            </td>
                                                        </tr>
                                                        <tr align="center" height="50">
                                                            <td width="25%" height="40" align="center" class="call_icon">
                                                                <span style="width: 52px; float: left; margin: -1px -27px 0px 8px;">
                                                                    <img src="@Url.Content("~/images/service_tax.png")" alt="" style="margin:0px 20px 0px 0px;"></span>Service
                                                                Fees
                                                            </td>
                                                            <td width="25%" height="40" class="call_icon right_border" align="center">
                                                                $4.99
                                                            </td>
                                                            <td width="25%" height="40" class="td_middle" align="center">
                                                                $2.99
                                                            </td>
                                                            <td width="25%" height="40" class="call_icon td_right" align="center">
                                                                $2.99
                                                            </td>
                                                        </tr>
                                                        <tr align="center" height="50">
                                                            <td width="25%" height="40" align="center" class="call_icon">
                                                                <span style="width: 52px; float: left; margin: -1px -43px 0px 8px;">
                                                                    <img src="@Url.Content("~/images/auto-refil-icon.png")" alt="" style="margin:0px 20px 0px 0px;"></span>Auto
                                                                Refill
                                                            </td>
                                                            <td width="25%" height="40" class="call_icon right_border" align="center">
                                                             <img src="@Url.Content("~/images/green_right.png")" alt="" style="margin:0px 20px 0px 15px;">
                                                            </td>
                                                            <td width="25%" height="40" class="td_middle" align="center">
                                                            <img src="@Url.Content("~/images/green_right.png")" alt="" style="margin:0px 20px 0px 15px;">
                                                            </td>
                                                            <td width="25%" height="40" class="call_icon td_right" align="center">
                                                               <img src="@Url.Content("~/images/green_right.png")" alt="" style="margin:0px 20px 0px 15px;">
                                                            </td>
                                                        </tr>
                                                        <tr align="center" height="50">
                                                            <td width="25%" height="40" align="center" class="call_icon">
                                                                <span style="width: 52px; float: left; margin: -1px -16px 0px 7px;">
                                                                    <img src="@Url.Content("~/images/dialypic.png")" alt="" style="margin:0px 20px 0px 0px;"></span>No
                                                                Daily Limit
                                                            </td>
                                                            <td width="25%" height="40" class="call_icon right_border" align="center">
                                                                <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                            </td>
                                                            <td width="25%" height="40" class="td_middle" align="center">
                                                                <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                            </td>
                                                            <td width="25%" height="40" class="call_icon td_right" align="center">
                                                                <img src="@Url.Content("~/images/green_right.png")" alt="" />
                                                            </td>
                                                        </tr>
                                                        <tr align="center" height="50">
                                                            <td width="25%" height="40" align="center" class="call_icon">
                                                                <span style="width: 52px; float: left; margin: -2px -27px 0px 8px;">
                                                                    <img src="@Url.Content("~/images/contract.png")" alt="" style="margin:0px 20px 0px 0px;"></span>No
                                                                Contract
                                                            </td>
                                                            <td width="25%" height="40" class="call_icon right_border" align="center">
                                                                <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                            </td>
                                                            <td width="25%" height="40" class="td_middle" align="center">
                                                                <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                            </td>
                                                            <td width="25%" height="40" class="call_icon td_right" align="center">
                                                                <img src="@Url.Content("~/images/green_right.png")" alt="">
                                                            </td>
                                                        </tr>
                                                        <tr align="center" height="50">
                                                            <td width="25%" height="40" align="center" class="call_icon">
                                                                <span style="width: 52px; float: left; margin: -2px -38px 0px 8px;">
                                                                    <img src="@Url.Content("~/images/contract.png")" alt="" style="margin:0px 20px 0px 0px;"></span>Expiration
                                                            </td>
                                                            <td width="25%" height="40" class="call_icon right_border" align="center">
                                                                <p>
                                                                    No <strong>Expiration</strong> Date</p>
                                                            </td>
                                                            <td width="25%" height="40" class="td_middle" align="center">
                                                                <p>
                                                                    No <strong>Expirattion</strong> Date</p>
                                                            </td>
                                                            <td width="25%" height="40" class="call_icon td_right" align="center">
                                                                <p>
                                                                    No <strong>Expiration</strong> Date</p>
                                                            </td>
                                                        </tr>
                                                        <tr align="center" height="50">
                                                            <td width="25%" height="40" align="center" class="call_icon">
                                                                <span style="width: 52px; float: left; margin: -2px -14px 0px 8px;">
                                                                    <img src="@Url.Content("~/images/pin-icon.png")" alt="" style="margin:0px 20px 0px 0px;"></span>Pinless
                                                                Setup
                                                            </td>
                                                            <td width="25%" height="40" class="call_icon right_border" align="center">
                                                                Register <strong>5</strong> Diiferent #
                                                            </td>
                                                            <td width="25%" height="40" class="td_middle" align="center">
                                                                Register <strong>5</strong> Different #
                                                            </td>
                                                            <td width="25%" height="40" class="call_icon td_right" align="center">
                                                                Register <strong>5</strong> Different #
                                                            </td>
                                                        </tr>
                                                        <tr align="center" height="50">
                                                            <td width="25%" height="40" align="center" class="call_icon">
                                                                <span style="width: 52px; float: left; margin: -2px -31px 0px 10px;">
                                                                    <img src="@Url.Content("~/images/total_charges.png")" alt="" style="margin:0px 20px 0px 0px;"></span>
                                                                Total Charged
                                                            </td>
                                                            <td width="25%" height="40" class="call_icon right_border" align="center">
                                                                $19.99
                                                            </td>
                                                            <td width="25%" height="40" class="td_middle" align="center">
                                                                $12.99
                                                            </td>
                                                            <td width="25%" height="40" class="call_icon td_right" align="center">
                                                                $12.99
                                                            </td>
                                                        </tr>
                                                        <tr align="center" height="55">
                                                            <td width="25%" height="40" align="center" class="call_icon">
                                                                <span style="width: 52px; float: left; margin: -2px -9px 0px 6px;">
                                                                    <img src="@Url.Content("~/images/total_minutes_icon.png")" alt="" style="margin:0px 20px 0px 0px;" /></span>Total
                                                                Minutes
                                                            </td>
                                                            <td width="25%" height="40" class="call_icon right_border" align="center">
                                                                1500Min.
                                                                <img src="@Url.Content("~/images/fifteen.png")" alt="" style="margin:6px 0 0 0;">
                                                            </td>
                                                            
                                                                @if(Request.QueryString["countryfrom"] == "1")
                                                                {
                                                                    <td width="25%" height="40" class="td_middle" align="center">1000Min.
                                                                <div class="clear">
                                                                </div>
                                                                <img src="@Url.Content("~/images/twenty.png")" alt="" style="margin:6px 0 0 0;">
                                                            </td>
                                                                } 
                                                                else 
                                                                {
                                                                    <td width="25%" height="40" class="td_middle" align="center">800Min.
                                                                <div class="clear">
                                                                </div>
                                                                <img src="@Url.Content("~/images/twenty.png")" alt="" style="margin:6px 0 0 0;">
                                                            </td>
                                                                }

                                                            <td width="25%" height="40" class="call_icon td_right" align="center">
                                                                <div>850 Min.</div><img src="@Url.Content("~/images/thirty_five.png")" alt="" style="margin:6px 0 0 0;">
                                                            </td>
                                                        </tr>
                                                        <tr align="center" height="50">
                                                            <td width="25%" height="40" align="center" class="call_icon">
                                                            </td>
                                                            <td width="25%" height="40" class="call_icon right_border" align="center">
                                                                <form method="POST" name="IOform1" action="@Url.Action("BuyAdditionalPlans","Rate")">
                                                                        <input type="hidden" value="IO1" name="PlanId" />
                                                                        <input type="hidden" class="add_countryfrom" name="CountryFrom" />
                                                                        <input type="hidden" class="add_countryto" name="CountryTo" />
                                                                <a style="cursor:pointer;" onclick="document.IOform1.submit();">
                                                                    <img src="@Url.Content("~/images/buy_btn.png")" alt="" style="margin:4px 0 0 0;"></a>
                                                                    </form>
                                                            </td>
                                                            <td width="25%" height="40" class="td_middle" align="center">
                                                                 <form method="POST" name="IOform2" action="@Url.Action("BuyAdditionalPlans","Rate")">
                                                                        <input type="hidden" value="IO2" name="PlanId" />
                                                                        <input type="hidden" class="add_countryfrom" name="CountryFrom" />
                                                                        <input type="hidden" class="add_countryto" name="CountryTo" />
                                                                   
                                                                <a style="cursor:pointer;" onclick="document.IOform2.submit();">
                                                                    <img src="@Url.Content("~/images/buy_btn.png")" alt="" style="margin:4px 0 0 0;"></a>
                                                                     </form>
                                                            </td>
                                                            <td width="25%" height="40" class="call_icon td_right" align="center">
                                                                 <form method="POST" name="IOform3" action="@Url.Action("BuyAdditionalPlans","Rate")">
                                                                        <input type="hidden" value="IO3" name="PlanId" />
                                                                        <input type="hidden" class="add_countryfrom" name="CountryFrom" />
                                                                        <input type="hidden" class="add_countryto" name="CountryTo" />
                                                                   
                                                                <a style="cursor:pointer;" onclick="document.IOform3.submit();">
                                                                    <img src="@Url.Content("~/images/buy_btn.png")" alt="" style="margin:4px 0 0 0;"></a>
                                                                     </form>
                                                            </td>
                                                        </tr>
                                                        <tr align="center" height="10">
                                                            <td width="25%" height="40" align="center" style="border-right: 1px solid #ddd;">
                                                            </td>
                                                            <td width="25%" height="40" class=" right_border" align="center">
                                                            </td>
                                                            <td width="25%" height="40" class="td_middle second_tab" align="center">
                                                            </td>
                                                            <td width="25%" height="40" class=" td_right" align="center">
                                                            </td>
                                                        </tr>
                                                        <tr align="center" height="50">
                                                            <td width="25%" height="40" align="center" style="font-size: 14px; padding: 0px 15px 0px 0px;
                                                                font-weight: bold; border-right: 1px solid #ddd;">
                                                                Plan Details
                                                            </td>
                                                            <td colspan="3" style="border-right: 1px solid #ddd;" class="td_right">
                                                                <p style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;
                                                                    text-align: justify; padding: 0px 28px;">
                                                                    Choose from the above three plans to call India Mobiles and Landlines. You can make calls to anywhere in the world using these plans; however rates will vary. To avail this plan it is necessary to enroll in our auto-refill feature (recharges automatically when your balance falls below $2). Auto Refill bonus and Raza Rewards are not eligible for these plans. Speed dialing feature is not available for Talk Mobile and Talk City plans. Call details are not available under 1cent to call both landlines and mobiles plan. There is no refund policy for any of these plans. Toll free number users will be charged 2 c/min additional.</p>
                                                                <p style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; padding: 0px 29px;
                                                                    color: #999999; text-align: justify; margin: 12px 0 0 0;">
                                                                  Raza.com reserves the rights to withdraw or alter 1cent plans at any time without prior notice.</p>
                                                            </td>
                                                        </tr>
                                                 <tr align="center">
<td width="25%"></td>
<td colspan="3"><img src="@Url.Content("~/images/tabel_bottom.png")" alt="" style="margin:0px 0px 0px -1px; width:621px;"></td>
</tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </ul>
                                    </li>
                                </ul>