 


  <link type="text/css" href="@Url.Content("~/css/demos.css")" rel="stylesheet">
  <link type="text/css" href="@Url.Content("~/css/global.css")" rel="stylesheet">
 
  <!--<link rel="stylesheet" href="themes/base/jquery.ui.all.css">-->
  <link href="@Url.Content("~/css/stylesheet.css")" rel="stylesheet" type="text/css" />
 
  <link href="@Url.Content("~/css/fonts.css")" rel="stylesheet" type="text/css" />






<script src="@Url.Content("~/Scripts/jquery.js")"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

 
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script type="text/javascript">

			$(function(){

 $("html, body").animate({ scrollTop: 0 }, "slow");

				// Accordion


				$("#accordion_feedback").accordion({ header: "h3" },{autoHeight:false});

			});

		</script>
 <script type="text/javascript" src="@Url.Content("~/Scripts/plan_tabbing.js")"></script>
  <!--<script type="text/javascript" src="js/utility.js"></script>-->
  <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/skin.css")">
  <link type="text/css" href="@Url.Content("~/css/newac.css")" rel="stylesheet">
  <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.nestedAccordion.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Scripts/popup_jquery.js")"></script>


  <!-- BEGIN HumanTag Monitor. DO NOT MOVE! MUST BE PLACED JUST BEFORE THE /BODY TAG -->
 
  <!-- END HumanTag Monitor. DO NOT MOVE! MUST BE PLACED JUST BEFORE THE /BODY TAG -->
  <script>

  $(function() {

    $( "#tabs_support" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );

    $( "#tabs_support li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );

  });

  </script>
  <script>

 jQuery(function ($) {



$('input.panel').hover(function () {

var $target = $($(this).attr('id')),

$other = $target.siblings('.active'),

animIn = function () {

$target.addClass('active').show().css({

left: +($target.width())+200

}).finish().animate({

left: 0

}, 1000);

};



if (!$target.hasClass('active') && $other.length > 0){

$other.each(function (index, self) {

var $this = $(this);

$this.removeClass('active').animate({

left: +$this.width()+200

}, 1000, animIn);

});

} else if (!$target.hasClass('active')) {

animIn();

}

});



$(document).click(function(e){

var $target = $(e.target), $active = $('div.panel.active');



if($active.length && $target.closest('a.panel').length == 0 && $target.closest($active).length == 0){

$active.removeClass('active').finish().animate({

left: +$active.width()+200

}, 1000);

}

})



$('#right').mouseleave(function() {

//alert("akash akash ");

var $target =$($('input.panel').attr('id'));

if ($target.hasClass('active')) {

$target.removeClass('active').finish().animate({

left: +$target.width()+200

}, 1000);

}

});



$('.submit_login').click(function() {

//alert("akash akash ");

var $target =$($('input.panel').attr('id'));

if ($target.hasClass('active')) {

$target.removeClass('active').finish().animate({

left: +$target.width()+200

}, 1000);

}

});



});

</script>
  <script type="text/javascript">
// for tabs
$(document).ready(function(){

$(".container_tabbing").css({"visibility":"visible"});

}); 
	</script>
  <script type="text/javascript">
// for tabs
$(document).ready(function(){

$("#f_fixed").css({"visibility":"visible"});

}); 
	</script>

  <!--Autocomplete Start-->
  <style>
.custom-combobox {
	position: relative;
	display: inline-block;
}
.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
    /* support: IE7 */
    *height: 1.7em;
 *top: 0.1em;
	width: 310px!important;
}
.custom-combobox-input {
	margin: 0;
	padding: 0.5em;
	width: 310px!important;
}
#menu-nav ul ul a .custom-combobox .custom-combobox-toggle {
}
#combobox .custom-combobox-toggle .ui-button-icon-only .ui-icon {
	right: 0!important;
}
</style>
  <script>
  (function( $ ) {
    $.widget( "custom.combobox", {
      _create: function() {
        this.wrapper = $( "<span>" )
          .addClass( "custom-combobox" )
          .insertAfter( this.element );
 
        this.element.hide();
        this._createAutocomplete();
        this._createShowAllButton();
      },
 
      _createAutocomplete: function() {
        var selected = this.element.children( ":selected" ),
          value = selected.val() ? selected.text() : "";
 
        this.input = $( "<input>" )
          .appendTo( this.wrapper )
          .val( value )
          .attr( "title", "" )
          .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
          .autocomplete({
            delay: 0,
            minLength: 0,
            source: $.proxy( this, "_source" )
          })
          .tooltip({
            tooltipClass: "ui-state-highlight"
          });
 
        this._on( this.input, {
          autocompleteselect: function( event, ui ) {
            ui.item.option.selected = true;
            this._trigger( "select", event, {
              item: ui.item.option
            });
          },
 
          autocompletechange: "_removeIfInvalid"
        });
      },
 
      _createShowAllButton: function() {
        var input = this.input,
          wasOpen = false;
 
        $( "<a>" )
          .attr( "tabIndex", -1 )
          //.attr( "title", "Show All Items" )
          .tooltip()
          .appendTo( this.wrapper )
          .button({
            icons: {
              primary: "ui-icon-triangle-1-s"
            },
            text: false
          })
          .removeClass( "ui-corner-all" )
          .addClass( "custom-combobox-toggle ui-corner-right" )
          .mousedown(function() {
            wasOpen = input.autocomplete( "widget" ).is( ":visible" );
          })
          .click(function() {
            input.focus();
 
            // Close if already visible
            if ( wasOpen ) {
              return;
            }
 
            // Pass empty string as value to search for, displaying all results
            input.autocomplete( "search", "" );
          });
      },
 
      _source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
        response( this.element.children( "option" ).map(function() {
          var text = $( this ).text();
          if ( this.value && ( !request.term || matcher.test(text) ) )
            return {
              label: text,
              value: text,
              option: this
            };
        }) );
      },
 
      _removeIfInvalid: function( event, ui ) {
 
        // Selected an item, nothing to do
        if ( ui.item ) {
          return;
        }
 
        // Search for a match (case-insensitive)
        var value = this.input.val(),
          valueLowerCase = value.toLowerCase(),
          valid = false;
        this.element.children( "option" ).each(function() {
          if ( $( this ).text().toLowerCase() === valueLowerCase ) {
            this.selected = valid = true;
            return false;
          }
        });
 
        // Found a match, nothing to do
        if ( valid ) {
          return;
        }
 
        // Remove invalid value
        this.input
          .val( "" )
          .attr( "title", value + " didn't match any item" )
          .tooltip( "open" );
        this.element.val( "" );
        this._delay(function() {
          this.input.tooltip( "close" ).attr( "title", "" );
        }, 2500 );
        this.input.data( "ui-autocomplete" ).term = "";
      },
 
      _destroy: function() {
        this.wrapper.remove();
        this.element.show();
      }
    });
  })( jQuery );
 
  $(function() {
    $( "#combobox" ).combobox();
    $( "#toggle" ).click(function() {
      $( "#combobox" ).toggle();
    });
  });
  </script>

  


      
      <!--Body Container Start-->
      <div id="inner_body_container">
        <div id="banner"><img src="@Url.Content("~/images/banner-why-raza.jpg")" alt="Reasons to choose Raza calling cards" /></div>
        <!-- End demo -->
        <div id="feedback_panel">
          <div class="feedback-scroller"> 
            
            <!--according start-->
            <div class="container_tabbing container_tabbing-new">
                <div class="ui-tabs ui-widget ui-widget-content ui-corner-all ui-tabs-vertical ui-helper-clearfix" id="tabs_support">
                    <div class="why-raza-left">
                        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    <li class="green-bg"><a href="#tabs-1" ><span class="icon-21"></span>WHY RAZA</a></li>
                    <li class="sky-bg" ><a href="#tabs-2" onclick=" method1();"><span class="icon-22"></span>HOW IT WORKS</a></li>
                    <li class="pink-bg"><a href="#tabs-3" onclick="method2();"><span class="icon-23"></span>ABOUT US</a></li>
                    <li class="red-dark-bg"><a href="#tabs-4" onclick="method3();"><span class="icon-24"></span>REFER A FRIEND</a></li>
                  </ul>
                </div>
                    <script>
                        function method1() {
                           
                            $("#img2").show();
                          
                        }
                        function method2() {
                           
                            $("#img3").show();
                        }

                        function method3() {
                           
                            $("#img4").show();
                        }

</script>
                <div id="tabs-1">
                  <h2 class="onetouchfull">WHY RAZA</h2>
                  <div class="raza_why"> <span class="headings_raza">International Calling Plans by Raza Keep You Talking for Less</span>
                    <p> Staying connected in today’s fast-paced world is easy when you get an international calling plan from Raza.com. Our state-of-the-art fiber optic network puts you in touch with more than 200 different countries.
 </p>
                    <span class="headings_raza">Raza provides more services and options to keep you talking:</span>
                    <p>
                    
                    <ul>
                      <li>Unbeatable Calling Rates</li>
                      <li>More Minutes for Less</li>
                      <li>Exceptional Call Quality</li>
                      <li>Online Account Management</li>
					  <li>100% Money Back Guarantee</li>
					  <li>More Popular Features</li>
                    </ul>
                    <ul>
					<li>Unparalleled Customer Service</li>
                      
                     
                      <!--<li>Refer-A-Friend</li>
                      <li>Raza Rewards</li>-->
                    </ul>
                  
                    <!--<p>and many more adding up everyday.</p>-->
                    </p>
                    <div class="clear"></div>
                    <!--<span class="headings_raza">Online account management</span>-->
                    <p> No other prepaid calling plan gives you the power that Raza does. We’re the pioneering leaders in prepaid international calling plans and stand behind your every purchase with quality service and a money-back guarantee. If you have to call us, you’ll always speak to one of our highly trained, multilingual customer service agents who will help you with any question or concern you may have. </p>
					
                    <span class="headings_raza">Raza’s <a href="@Url.Action("index","features")" style="color: #004dea !important;">Features</a> Outshine the Competition</span>
                    <p> Raza leads the world in international calling plans with popular <a href="@Url.Action("index","features")" style="color: #004dea !important;">features</a> to make it easier for you to manage your calls. </p>
				@*	<ul>
                      <li class="ui-corner-left">One-Touch Dialing</li>
                      <li class="ui-corner-left">PIN-less Dialing</li>
                      <li class="ui-corner-left">Speed Dialing</li>
                      <li class="ui-corner-left">Auto Refill</li>
					  <li class="ui-corner-left">Track Call Records</li>
					  <li class="ui-corner-left">Call Forwarding</li>
                    </ul>
                    <ul>
					<li class="ui-corner-left">Global Calling</li>
					<li class="ui-corner-left">Refer-A-Friend</li>
					<li class="ui-corner-left">Raza Rewards™</li>*@
                      
                     
                      <!--<li>Refer-A-Friend</li>
                      <li>Raza Rewards</li>-->
                   @* </ul>*@
					
					<div class="clear"></div>
					<p>we’re working to add new features every day. Manage your account online with our user-friendly interface, and get special offers and exclusive deals directly from <strong>Raza</strong>.
</p>

		<div class="spacer_20"></div>
		<p>Still not convinced? If you find a prepaid international calling plan at a lower price than ours, we’ll beat it! <a href="@Url.Action("LogOn","Account")" class="refer_new_1">Sign up</a> online now and start saving on your international calls with <strong>Raza.com</strong>.</p>
					
                  </div>
                </div>
                <div id="tabs-2">
				<img src="@Url.Content("~/images/whyraza_howitwokrks_banner.jpg")" style="display:none" alt="Process to make international call" class="whyraza_referfrieng" id="img2" />
                  <h2 class="pinlessfull">HOW IT WORKS</h2>
                  <!--<div class="how-page">
		<h3>Simple and easy to get connected!</h3>
		<div class="circle-first"><strong>Dial the Raza <br />
Access Number</strong></div>
		<div class="circle-two">
		<span class="cou-text">Dial 011 +<br />
Country code, City  Code +<br />
Destination number + <br />
# key
</span>
<strong>*( once you have dialed the<br /> destination number do not<br /> press the  Send / Talk key)</strong>
		</div>
		<div class="circle-three">
		<strong>Connected...</strong>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="clear"></div>
		<span class="keep-talking">Keep talking</span>
		</div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="clear"></div>
		<p class="center">To Call within USA, Canada or 
Caribbean: Dial 1 + Area Code +
 Number followed by # Key </p>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="clear"></div>
		<span class="try-text">(Try our new <span class="rad">One Touch Dial</span> feature to reach your destination with the click of a button) </span><a href="" class="learnbtn"></a>
                  </div>-->
				  
				  
			<div class="why-raza_cntent">
					 <span>Buy an International Calling Plan Online at Raza.com and Talk More for Less</span>
					 <div class="clear"></div>
					 <b>To make a call, simply follow this 1-2-3 process:</b>
					 
					 <div class="clear"></div>
					 <ul>
					 <li>Dial the Raza local access number.</li>
					 <li>Dial 011 + the Country Code + the Phone Number followed by #.<br />
						<span class="inner_li">(To call from Europe, dial 00 + the Country Code + the Phone Number followed by #.)</span></li>
					 <li>Keep Talking!</li>
					 </ul>
					 
					 <p>Raza.com offers more features and better quality calls at the lowest prices anywhere. And with our 24/7 customer service,
					  using your Raza.com calling plan is easy.</p>
					 
					 <p>Start saving today when you buy an international calling plan online at <strong>Raza.com</strong>.</p>
					 
					 </div>
				  
				  
				  
				  
                
              </div>
			  
			  <div id="tabs-3" aria-labelledby="ui-id-13" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: block;">
			  
			  	<img src="@Url.Content("~/images/aboutus-option2.jpg")" align="" style="display:none" alt="About Raza Communications" class="whyraza_referfrieng" id="img3" />
                  <h2 class="calldetailfull" >ABOUT US</h2>
                  <div>
                    <p>The Industry Leader in International Calling Plans, Raza Keeps You Talking</p>
                    <p>Life is short, the world is big, and nothing is more important than staying in touch with the people who matter to you the most. No matter where you are in the world, you deserve a reliable and affordable international calling plan. You can’t afford to pick just any plan—you don’t have time for poor call quality, iffy networks, and dropped calls. </p>
                    <p>Raza Communications works for you to provide a clear, reliable network that you can access anywhere, anytime.Since 1995, we’ve been the industry pioneer, creating reliable and affordable international calling plans that keep you talking.</p>
					
					
                    <p>At Raza, our goal is simple—to give you crystal clear call quality at the most competitive prices. We offer unparalleled rates to the places you call the most through our global network. And we do it all with 24/7 customer service, including live operators.</p>
					
					<p>Discover the difference a truly dedicated international calling plan can make. <a href="@Url.Action("Logon","Account")" class="refer_new_1">Sign up</a> now for the world’s best international calling plans and keep talking to the people who matter most. </p>
                <!--    <div class="spacer">&nbsp;</div>
                    <div class="spacer">&nbsp;</div>
                    <div class="spacer">&nbsp;</div>
                    <div class="spacer">&nbsp;</div>
                    <h3 class="headinginner t-color">Our Team</h3>
                    <p>It's not just our commendable experience in the telecommunications industry, but also the exceptional customer service that we provide to our esteemed customers 24/7, 365 days which takes us to the Top. The positive experience that is created for all of our current and prospective customers is derived with a lot of training, skill and most of all - Total dedication. It is the commitment of each of our representatives which makes them handle every account with a lot of interest... Be it Suggesting various options, explaining the features, resolving concerns, taking care of any other intricate details and much more ....All of this comes to you when you call us or chat with us at our  live chat.</p>-->
                   <!-- <ul style="margin:0px 0px 0px 26px;">
                      <li class="ui-corner-left">Multi lingual representatives trained to efficiently administer customer service</li>
                      <li class="ui-corner-left">24/7, 365 days availability </li>
                      <li class="ui-corner-left">Seamless Focus on First Call Resolution (FCR) with warm transfer of calls requiring escalation</li>
                    </ul>-->
              <!--      <p><strong>Raza Communication's</strong> worldwide network is managed and serviced by its Global Operations Team, a group of highly trained engineers who continuously monitor and service the network. Available 24 hours a day, 7 days a week, Our NOC team provides consistent and reliable network support. Some of their responsibilities include:</p>
                    <ul style="margin:0px 0px 0px 26px">
                      <li class="ui-corner-left">Monitoring and maintaining network status</li>
                      <li class="ui-corner-left">Controlling QOS (Quality of Service)</li>
                      <li class="ui-corner-left">Detecting and correcting all network problems and routing issues</li>
                      <li class="ui-corner-left">Observing network impact related to peak times and promotional events</li>
                    </ul>
                    <div class="spacer">&nbsp;</div>
                    <div class="spacer">&nbsp;</div>
                    <h3 class="headinginner t-color">Our Guarantee</h3>
                    <p><strong>100% Unconditional Money Back Guarantee.</strong></p>
                    <p>If for any reason you're not completely satisfied with any aspect of our product, whether the quality, the price or any other reason, you can call us anytime (within 6 months from the date of purchase) and we will refund the unused balance! You can count on it.</p>
                    <p><strong>Price Match Guarantee</strong></p>
                    <p>At Raza.com, we stand behind offering unbeatable rates to the destinations that you call the most. We are so confident of our rates that we are proud to offer our Price Match Guarantee. If you find an online competitor offering the same quality calls and features at a cheaper rate, we will match the price.</p>-->
                  </div>
                </div>
				
				
				
				
                <div id="tabs-4" style="border-bottom:0px">
				<img src="@Url.Content("~/images/referfreind_new.jpg")" alt="Referral Plans" class="whyraza_referfrieng" style="display:none" id="img4" />
                     <h2 class="quickeysfull" >REFER A FRIEND IS AS EASY AS 123</h2>
                    <div class="refer_new">
                            <ul>
                                <li ><span>1.</span><a href="#">Sign Up</a></li>
                                <li><span>2.</span><a href="#">Enter friend's e-mail.</a></li>
                                <li><span>3.</span><a href="#">Earn $10 FREE min.</a></li>
                            </ul>
                            <div class="clear">
                            </div>
                            <p><span>If you don't have an account please</span> <a href="@Url.Action("Logon","account")" class="refer_new_5"></a></p>
                            <!-- <p>Existing customers please <a href="#" class="refer_new_1">Log In</a></p>-->
                        </div>
                  <!--<div class="new_refer_tabel ">
                  <label class="new_refer_label">Your Email Address:</label>
                  <input name="" type="text" class="new_refer_input" />
                  <div class="clear"></div>
                  <div class="grey_p"> Friends Email: </div>
                  <div class="clear"></div>
                  <fieldset>
                  <label >Friend#1:</label>
                  <input name="" type="text" class="friend_input" />
                  <label>Friend#2:</label>
                  <input name="" type="text" class="friend_input" />
                  <div class="clear"></div>
                  <label >Friend#3:</label>
                  <input name="" type="text" class="friend_input" />
                  <label>Friend#4:</label>
                  <input name="" type="text" class="friend_input" />
                  <div class="clear"></div>
                  <label >Friend#5:</label>
                  <input name="" type="text" class="friend_input" />
                  <label ></label>
                  <input type="submit" name="button3" id="button3" value="" class="friend_submit">
                  </fieldset>
                </div>
               <p>This service requires registration, if you dont have an account please <a href="#"><strong>sign up</strong></a></p>
                <p> or if you are an existing customer please <a  href="#"><strong>log in</strong></a></p>
                <p><strong>Easy way to refer your friends and earn points!!!</strong></p>
                <p>Just fill up our form with your email and friends email addresses. We will send an invitation email to everyone you refer to sign up and purchase one of our products. Each successful sales converted from your referral will earn 250 points. A total of 1000 points can earn you a $10 card.</p>
                <p><strong>Point System</strong><br />
                  250 points for each referral, a total of 4 referrals which is 1000 points can earn you a $10 card.<br />
                </p>
               <div class="spacer"></div>
                <div class="clear"></div>
                <table width="400" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:0px 0px 0px 25px;">
                  <tr>
                    <td height="40" bgcolor="#a0d6e7"><strong>Points</strong></td>
                    <td bgcolor="#a0d6e7"><strong>Value</strong></td>
                  </tr>
                  <tr>
                    <td>1000</td>
                    <td>$10</td>
                  </tr>
                  <tr>
                    <td bgcolor="#EEEEEE">2000</td>
                    <td bgcolor="#EEEEEE">$20</td>
                  </tr>
                  <tr>
                    <td>5000</td>
                    <td>$50</td>
                  </tr>
                  <tr>
                    <td bgcolor="#EEEEEE">9000</td>
                    <td bgcolor="#EEEEEE">$90</td>
                  </tr>
                  <tr>
                    <td colspan="2">1 referral = 250 points </td>
                  </tr>
                </table>
                <br />
                <p><strong>Track all of your referrals online.</strong></p>
                <p>How do you keep track of your referrals?. You can view the status of your referrals, redeem your referral points and view redeem history. Points can be redeemed as soon as you reached a minimum of 1000 points which is applicable for a $10 card. </p>
                <p><strong>Restrictions</strong></p>
                <p>Points cannot be converted into cash.</p>
                <p>Refer a friend applies for new account activation only.</p>-->
                  
                <script src="@Url.Content("~/Scripts/WhyRaza.js")" type="text/javascript"></script>
                       <div id="WhyRazaRef">
                         @*   <span data-bind="text: Thank" style="font-size: 18px; color: red; font-weight: bold;margin-left:200px;"></span>
                                <table style="margin-left:186px;">
                                    <tr>
                                        <td style="font-size: 14px; color: red; font-weight: bold;">
                                        </td>
                                    </tr>
                                    <tbody data-bind="foreach: Mail">
                                        <tr>
                                            <td style="font-size: 14px; color: red; font-weight: bold;" data-bind="text : $data">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>*@
                            @*          <table>
                        <tr>
                            <td>
                            <span style="color:red;font-size: 14px;" data-bind="text: Mail()"><br/>
                
                            </span> 
                        </td></tr> 
                    </table>*@

                                              <div class="expandable" id="errorValidation" style="display: none;width:490px">
                  <div id="close-val1" class="close-confirm">
                        </div>    
			 <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
              <tbody><tr>
                <td width="14"><img src="@Url.Content("~/images/expand_top_left.png")" width="14" height="13"></td>
                <td style="background:url(/images/expand_drop_top.png) repeat-x left 2px;"></td>
                <td width="14"><img src="@Url.Content("~/images/expand_top_right.png")" width="14" height="13"></td>
              </tr>
              <tr>
                <td style="background:url(/images/expand_drop_left.png) repeat-y 0px top;"></td>
                <td style="background:#fff;"><div class="expandable_mid">
                         
                    <span data-bind="text: Thank" style="font-size: 16px; color: red; font-weight: bold;"></span>
                     <div id="validation-message" style="margin-left:60px;color:red" class="validation-error-msg">
			 
                            <ul data-bind="foreach: Mail">
                                <strong>
                                    <li data-bind="text: $data" style="list-style-type:disc;margin-left: -45px;"></li>
                                </strong>
                            
                            </ul>
                         <br />

                          <ul data-bind="foreach: No_Mail">
                                <strong>
                                    <li data-bind="text: $data" style="list-style-type:disc;margin-left: -45px;"></li>
                                </strong>
                            
                            </ul>
                  </div>
                 <div id="validation-messagereview" style="margin-left:111px;margin-top:13px;color:red" class="validation-error-msg">
			       
                            
                  </div>
                    
                  </div></td>
                <td style="background:url(/images/expand_drop_right.png) repeat-y 0px top;"></td>
              </tr>
              <tr>
                <td width="14" style="padding:0px!important;"><img src="@Url.Content("~/images/expand_bot_left.png")" width="14" height="13"></td>
                <td style="background:url(/images/expand_drop_bottom.png) repeat-x left 0px;" width="100%"></td>
                <td width="14" style="padding:0px!important;"><img src="@Url.Content("~/images/expand_bot_right.png")" width="14" height="13"></td>
              </tr>
            </tbody></table>

			  </div>
<div class="loader" style="display: none;">
                </div>

                            @if (User.Identity.IsAuthenticated)
                                {
                            <div class="refer_mail">
                                <input type="text" name="" value="@Model.Email" placeholder= "Existing customers please enter your e-mail" class="refer_input"/>
					
                                <fieldset style="border:0px; margin-top:20px">
                                    <input type="text" name="" value="" placeholder="Friend 1" data-bind="value: Mail1" class="refer_input_1"/>
                                    <input type="text" name="" value="" placeholder="Friend 2" data-bind="value: Mail2" class="refer_input_1"/>
                                    <input type="text" name="" value="" placeholder="Friend 3" data-bind="value: Mail3" class="refer_input_1"/>
                                </fieldset>
                                <fieldset style="border:0px; margin-top:6px">
                                    <input type="text" name="" value="" placeholder="Friend 4" data-bind="value: Mail4" class="refer_input_1"/>
                                    <input type="text" name="" value="" placeholder="Friend 5" data-bind="value: Mail5" class="refer_input_1"/>
                                    <a id="WhyRazabtn" class="submit_img" style="cursor:pointer;"></a>
                                </fieldset>
                 
                            </div>
                       }
                             </div>
                        <div class="refer_points"> <strong><span>Refer Friends & Earn Points!</span></strong>
                            <p>Invitation e-mail will be send to your referred e-mails, to sign up and purchase one of our plans. 
                                Each successful sales converted from your referral will earn 250 points. </p>
                        </div>
                        <div class="refer_new_2">
                            <table width="100%">
                      
                                <tr>
                                    <td width="50%" bgcolor="#FFFFFF" class="refer_border refer_border_1"><strong><span>POINTS</span></strong></td>
                                    <td width="50%" bgcolor="#FFFFFF" class="refer_border refer_border_2"><strong><span>VALUE</span></strong></td>
                                </tr>
                                <tr>
                                    <td width="50%" class="refer_border refer_border_1"><span>1000</span></td>
                                    <td width="50%" class="refer_border refer_border_1"><span>$10</span></td>
                                </tr>
                                <tr>
                                    <td width="50%" class="refer_border refer_border_1"><span>2000</span></td>
                                    <td width="50%" class="refer_border refer_border_1"><span>$20</span></td>
                                </tr>
                                <tr>
                                    <td width="50%" class="refer_border refer_border_1"><span>5000</span></td>
                                    <td width="50%" class="refer_border refer_border_1"><span>$50</span></td>
                                </tr>
                                <tr>
                                    <td width="50%"><strong>A total of 1000 can earn you a $10 card.</strong></td>
                                    <td width="50%"><strong style="float:right">1 referral=250 points.</strong></td>
                                </tr>
					  
                            </table>
                        </div>
                  
                        <div class="refer_points">
                            <span><strong>Track all of your referrals online!</strong></span>
                            <p>You can view the status of your referrals, redeem your referral points and view redeem history under my account page.  Points can be redeemed as soon as you reached a minimum of 1000 points which is applicable for a $10 card.</p>
					
                            <p style="font-style:italic; font-weight:normal;">Please note:<br />
                                Points cannot be converted into cash.<br />
                                Refer a friend applies for new account activation only</p>
					
                        </div>

                    </div>
                    </div>
            </div>
            <!--According End-->
        </div>
    </div>
  
</div>

  
     

  <script language="JavaScript" type="text/javascript">
<!--
var shown = null;
function showFaq(faqId)

{

	if (shown != null)

	{

		shown.style.display = "none";


		if (shown.id == faqId)

		{

			shown = null;

			return;

		}

	}

	shown = document.getElementById(faqId);

	shown.style.display = "";

}

//-->

        </script>
  <div id="dimmer" class="dimmer" style="width:1260px; height:542px;"></div>
  <script src="@Url.Content("~/Scripts/scripts.js")"></script>
  <!-- <msdropdown> -->
  <script src="@Url.Content("~/Scripts/jquery.dd.min.js")"></script>
  <script>
$(document).ready(function() {

$("#countries_signup_popup").msDropdown();
$("#countries_searchrates_footer").msDropdown();
$("#countries_tryusfree_footer").msDropdown();
$("#countries_plans").msDropdown();
$("#countries").msDropdown();

});
</script>

<script type="text/javascript">
jQuery('input[placeholder], textarea[placeholder]').placeholder();
</script>



<div class="feedbackicon" title="Click here to give us feedback" id="oo_feedback_float"><div style="display: block;" id="olUp"><img src="images/oo_black.gif"><span id="fbText"><br><a href="support.html#tabs-14" class="bllink">Feedback</a></span></div><div style="display: none;" id="olOver">Click here to give us feedback</div></div>

<script>
function close_form()

{

$("#credit").slideUp("slow");

$("#credit_select_1").val("0");

}

  </script>
  
  
  <script>
  
function show_form()
{ 


$("#credit, #onetouch").slideDown("slow");



}

function close_form()
{
$("#credit, #onetouch").slideUp("slow");

}
  </script>
  
  
