@model MvcApplication1.Areas.Mobile.ViewModels.SearchRateViewModel
@{
    ViewBag.Title = "SearchRate";
}



<!-- ========================================== start search rates ========================================= -->

<div class="container-fluid buy_mar">
    <div class="container demo">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                @{Html.RenderAction("CountryToSemanticSearchControl", "UiControls");}
            </div>
        </div>
    </div>
</div>

<!-- ========================================== end search rates ========================================= -->


<div class="plan_tbg ">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <h1 class=" title_review text-center">@Model.PlanName</h1>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="india_bg ">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <h1 class="text-center">@Model.CountryToName </h1>
                    <h1 class="text-center autorefill-rates"><span>for Just </span><b>@Model.RatePerMinAutoRefill @Html.CurrencySign2(Model.CountryFrom)</b></h1>
                    <h1 class="text-center withoutautorefill-rates" style="display: none"><span>for Just </span><b>@Model.RatePerMinWithOutAutoRefill @Html.CurrencySign2(Model.CountryFrom)</b></h1>
                </div>

            </div>
        </div>
    </div>
</div>

<div class=" container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="T" checked="checked">
                            <h5 class="india_radio">Auto Refill Rates</h5>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="F">
                            <h5 class="india_radio">Without Auto Refill Rates </h5>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="autorefill-rates">
    @{
        var currencySign = Html.CurrencySign3(Model.CountryFrom);
    }
    @foreach (var item in Model.AutoRefillRates)
    {
        <div class="plan_bbg buy_mar">
            <div class="container-fluid">
                @using (Html.BeginForm("BuyPlan", "Cart"))
                {
                    @Html.Hidden("CountryFrom", Model.CountryFrom)
                    @Html.Hidden("CountryTo", Model.CountryTo)
                    @Html.Hidden("FromToMapping", item.FromToMapping)
                    @Html.Hidden("PlanId", item.PlanId)
                    @Html.Hidden("IsAutorefill", true)
                    <div class="container">
                        @if (item.StrikeAmount != 0)
                        {
                            <div class="row">
                                <div class="col-xs-4 col-sm-5">
                                    <h1 class=" title_review"><span class="buy_less">@currencySign@item.StrikeAmount</span> @currencySign@item.Amount</h1>
                                </div>
                                <div class="col-xs-4 col-sm-5">
                                    <h1 class=" title_review"><b>@item.Minute mins</b>
                                    </h1>
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <div class="form-group">
                                        <input class="recharge_buy" type="submit" value="Buy">
                                    </div>

                                </div>

                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-xs-4 col-sm-5">
                                    <h1 class="icon_title">@currencySign@item.Amount </h1>
                                </div>
                                <div class="col-xs-4 col-sm-5">
                                    <h1 class=" icon_title">@item.Minute mins</h1>
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <div class="form-group">
                                        <input class="recharge_buy" type="submit" value="Buy">
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    }
    <div class="buy_mar">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 ">
                        <p class="col_red">For your convenience the plan is set to Auto-refill* </p>
                        <p class="col_red">All the rates are calculated on the highest denomination**</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="withoutautorefill-rates" style="display: none">
    @foreach (var item in Model.WithOutAutoRefillRates)
    {
        <div class="plan_bbg buy_mar">
            <div class="container-fluid">
                @using (Html.BeginForm("BuyPlan", "Cart"))
                {
                    @Html.Hidden("CountryFrom", Model.CountryFrom)
                    @Html.Hidden("CountryTo", Model.CountryTo)
                    @Html.Hidden("FromToMapping", item.FromToMapping)
                    @Html.Hidden("PlanId", item.PlanId)
                    <div class="container">
                        @if (item.StrikeAmount != 0)
                        {
                            <div class="row">
                                <div class="col-xs-4 col-sm-5">
                                    <h1 class=" title_review"><span class="buy_less">@currencySign@item.StrikeAmount</span> @currencySign@item.Amount</h1>
                                </div>
                                <div class="col-xs-4 col-sm-5">
                                    <h1 class=" title_review"><b>@item.Minute mins</b>
                                    </h1>
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <div class="form-group">
                                        <input class="recharge_buy" type="submit" value="Buy">
                                    </div>
                                </div>

                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-xs-4 col-sm-5">
                                    <h1 class="icon_title">@currencySign@item.Amount </h1>
                                </div>
                                <div class="col-xs-4 col-sm-5">
                                    <h1 class=" icon_title">@item.Minute mins</h1>
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <div class="form-group">
                                        <input class="recharge_buy" type="submit" value="Buy">
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    }
    <div class="buy_mar">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 ">
                        <p class="col_red">All the rates are calculated on the highest denomination**</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@if (Model.CountryRegionsList.Any())
{
    <div class="buy_mar">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 ">
                        <h3 class="title_review">Select other City or State in @Model.CountryToName</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    string i = "container-fluid";
    foreach (var item in Model.CountryRegionsList)
    {
        i = i == "" ? "plan_bbg" : "";
    <div class="@i">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 ">
                        <h5 class="icon_titile"><a href="@Url.Action("SearchRate", "Rate", new { countryfrom = Model.CountryFrom, countryto = item.Id })">@item.Name</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <h5 class="title_review">Plan Details:</h5>
                <p>
                    The above plan is best to Call any Landline 
and Cell phone worldwide.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <ul class="plan_detail">
                    <li>One Touch Dialing </li>
                    <li>Excellent Call Quality </li>
                    <li>Pinless dialing </li>
                    <li>24/7 Online Call Details</li>
                    <li>Call from 20 different countries</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
                <ul class="plan_detail">
                    <li>Call Forwarding</li>
                    <li>No connection fees</li>
                    <li>No Expiration date</li>
                    <li>Quickeys</li>
                    @if (Model.CountryFrom == 2)
                    {
                        <li>10% Service fee</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <h5 class="title_review">Auto-refill:</h5>
                <p>
                    The above plan is best to Call any Landline 
and Cell phone worldwide.
                </p>
                <p>
                    Plan recharges automatically when the balance falls 
below $2. ( Non Mandatory feature, auto refill can be 
cancelled any time.)
                </p>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script>
        var dropSearch = $("#callingto-search");
        dropSearch.dropdown(
            'set selected', '@Model.CountryTo'  // Preselect a value for the dropdown.
            );
        dropSearch.dropdown(
            {
                onChange: function (value, text, $selectedItem) {
                    var url = '@Url.Action("SearchRate", "Rate", new { countryfrom = Model.CountryFrom })';
                    window.location.href = url + '&countryto=' + value;
                }
            });

                $("input:radio[name=optionsRadios]").click(function () {
                    var value = $(this).val();
                    if (value === "F") {
                        $(".autorefill-rates").css("display", "none");
                        $(".withoutautorefill-rates").css("display", "block");
                    } else {
                        $(".withoutautorefill-rates").css("display", "none");
                        $(".autorefill-rates").css("display", "block");
                    }
                });
    </script>
}





