@model MvcApplication1.Areas.Mobile.ViewModels.AddNewPinlessNumberViewModel
@{
    ViewBag.Title = "NewPinlessNumber";
}

<div class="container-fluid">
    <div class="container">
        <h1 class=" title_login">Add New Pinless Number(s)</h1>
        <h6 class="add_sub">Enter your 10 digit new calling form number.</h6>

        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="row">
                <div class="col-xs-12">
                    <div class="container">
                        @Html.MessageBox(Model.Message, Model.MessageType)
                    </div>
                </div>
            </div>
        }

        <div class="row">
            @using (Html.BeginForm("AddNewPinlessNumber", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-xs-4">

                        @*<input type="text" class="form-control form_mar ">*@
                        @Html.TextBoxFor(a => a.Number1, new { @class = "form-control form_mar phonetab data-numeric", @maxlength = 3, type = "tel" })
                        @Html.ValidationMessageFor(a => a.Number1)

                    </div>
                    <div class="col-xs-4">
                        @Html.TextBoxFor(a => a.Number2, new { @class = "form-control form_mar data-numeric phonetab ", @maxlength = 3, type = "tel" })
                        @Html.ValidationMessageFor(a => a.Number2)
                    </div>
                    <div class="col-xs-4">
                        @Html.TextBoxFor(a => a.Number3, new { @class = "form-control form_mar phonetab data-numeric", @maxlength = 4, type = "tel" })
                        @Html.ValidationMessageFor(a => a.Number3)
                    </div>
                </div>
                <div class="col-xs-12">
                    @Html.HiddenFor(a => a.NewPinlessNumber)
                    @Html.ValidationMessageFor(a => a.NewPinlessNumber)
                </div>
@*<div class="col-xs-12">
                    <h5><a href="#">Add more</a>
                    </h5>
                </div>*@
                <div class="col-xs-12">
                    <button type="submit" id="addnew" class="btn btn-primary btn-block form_mar btn_bgreen" >Submit</button>
                </div>
                <div class="col-xs-12">
                    <a href="@Url.Action("PinLessSetupEdit", "Account", new { id = Html.EncodedParameterValue(Model.PlanPin) })" class="btn btn-primary btn-block form_mar btn_bgray"><i class=" btn_prev fa fa-chevron-left"></i>Back</a>
                </div>
            }
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {

            function genPhone() {
                $("#NewPinlessNumber").val("");
                var number1 = $("#Number1").val();
                var number2 = $("#Number2").val();
                var number3 = $("#Number3").val();
                $("#NewPinlessNumber").val(number1 + number2 + number3);
            }

            $(".phonetab").keyup(function () {
                if ($(this).attr("maxlength") == $(this).val().length) {
                    var v = $(this).val();

                    var index = $(".phonetab").index(this);
                    var item = $($(".phonetab")[++index]);
                    if (item.length > 0)
                        item.focus();

                    genPhone();
                }
            });


        });

    </script>
}