@model MvcApplication1.Areas.Mobile.ViewModels.AddNewQuickKeyViewModel
@{
    ViewBag.Title = "AddNewQuickKey";
}

<div class="container-fluid">
    <div class="container">
        <h1 class=" title_login">Add New Quickey</h1>
        @using (@Html.BeginForm("AddNewQuickKey", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            if (!string.IsNullOrEmpty(Model.Message))
            {
            <div class="row">
                <div class="col-xs-12">
                    <div class="container">
                        @Html.MessageBox(Model.Message, Model.MessageType)
                    </div>
                </div>
            </div>
            }
            
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12 form_mar">
                        @Html.DropDownListFor(a => a.CountryCode, new SelectList(Model.Countries, "Id", "Name"), "Select country", new { @class = "form-control " })
                        @Html.ValidationMessageFor(a => a.CountryCode)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4 form_mar">
                        <input type="text" class="form-control  " value="@Model.CountryCode" id="selectedcountrycode" placeholder="Country Code" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8 form_mar">
                        @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "form-control data-numeric ", @placeholder = "Phone Number", type = "tel", maxlength = "10" })
                        @Html.ValidationMessageFor(a => a.PhoneNumber)
                        <h6>Enter with city code for landline</h6>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 form_mar">
                        @Html.TextBoxFor(a => a.ContactName, new { @class = "form-control ", @placeholder = "Contact Name",@maxlength="15" })
                        @Html.ValidationMessageFor(a => a.ContactName)
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12 form_mar">
                        @Html.TextBoxFor(a => a.QuickKey, new { @class = "form-control data-numeric ", @placeholder = "Quick Keys(s)", type = "tel", maxlength = "3" })
                        @Html.ValidationMessageFor(a => a.QuickKey)
                    </div>
                </div>

                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block form_mar btn_bgreen">Submit </button>
                </div>
                <div class="col-xs-12">
                    <a href="@Url.Action("QuickKeysSetupEdit", "Account", new { id = Html.EncodedParameterValue(Model.PlanPin) })" class="btn btn-primary btn-block form_mar btn_bgray"><i class=" btn_prev fa fa-chevron-left"></i>Back</a>
                </div>
            </div>
        }
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#CountryCode").change(function () {
            //set the value in country code in textbox.
            $("#selectedcountrycode").val(this.value);
        });
    </script>
}