@model MvcApplication1.Areas.Mobile.ViewModels.CallDetailsViewModel
@{
    ViewBag.Title = "CallDetailReport";
    var encPlanPin = Html.EncodedParameterValue(Model.PlanPin);
}


<div class="container-fluid">
    <div class="container">
        <h1 class=" title_login">Call Detail Report</h1>
        <h5 class="touch_title">
            <a href="@Url.Action("CallDetailReport", "Account", new { id = encPlanPin, date = DateTime.Now })">@Html.CurrentMonthText()</a>
            <a href="@Url.Action("CallDetailReport", "Account", new { id = encPlanPin, date = DateTime.Now.AddMonths(-1) })">| @Html.PastOneMonthText()</a>
            <a href="@Url.Action("CallDetailReport", "Account", new { id = encPlanPin, date = DateTime.Now.AddMonths(-2) })">| @Html.PastTwoMonthText()</a>
        </h5>
    </div>
</div>

<div class="plan_tbg">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-5">
                    <h1 class=" title_review">Date</h1>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <h1 class=" title_review">Destination</h1>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <h1 class=" title_review">Duration</h1>
                </div>

            </div>
        </div>
    </div>
</div>

@if (Model.AllCalls == null || !Model.AllCalls.Any())
{
    <div class="container-fluid">
        <div class="container">
            <div class="row profile">
                <div class="col-xs-11 col-sm-12">
                    <div class="alert alert-danger align_centet">Sorry, No Usage Found For Specified Date Range !!!</div>
                </div>

            </div>
        </div>
    </div>
}
else
{
    foreach (var item in Model.AllCalls)
    {
    <div class="container-fluid">
        <div class="container">
            <div class="row profile">
                <div class="col-xs-3 col-sm-5">
                    <h3 class="order_titile">@item.CallDate</h3>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <h3 class=" order_titile">@item.DestinationNumber</h3>
                </div>
                <div class="col-xs-3 col-sm-3  ">
                    <h3 class=" order_titile">@item.CallDuration</h3>
                </div>
            </div>
        </div>
    </div>
    }
}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="@Url.Action("Plan", "Account", new { id = encPlanPin })" class="btn btn-primary btn-block form_mar btn_bgray"><i class=" btn_prev fa fa-chevron-left"></i>Back</a>
            </div>
        </div>

    </div>
</div>
