@model MvcApplication1.Areas.Mobile.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
}

<div class="container-fluid">
    <div class="container">
        <h1 class=" title_login">Password Retrieval</h1>
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="row">
                <div class="col-xs-12">
                    <div class="container">
                        @Html.MessageBox(Model.Message, Model.MessageType)
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="form-group ">
                    <div class="col-xs-12">
                        <p>Please Enter the Email Address you registered with Raza.Com and your password will be automatically sent to your Email Address.</p>
                    </div>
                    <div class="col-xs-12">
                        @Html.TextBoxFor(a => a.Email, new { @class = "form-control form_mar ", @placeholder = "Email address" })
                        @Html.ValidationMessageFor(a => a.Email)
                    </div>
                </div>
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block form_mar btn_bgreen">Submit</button>
                </div>
                <div class="col-xs-12">
                    <a href="@Url.Action("LogOn", "Account")" class="btn btn-primary btn-block form_mar btn_bgray">Back</a>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
