@model MvcApplication1.Areas.Mobile.ViewModels.LogOnMobileViewModel
@{
    ViewBag.Title = "LogOn";
}

<div class="container-fluid">
    <div class="container">
        <h1 class=" title_login">Existing Customer Login</h1>
        @using (Html.BeginForm("LogOn", "Account", FormMethod.Post))
        {
            <div class="row">
                @Html.AntiForgeryToken()

                @Html.HiddenFor(a => a.ReturnUrl)
                @if (!String.IsNullOrEmpty(Model.Message))
                {
                    <div class="form-group">
                        <div class="alert @Model.MessageType">@Model.Message</div>
                    </div>
                }
                <div class="form-group">
                    <div class="col-xs-12">
                        @Html.TextBoxFor(a => a.UserEmail, new { @placeholder = "Email address", @class = "form-control form_mar" })
                        @Html.ValidationMessageFor(a => a.UserEmail)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        @Html.PasswordFor(a => a.Password, new { @placeholder = "Password", @class = "form-control form_mar" })
                        @Html.ValidationMessageFor(a => a.Password)
                    </div>
                </div>
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block form_mar btn_bgreen">Login</button>
                </div>

                <div class="col-xs-12">
                    <a href="@Url.Action("SignUp", "Account")" class="btn btn-primary btn-block form_mar btn_bred">New Customer? Sign up Now</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="checkbox form_mar">
                        <label>
                            @Html.CheckBoxFor(a => a.RememberMe)Remember Password | <a href="@Url.Action("ForgotPassword", "Account")">Forgot Password?</a>
                        </label>
                    </div>


                </div>
            </div>
        }
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}