@model MvcApplication1.Areas.Mobile.ViewModels.MyAccountMobileViewModel
@{
    ViewBag.Title = "MyAccount";
}

<div class="container-fluid">
    <div class="container">
        <h1 class=" title_login">My Account</h1>
        <h4 class="sub_titile">Welcome, @Model.UserName</h4>
        <h6 class="text-center">(@Model.Email)</h6>
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="row">
        <div class="col-xs-12">
            <div class="container">
                @Html.MessageBox(Model.Message, Model.MessageType)
            </div>
        </div>
    </div>
}
<div class="plan_tbg">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <h1 class=" title_plan">Plan</h1>
                </div>
                <div class="col-xs-6 col-sm-3 col-sm-offset-3 ">
                    <h4><a href="@Url.Action("OrderHistory", "Account")">Order History</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>

@foreach (var info in @Model.CustomerPlanList)
{
    <div class="container-fluid">
        <div class="container">
            <a href="@Url.Action("Plan", "Account", new { id = Html.EncodedParameterValue(info.PlanPin) })">
                <div class="row plan_bg">
                    <div class="col-xs-10 col-sm-6">
                        <h5 class="plan_title">@info.PlanName</h5>
                        <p class="plan_sub">Last Recharged On : @info.LastTransactionDate</p>
                    </div>
                    <div class="col-xs-2 col-sm-1 col-sm-offset-5">
                        <span class="fa fa-arrow-circle-o-right plan_arrow"></span>
                    </div>
                </div>
            </a>
        </div>
    </div>    
}


<div class="inter_tbg">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-sm-1">
                    <div class="new"></div>
                </div>
                <div class="col-xs-5 col-sm-5">
                    <h1 class="inter_title">Top Up International Mobile</h1>
                </div>
                <div class="col-xs-5 col-sm-2 col-sm-offset-4 ">
                    <h4 class="inter_btnb"><a href="@Url.Action("International", "TopUpMobile")">Top-up Now</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="domestic_tbg">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-sm-1">
                    <div class="new"></div>
                </div>
                <div class="col-xs-5 col-sm-5">
                    <h1 class="inter_title">Domestic Top Up </h1>
                </div>
                <div class="col-xs-5 col-sm-2 col-sm-offset-4 ">
                    <h4 class="inter_btng"><a href="@Url.Action("Domestic", "TopUpMobile")">Top-up Now</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>*@


<div class="profile_bg">
    <div class="container-fluid">
        <div class="container">
            <div class="row profile">
                <div class="col-xs-8 col-sm-6">
                    <h1 class="profile_title">Profile</h1>
                </div>
                <div class="col-xs-4 col-sm-2 col-sm-offset-4 ">
                    <h4 class="inter_title"><a href="@Url.Action("BillingInfo", "Account")">Edit</a></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-sm-6">
                    <h1 class=" profile_title">Raza Rewards™</h1>
                </div>
                <div class="col-xs-4 col-sm-2 col-sm-offset-4 ">
                    <h4 class="inter_title"><a href="@Url.Action("RazaReward", "Account")">Show All</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>





