@model MvcApplication1.Areas.Mobile.ViewModels.PinlessSetupViewModel
@{
    ViewBag.Title = "PinlessSetup";
}

<div class="container-fluid">
    <div class="container">
        <h1 class=" title_login">Your Registered Pinless Numbers</h1>
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="row">
        <div class="col-xs-12">
            <div class="container">
                @Html.MessageBox(Model.Message, Model.MessageType)
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    <div class="container">
        @{
            int i = 1;
            foreach (var item in Model.RegisteredPinlessNumbers)
            {
            <div class="row profile">
                <div class="col-xs-2 col-sm-1">
                    <h3 class=" review_titile">@i .</h3>
                </div>
                <div class="col-xs-8 col-sm-10  ">
                    <h3 class=" review_titile">@Html.MaskedPinlessNumbers(item.UnmaskPinlessNumber)</h3>
                </div>
                <div class="col-xs-2 col-sm-1  ">
                    <h3 class=" order_titile">
                        <a href="javascript:void(0);" data-toggle="modal" data-target=".del-@item.UnmaskPinlessNumber">
                            <span class="flaticon-cross108"></span>
                        </a>
                    </h3>
                </div>
            </div>
                i++;
                
            <div class="modal fade demo_dilogbox del-@item.UnmaskPinlessNumber" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            @using (Html.BeginForm("DeletePinLessSetup", "Account", new { id = Html.EncodedParameterValue(Model.PlanPin) }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="container-fluid">
                                    <div class="row">
                                        <input type="hidden" name="pinlessNumber" value="@item.UnmaskPinlessNumber"/>
                                        <input type="hidden" name="CountryCode" value="@item.CountryCode"/>
                                        <div class="col-xs-12 col-sm-6">
                                            <h4>Do you want to delete?</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                                    <button type="submit" class="btn btn-primary">Delete</button>
                                </div>
                            }
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
            }
            
            

            
        }
        <div class="row">
            <div class="col-xs-12">
                <a href="@Url.Action("AddNewPinlessNumber", "Account", new { id = @Html.EncodedParameterValue(Model.PlanPin) })" class="btn btn-primary btn-block form_mar btn_bgreen">Add New </a>
            </div>
            <div class="col-xs-12">
                <a href="@Url.Action("Plan", "Account", new { id = Html.EncodedParameterValue(Model.PlanPin) })" class="btn btn-primary btn-block form_mar btn_bgray"><i class=" btn_prev fa fa-chevron-left"></i>Back</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h5 class="register_content">Register Mobile or Landline to make calls Internationally, add up to 5 calling from numbers to your pinless setup and make calls conveniently.</h5>
            </div>
        </div>



    </div>
</div>

