@model MvcApplication1.Areas.Mobile.ViewModels.PlanInfoViewModel
@{
    ViewBag.Title = "PlanInfo";
    string encodedPlanPin = Html.EncodedParameterValue(Model.AccountNumber);
}


<div class="container-fluid">
    <div class="container">
        <h1 class=" title_login">@Model.PlanName</h1>
    </div>
</div>
<div class="plan_tbg">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-sm-10">
                    @if (Model.IsActivePlan && Model.ShowBalance)
                    {
                        <h1 class=" title_review">Balance : @Html.CurrencySign(Model.CurrencyCode)@Model.AccountBalance</h1>
                    }
                </div>
                <div class="col-xs-4 col-sm-2">
                    @if (Model.AllowRecharge)
                    {
                        if (Model.IsActivePlan)
                        {
                        <h1 class="one_recharge"><a href="@Url.Action("Index", "Recharge", new { id = encodedPlanPin })">Recharge</a>
                        </h1>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    @if (!Model.IsActivePlan)
    {
        <div class="container">
            <div class="alert @Model.MessageType">
                @Model.Message
            </div>
        </div>
    }
    else
    {
        <div class="container">

            <div class="row profile">
                <div class="col-xs-1 col-sm-1">
                    <h3 class="order_titile"><span class="s glyph-icon  flaticon-smartphone55"></span></h3>
                </div>
                <div class="col-xs-11 col-sm-11">
                    <a href="@Url.Action("OnetouchSetup", "Account", new { id = encodedPlanPin })">
                        <h3 class=" icon_title">One Touch Setup</h3>
                    </a>
                </div>
            </div>

            @if (Model.AutoRefillStatus == "A")
            {
                <!--
                A=>Active Autorefill
                U,N =>Not Activate can activate
                else=> feature not available
                -->
                <div class="row profile">
                    <div class="col-xs-1 col-sm-1">
                        <h3 class="order_titile"><span class=" glyph-icon flaticon-recharge"></span>
                            @*<label class="label label-success">Active</label>*@
                        </h3>
                    </div>
                    <div class="col-xs-11 col-sm-11">
                        <a>
                            <a href="@Url.Action("AutoRefill", "Account", new { id = encodedPlanPin })">
                                <h3 class=" icon_title">Auto Refill </h3>
                            </a>
                        </a>
                    </div>
                </div>
            }
            else if (Model.AutoRefillStatus == "U" || Model.AutoRefillStatus == "N")
            {
                <div class="row profile">
                    <div class="col-xs-1 col-sm-1">
                        <h3 class="order_titile"><span class=" glyph-icon flaticon-recharge"></span>
                        </h3>
                    </div>
                    <div class="col-xs-11 col-sm-11">
                        <a>
                            <a href="@Url.Action("AutoRefill", "Account", new { id = encodedPlanPin })">
                                <h3 class=" icon_title">Auto Refill </h3>
                            </a>
                        </a>
                    </div>
                </div>
            }
            else if (Model.AutoRefillStatus == "P")
            {
                <div class="row profile">
                    <div class="col-xs-1 col-sm-1">
                        <h3 class="order_titile"><span class=" glyph-icon flaticon-recharge"></span>
                        </h3>
                    </div>
                    <div class="col-xs-11 col-sm-11">
                        <a>
                            <a href="@Url.Action("AutoRefill", "Account", new { id = encodedPlanPin })">
                                <h3 class=" icon_title">Auto Refill </h3>
                            </a>
                        </a>
                    </div>
                </div>
            }

            @if (Model.AllowPinless)
            {
                <div class="row profile">
                    <div class="col-xs-1 col-sm-1">
                        <h3 class="order_titile"><span class="glyph-icon flaticon-link23"></span></h3>
                    </div>
                    <div class="col-xs-11 col-sm-11">
                        <a href="@Url.Action("PinLessSetupEdit", "Account", new { id = encodedPlanPin })">
                            <h3 class=" icon_title">Pinless Setup</h3>
                        </a>
                    </div>
                </div>
            }
            @if (Model.AllowQuickkey)
            {
                <div class="row profile">
                    <div class="col-xs-1 col-sm-1">
                        <h3 class="order_titile"><span class="glyph-icon flaticon-refresh57"></span></h3>
                    </div>
                    <div class="col-xs-11 col-sm-11">
                        <a href="#">
                            <a href="@Url.Action("QuickKeysSetupEdit", "Account", new { id = encodedPlanPin })">
                                <h3 class=" icon_title">Quickey Setup</h3>
                            </a>
                        </a>
                    </div>
                </div>
            }

            @if (Model.AllowCallForwading)
            {
                <div class="row profile">
                    <div class="col-xs-1 col-sm-1">
                        <h3 class="order_titile"><span class="glyph-icon flaticon-telephonecall2"></span></h3>
                    </div>
                    <div class="col-xs-11 col-sm-11">
                        <a href="@Url.Action("CallForwarding", "Account", new { id = encodedPlanPin })">
                            <h3 class=" icon_title">Call Forwarding</h3>
                        </a>
                    </div>
                </div>
            }

            @if (Model.AllowCDR)
            {
                <div class="row profile">
                    <div class="col-xs-1 col-sm-1">
                        <h3 class="order_titile"><span class="glyph-icon flaticon-user84"></span></h3>
                    </div>
                    <div class="col-xs-11 col-sm-11">
                        <a href="@Url.Action("CallDetailReport", "Account", new { id = encodedPlanPin })">
                            <h3 class=" icon_title">Call Details</h3>
                        </a>
                    </div>
                </div>
            }

            @if (Model.AllowRecharge)
            {
                if (Model.IsActivePlan && Model.IsValidForRedeem)
                {

                <div class="row profile">
                    <div class="col-xs-1 col-sm-1">
                        <h3 class="order_titile"><span class="glyph-icon flaticon-trophy99"></span></h3>
                    </div>
                    <div class="col-xs-11 col-sm-11">
                        <a href="@Url.Action("Index", "RedeemPoint", new { id = encodedPlanPin })">
                            <h3 class=" icon_title">Redeem points</h3>
                        </a>
                    </div>
                </div>
                }
            }
            <div class="row">
                <div class="col-xs-12">
                    <a href="@Url.Action("SavedPaymentInfo", "Account")" class="btn btn-primary btn-block form_mar btn_bgreen">Update Payment Information</a>
                </div>
                <div class="col-xs-12">
                    <a href="@Url.Action("MyAccount", "Account")" class="btn btn-primary btn-block form_mar btn_bgray"><i class=" btn_prev fa fa-chevron-left"></i>Back</a>
                </div>
            </div>

        </div>
    }
</div>
