@model MvcApplication1.Areas.Mobile.ViewModels.QuickkeysSetupsViewModel
@{
    ViewBag.Title = "QuickKeysSetupEdit";
    var encPlanPin = Html.EncodedParameterValue(Model.Planpin);
}


@helper QuickkeyNumberInfo(dynamic item, string guid, string encPlanId)
{
    <div class="modal fade @guid" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("DeleteQuickeys", "Account", new { id = encPlanId }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="DestinationNumber" value="@item.Destination"/>
                    <input type="hidden" name="QuickKeys" value="@item.SpeedDialNumber"/>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel">Details</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 demo_bor ">
                                    <div class="col-xs-6 col-sm-6 col-md-6">Name</div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">@item.NickName</div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 demo_bor ">
                                    <div class="col-xs-6 col-sm-6 col-md-6">Destination Number</div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 ref_name">@item.Destination</div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="col-xs-6 col-sm-6 col-md-6">Quickeys</div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">@item.SpeedDialNumber</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Delete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                    </div>
                }
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}




<div class="container-fluid">
    <div class="container">
        <h1 class=" title_login">Your Existing Quickeys</h1>
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="row">
        <div class="col-xs-12">
            <div class="container">
                @Html.MessageBox(Model.Message, Model.MessageType)
            </div>
        </div>
    </div>
}
<div class="plan_tbg">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-5 col-sm-6">
                    <h1 class=" title_review">Destination Number</h1>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <h1 class=" title_review">Quickeys</h1>
                </div>
                <div class="col-xs-3 col-sm-2">
                    <h1 class=" title_review">Details</h1>
                </div>
            </div>
        </div>
    </div>
</div>

@foreach (var item in Model.QuickKeysList)
{
    var guid = Guid.NewGuid().ToString();
    <div class="container-fluid">
        <div class="container">
            <div class="row profile">
                <div class="col-xs-6 col-sm-6">
                    <h3 class="order_titile ref_name">@item.NickName</h3>
                </div>
                <div class="col-xs-3 col-sm-4 ">
                    <h3 class=" order_titile">@item.SpeedDialNumber</h3>
                </div>
                <div class="col-xs-3 col-sm-2">
                    <a href="#" data-toggle="modal" data-target=".@guid">
                        <div class="info_iconm info_icon"></div>
                    </a>
                </div>
                @QuickkeyNumberInfo(item, guid, encPlanPin)
            </div>
        </div>
    </div>
    
}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="@Url.Action("AddNewQuickKey", "Account", new { id = encPlanPin })" class="btn btn-primary btn-block form_mar btn_bgreen">Add New </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="@Url.Action("Plan", "Account", new { id = encPlanPin })" class="btn btn-primary btn-block form_mar btn_bgray"><i class=" btn_prev fa fa-chevron-left"></i>Back</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h5 class="register_content">Register up to 10 quickey numbers that you call most often, just remember the quickey you are going to setup. Dial the Raza access number then # key followed by the quickey number.</h5>
                <h4>eg: #101</h4>
            </div>
        </div>
    </div>
</div>






