@model MvcApplication1.Areas.Mobile.ViewModels.SetupCallForwardViewModel
@{
    ViewBag.Title = "SetupCallForwarding";
}

<div class="container-fluid">
    <div class="container" id="container">
        <h1 class=" title_login">Call Forwarding Setup</h1>
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="row">
                <div class="col-xs-12">
                    <div class="container">
                        @Html.MessageBox(Model.Message, Model.MessageType)
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("SetupCallForwarding", "Account", FormMethod.Post))
        {
            <div class="row">
                <div class="col-xs-12 form_mar">
                    @Html.DropDownListFor(a => a.CallForwarding800Number, new SelectList(Model.CallForwarded800NumberList, "GetNumber", "GetNumber"), "Select Your 1-800 Number", new { @class = "form-control " })
                    @Html.ValidationMessageFor(a => a.CallForwarding800Number)

                </div>
                <div class="col-xs-12 form_mar">
                    @Html.DropDownListFor(a => a.CountryCode, new SelectList(Model.CountryToList, "Id", "Name"), "Select country", new { @class = "form-control " })
                    @Html.ValidationMessageFor(a => a.CountryCode)
                </div>
                <div class="col-xs-12">
                    <h3 class="text-center">Enter Destination Number</h3>
                </div>
                <div class="col-xs-4 form_mar">
                    <input type="text" class="form-control" value="@Model.CountryCode" id="displayCountryCode" placeholder="Country Code" readonly="readonly">
                </div>
                <div class="col-xs-8 form_mar">
                    @Html.TextBoxFor(a => a.DestinationPhoneNumber, new { @class = "form-control data-numeric", placeholder = "phone Number", type = "tel", maxlength = "10" })
                    @Html.ValidationMessageFor(a => a.DestinationPhoneNumber)
                </div>
                <div class="col-xs-12 section form_mar">
                    @Html.TextBoxFor(a => a.ActivationDate, new { @class = "datepicker form-control ", @placeholder = "Activation Date" })
                    @Html.ValidationMessageFor(a => a.ActivationDate)
                </div>
                <div class="col-xs-12 section ">
                    @Html.TextBoxFor(a => a.ExpiryDate, new { @class = "datepicker form-control ", @placeholder = "Expiry Date" })
                    @Html.ValidationMessageFor(a => a.ExpiryDate)

                </div>
                <div class="col-xs-12 form_mar">
                    @Html.TextBoxFor(a => a.ForwardedName, new { @class = "form-control  ", @placeholder = "Name Your Call Forwarding Number", @maxlength = "15" })
                    @Html.ValidationMessageFor(a => a.ForwardedName)
                </div>
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block form_mar btn_bgreen">Setup Call Forwarding</button>
                    <a href="@Url.Action("CallForwarding", "Account", new { id = Html.EncodedParameterValue(Model.PlanPin) })" class="btn btn-primary btn-block form_mar btn_bgray ">Back</a>
                </div>
            </div>
        }
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datePicker")


    <script>
        $("#CountryCode").change(function () {
            $("#displayCountryCode").val(this.value);
        });

        minDate = '@DateTime.Now.ToString("yyyy,mm,dd")';
        $(document).ready(function () {
            var $input = $('.datepicker').pickadate({
                formatSubmit: 'yyyy/mm/dd',
                format: 'mm/dd/yyyy',
                min: [minDate],
                container: '#container',
                // editable: true,
                closeOnSelect: true,
                closeOnClear: true,
            });

            var picker = $input.pickadate('picker');

        });

    </script>

}