
<!-- ========================================== start footer menu ========================================= -->
<div class=" container-fluid deal_bg  " id="footer-info-set">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 footer_menu ">
                <a href="@Url.Action("ContactUs", "Support")">
                    <div class="contact_icon footer_img"></div>
                    <p>Contact us</p>
                </a>

            </div>
            <div class="col-xs-4 footer_menu footer_menu_current">
                <a href="@Url.Action("Feedback", "Support")">
                    <div class="support_icon  footer_img"></div>
                    <p>Support</p>
                </a>
            </div>
            <div class="col-xs-4 footer_menu">
                <a href="@Url.Action("TryUsFree", "Rate")">
                    <div class="try_icon  footer_img"></div>
                    <p>Try us Free </p>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- ========================================== end footer menu ========================================= -->


<!-- ========================================== start footer ========================================= -->

<div class=" container-fluid footer_top">
    <div class="container">
        <p class="top_title"><a href="@Url.Action("SwitchView","Account")">Desktop View</a> | <a href="@Url.Action("TermsAndCondition", "Support")">Terms and Conditions</a> | <a href="@Url.Action("PrivacyPolicy", "Support")">Privacy Policy</a>
        </p>
    </div>
</div>
<div class=" container-fluid footer_bottom">
    <div class="container">
        <p class=" bottom_title">Copyright © 2000-2016 Raza Communications™</p>
    </div>
</div>


<!-- ========================================== end footer ========================================= -->
