@model MvcApplication1.Areas.Mobile.ViewModels.CartNewSignupViewModel
@{
    ViewBag.Title = "NewSignUp";
}

<div class="container-fluid">
    <div class="container">
        <h1 class=" title_login">New Account Signup</h1>
        @*<h4 class="sub_login">Personal Information</h4>*@

        <div class="row">
            @using (Html.BeginForm("NewSignUp", "Cart", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(a => a.ReturnUrl)
                if (!string.IsNullOrEmpty(Model.Message))
                {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="container">
                            @Html.MessageBox(Model.Message, Model.MessageType)
                        </div>
                    </div>
                </div>
                }
                
                if (!Model.IsDisabledPhoneNumber)
                {
                <div class="form-group">
                    <div class="col-xs-12">
                        @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "form-control data-numeric form_mar", @placeholder = "Phone Number", type = "tel", maxlength = "10" })
                        @Html.ValidationMessageFor(a => a.PhoneNumber)
                    </div>
                </div>
                }
                else
                {
                @Html.HiddenFor(a => a.PhoneNumber)
                }
                
                <div class="form-group ">
                    <div class="col-xs-12">
                        @Html.TextBoxFor(a => a.Email, new { @class = "form-control form_mar", @placeholder = "Email" })
                        @Html.ValidationMessageFor(a => a.Email)
                    </div>
                </div>
           
                <div class="form-group ">
                    <div class="col-xs-12">
                        @Html.PasswordFor(a => a.Password, new { @class = "form-control form_mar", @placeholder = "Password" })
                        @Html.ValidationMessageFor(a => a.Password)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "form-control form_mar", @placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(a => a.ConfirmPassword)
                    </div>
                </div>
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block form_mar btn_bgreen">Continue <span class=" btn_next fa fa-chevron-right"></span></button>
                </div>
                <div class="col-xs-12">
                    <a href="@Url.Action("LogOn", "Account", new { returnurl = Url.Action("UpdateBillingInfo", "Cart") })" class="btn btn-primary btn-block form_mar btn_bred">Existing Customer? Login </a>
                </div>
                
            }
        </div>

    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
