@model MvcApplication1.Areas.Mobile.ViewModels.CartPaymentInfoViewModel
@{
    ViewBag.Title = "PaymentInfo";
}

<div class="container-fluid">
    <div class="container">
        <h1 class=" title_login">Payment Information</h1>
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="row">
                <div class="col-xs-12">
                    <div class="container">
                        @Html.MessageBox(Model.Message, Model.MessageType)
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="form-group">
                @using (Html.BeginForm("PaymentInfo", "Cart", FormMethod.Post, new { @autocomplete = "off" }))
                {
                    @Html.HiddenFor(a => a.ReturnUrl)
                    <div class="col-xs-12">
                        <label>Select Card Type </label>
                        @Html.DropDownListFor(a => a.CardType, new SelectList(PaymentSettings.CardTypeList), "Select card type", new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.CardType)
                    </div>
                    <div class="form-group ">

                        <div class="col-xs-12 form_mar ">
                            <label>Card Number </label>
                            @Html.TextBoxFor(a => a.CreditCardNumber, new { @class = "form-control cc-number-val", @placeholder = "Card Number" })
                            @Html.ValidationMessageFor(a => a.CreditCardNumber)
                        </div>


                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label>Expiration Date </label>
                        </div>
                        <div class="col-xs-6">

                            @Html.DropDownListFor(a => a.ExpMonth, new SelectList(PaymentSettings.ExpMonthsList), "Month", new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.ExpMonth)
                        </div>
                        <div class="col-xs-6 ">
                            @Html.DropDownListFor(a => a.ExpYear, new SelectList(PaymentSettings.ExpYearsList), "Year", new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.ExpYear)
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-xs-12 form_marp">
                            <label>Card Verification Value </label>
                        </div>
                        <div class="col-xs-10 col-sm-7 ">

                            @Html.PasswordFor(a => a.Cvv, new { @class = "cc-cvc form-control", @placeholder = "Cvv number" })
                            @Html.ValidationMessageFor(a => a.Cvv)
                        </div>
                        <div class="col-xs-2 col-sm-5">
                            <h5><a href="#" data-toggle="modal" data-target="#cvv_no">
                                <div class="info_icon"></div>
                            </a></h5>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-xs-11 col-sm-12 form_marp">
                            <label>Coupon Code </label>
                        </div>
                        <div class="col-xs-10 col-sm-7 ">
                            @Html.TextBoxFor(a => a.CouponCode, new { @class = "form-control ", @placeholder = "Coupon Code" })
                        </div>
                        <div class="col-xs-2 col-sm-5 ">
                            <h5><a href="#" data-toggle="modal" data-target="#coupon_code">
                                <div class="info_icon"></div>
                            </a></h5>
                        </div>

                    </div>
                    
                    
                    @Html.HiddenFor(a => a.PaymentType)
                    <div class="col-xs-12">
                        <button type="submit" id="btnccPay" class="btn btn-primary btn-block form_mar btn_bgreen">Continue <span class=" btn_next fa fa-chevron-right"></span></button>
                    </div>
                    if(!Model.IsPaypalDisabled)
                     {
                         <div class="col-xs-12">
                             <button type="submit" id="btnPaybyPayPal" class="btn btn-primary btn-block form_mar btn_bgblue">Pay by Paypal</button>
                         </div>
                     }

                }

            </div>
        </div>

        @RenderPage("~/Areas/Mobile/Views/UiControls/WhatIsCvv.cshtml")
        @RenderPage("~/Areas/Mobile/Views/UiControls/WhatisCouponCode.cshtml")

    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var paypalPaymentType = '@PaymentSettings.PaymentType.PayPal.ToString()';
        var ccPaymentType = '@PaymentSettings.PaymentType.CreditCard.ToString()';
        $(function () {

            $("#btnPaybyPayPal").click(function () {
                $("#PaymentType").val(paypalPaymentType);
            });

            $("#btnccPay").click(function () {
                $("#PaymentType").val(ccPaymentType);
            });

        });

        (function () {
            jQuery.validator.addMethod("MatchWithCardType", function (value, element, params) {
                if ($("#PaymentType").val() === paypalPaymentType)
                    return true;

                var dependentProperty = $("#CardType").val().toLowerCase();
                var cardType = $.payment.cardType($('.cc-number-val').val());
                var isCardValid = $.payment.validateCardNumber($('.cc-number-val').val());
                if (isCardValid && (dependentProperty === cardType)) {
                    return true;
                }
                return false;
            });

            // code based on link
            var setValidationValues = function (options, ruleName, value) {
                options.rules[ruleName] = value;
                if (options.message) {
                    options.messages[ruleName] = options.message;
                }
            };

            var $Unob = $.validator.unobtrusive;

            $Unob.adapters.add("MatchWithCardType", ["dependentproperty", "dependentvalue"], function (options) {
                var value = {
                    dependentproperty: options.params.dependentproperty,
                    dependentvalue: options.params.dependentvalue
                };
                setValidationValues(options, "MatchWithCardType", value);

            });
        })();
    </script>
}


