@model MvcApplication1.Models.CartAuthenticateModel
@{
    ViewBag.Title = "RechargeConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>  
<!-- Confirmation Step4 -->

<style>
a{text-decoration:none;}


.btn{
	font-size:12px; text-align:center; font-weight:bold; color: #000;  border:1px solid #8b8b8b; background:#f3f3f3; border-radius:3px; padding:3px 8px; text-align:center; width:103px; margin:4px; float:left;;
}
.btn:hover{
	font-size:12px; text-align:center; font-weight:bold; color: #fff;  border:1px solid #8b8b8b; background:#79b215; border-radius:3px; padding:3px 8px; text-align:center; width:103px; margin:4px;
}


</style>

<div id="banner" style="margin-left:9px;">
        <img src="@Url.Content("~/images/confirmation-banner1.jpg")" /></div>
<div class="form_field">
    <h2 class="title_black"></h2>
    <div id="auto-refill" style="margin-left:9px;">
        <div id="auto-refill-scroller">
            <div class="top-bg">
                <h1>Order Confirmation</h1>
            </div>
            <div class="repeat-scroller-bg">
                <h3 class="thank-text" id="thanx-msg">@Model.FinalResponseMessage</h3>

                <div class="editprofile_b">
                    <div id="edit-profile">
                        <div class="hanging">
                            <p class="hanging_para">
                                 Purchase Date:<span class="hanging_s"> @DateTime.Now.ToString("M/d/yyyy HH:mm:ss")<strong>(EST)</strong></span>
                            </p>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.RechargeValues.order_id))
                        {
                            <h2 id="Order-id-resp" style="margin: 29px 0px 34px 6px!important; font-size: 25px!important;">Order ID: @Model.RechargeValues.order_id</h2>
                        }
                        <div class="div-border">
                        </div>
                        <a href="#" class="plan-detail-btn"></a>
                        <a href="#" class="plan-detail-btn_1"></a>
                        <div class="main-f-box">
                            <div class="first-box">
                                <p>
                                    Account Number:
                                </p>
                                <p>
                                    Plan Name:
                                </p>
                                <p>
                                    Access Number:
                                </p>
                                <p>
                                    Purchase Amount:
                                </p>
                                <p>
                                    Service Charge:
                                </p>
                                <p>
                                    Total Charge:
                                </p>
                                <p>
                                    Payment Method:
                                </p>
                            </div>
                            <div class="first-box">
                                <p class="rad">
                                    @Model.RechargeValues.Pin
                                </p>
                                <p>
                                    <a>@Model.RechargeValues.PlanName</a>
                                </p>
                                <p>
                                    <a class="blue" href="@Url.Action("index", "Support")#tabs-5">CLICK HERE</a>
                                </p>
                                <p>
                                    @Model.RechargeValues.CurrencyCode @Model.RechargeValues.Amount
                                </p>
                                <p>
                                    @Model.RechargeValues.CurrencyCode @Model.RechargeValues.ServiceFee
                                </p>
                                <p>
                                    @Model.RechargeValues.CurrencyCode <span>@Model.RechargeValues.TotalAmount</span>
                                </p>
                                <p>
                                    <span></span><span>@Model.RechargeValues.PaymentMethod</span>
                                </p>
                            </div>
                            <div class="second-box">
                                <div style="width:200px; display:inline-table;">
            <div style="width:152px; background:url(../images/cent-plan-top-bg.png) left top no-repeat; min-height:160px; display:inline-table; padding:0 10px; margin-top:-20px;">
			
              <p style="margin:0; border-bottom:1px solid #C9C9C9; display:inline-table; padding:13px 9px; "><a href="@Url.Action("AutoRefill","Account", new { order_id = Model.RechargeValues.OldOrderId })" class="btn">Auto-refill </a> </p>
			  
              <p style=" margin:0; border-bottom:1px solid #C9C9C9;  display:inline-table; padding:13px 9px; font-size:12px; font-weight:bold; "> <a href="@Url.Action("OnetouchSetup","Account", new { order_id = Model.RechargeValues.OldOrderId })" class="btn">One Touch Dialing</a> </p>
              
              <p style=" border-bottom:1px solid #C9C9C9; margin:0; display:inline-table; padding:13px 9px; font-size:12px; font-weight:bold; ">  <a href="@Url.Action("CallForwarding","Account",new{order_id=Model.RechargeValues.OldOrderId})" class="btn">Call Forwarding</a> </p>
			  
			  
				  <p style=" border-bottom:1px solid #C9C9C9; margin:0; display:inline-table;  padding:13px 9px; "> <a href="@Url.Action("PinLessSetupEdit","Account",new{order_id=Model.RechargeValues.OldOrderId})" class="btn">Pinless setup</a> </p>
				  
				  
				<p style=" border-bottom:1px solid #C9C9C9; margin:0; display:inline-table; padding:13px 9px;">  
				<a href="@Url.Action("QuickKeysSetupEdit","Account",new{order_id=Model.RechargeValues.OldOrderId})" class="btn">Quickey setup</a> </p>
				
				
				<p style=" margin:4px; display:inline-table; padding:13px 9px; ">  <a href="@Url.Action("CallDetailReport","Account",new{order_id=Model.RechargeValues.OldOrderId,date=Convert.ToString(DateTime.Now) })" class="btn">Call Details </a> </p>
				
				
              
            </div>
			
			<div style="width:172px; margin:0px 0 0 0px; background:url(../images/cent-plan-bot-bg.png) left bottom no-repeat;   height:15px;">
          </div>
		  
		  	</div>

		   
		   </div>
                          @*  <div class="second-box">
                                <div class="cent_top">
                                    <p>
                                        <a href="@Url.Action("MyAccount", "Account")" class="click-here">Click here</a>To
                                                            Setup Auto-refill
                                    </p>
                                    <p>
                                        <a href="@Url.Action("MyAccount", "Account")" class="click-here">Click here</a>To
                                                            Setup One Touch Dial
                                    </p>
                                    <p>
                                        <a href="@Url.Action("MyAccount", "Account")" class="click-here">Click here</a>To
                                                            Setup Call Forwarding
                                    </p>
                                    <p>
                                        <a href="@Url.Action("MyAccount", "Account")" class="click-here">Click here</a>To
                                                            Setup Pin-less dial
                                    </p>
                                    <p>
                                        <a href="@Url.Action("MyAccount", "Account")" class="click-here">Click here</a>To
                                                            Setup Quick keys
                                    </p>
                                    <p>
                                        <a href="@Url.Action("MyAccount", "Account")" class="click-here">Click here</a>To
                                                            View Call Details
                                    </p>
                                </div>
                                <div class="cent_bottom">
                                </div>
                            </div>*@
                            <div class="clear">
                            </div>
                            <h6 style="margin-top:30px; border-top:none !important">How to make calls from your registered phone number:
                                <span class="text-arrow"></span>
                            </h6>
                            <div style="margin:-44px 0px 0px 0px;">
		   <div class="pos-rel">
					<h3 class="compare_howit">SIMPLE &amp; EASY TO DIAL </h3>
                      <div class="pos-rel">
                        
                        <div class="retail_global_1">
                         <img src="@Url.Content("~/images/mobileplan_hwit.jpg")" alt="" class="mobile_img"> 
						 <p class="mobile_text">To Call within USA, Canada or Caribbean: Dial 1 + Area Code + Number followed # Key</p>
						  <p style="margin:8px 0 6px 162px; font-size:16px;">To call from Europe, dial 00 + the Country Code + the Phone Number followed by #.</p>
                         
				  
                        </div>
                      </div>
                      <div class="spacer"></div>
                      <div class="sprator"></div>
                      <div class="clear"></div>
                      
	  </div>
		   </div>
                           @* <ul class="dial-text">
                                <li>Dial the Access number.</li>
                                <li>To call within USA, Canada or Caribean : Dial 1 + Area Code + Number + "#" Sign</li>
                                <li>For International Calls: Dial 011 + Country Code + City Code + Number + "#" Sign</li>
                            </ul>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-scroller-bg">
            </div>
        </div>
    </div>
</div>
